{% extends 'main_app/base.html' %}

{% load static %}
{% load i18n %}

{% block head %}
<style>
  #background-video, #bg-video-btn {
    display: none;
  }
  .toolbar-container[_ngcontent-gox-c6] {
    display: none !important;
  }
  body {
    background-color: #303130;
  }
</style>
<style>
  /* Если мы на десктопе */
  @media screen and (min-width: 801px) {
    .error-text-box {
      max-width: 40%;
    }
  }
  /* Если мы на мобильном */
  @media screen and (max-width: 800px) {
    .error-text-box {
      margin-left: 40px;
    }
  }
</style>
{% endblock %}

{% block body %}
<div style="display: flex; align-items: center; justify-content: center;">
  <div class="error-text-box" style="z-index: 1;">
    <label style="font-size: 8rem; font-weight: bold; margin-right: 20px;">{{ code }}</label>
    <label style="font-size: 1.4rem; font-weight: bold;">{{ title }}</label>
    <br>
    <label style="font-size: 1.1rem; font-weight: bold;">{{ error_message }}</label>
  </div>
  <img src="{% static 'main_app/images/svg/BrokenRobot.svg' %}" style="position: absolute; max-width: 100%;">
</div>
{% endblock %}
