db.sqlite3

venv

.git
.vscode

**/migrations/**
!**/migrations
!**/migrations/__init__.py

__pycache__/
*/__pycache__/

.pytest_cache

media/*
# git не может добавить полностью пустой каталог поэтому добавляем файл пустышку в директорию media
!*media/.gitkeep

logs/*
!*logs/.gitkeep

.env
settings.ini

celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
celerybeat.pid

chromedriver.exe

redis

**/json/modelviewer/

**/static/**
!**/main_app/static
