{% extends 'main_app/base.html' %}

{% load static %}
{% load i18n %}
{% load main_app_tags %}

{% block head %}

<link rel="stylesheet" href="{{ 'main_app/css/main_apps/ap_calculator.css' | cachebuster }}">

{% if LANGUAGE_CODE == 'en' %}
  <style>
    .choosing-server-type-text-classic[_ngcontent-xpp-c82],
    .choosing-server-type-text-private[_ngcontent-xpp-c82] {
      margin-top: 2px;
    }
    .choosing-server-type-text-classic[_ngcontent-xpp-c82] {
      margin-left: -93px;
    }
    .choosing-server-type-text-private[_ngcontent-xpp-c82] {
      margin-left: 5px;
    }
  </style>
{% endif %}

{% endblock %}

{% block body %}
<app-arena-point-calculator _nghost-gox-c51="">
  <div _ngcontent-gox-c51="" class="bg-check page-size px-4 py-3">
    <div _ngcontent-gox-c51="" class="pb-5">
      <h2 _ngcontent-gox-c51="" class="my-4">{% trans 'Калькулятор очков арены' %}</h2>
      <div _ngcontent-gox-c51="">
        <div _ngcontent-gox-c51="" class="text-center mb-2">
          {% trans 'Укажите рейтинг для необходимого вам брекета чтобы узнать, сколько очков арены вы получите в конце недели.' %}
        </div>
        <br>

        <div class="choosing-server-type-text-and-input">
          <span _ngcontent-xpp-c82="" class="choosing-server-type-text-classic">
            {% trans 'Классический' %} WotLK</span>
          <div _ngcontent-xpp-c82="" class="checkBox">
            <input type="checkbox" _ngcontent-xpp-c82="" id="choosing-server-type">
            <label _ngcontent-xpp-c82="" for="choosing-server-type"></label>
          </div>
          <span _ngcontent-xpp-c82="" class="choosing-server-type-text-private">
            {% trans 'Пиратский' %} WotLK</span>
        </div>

        <table _ngcontent-gox-c51="" class="calculator-table">
          <tr _ngcontent-gox-c51="">
            <th _ngcontent-gox-c51="">{% trans 'Брекет' %}</th>
            <th _ngcontent-gox-c51="">{% trans 'Рейтинг' %}</th>
            <th _ngcontent-gox-c51="">{% trans 'Очки арены' %}</th>
          </tr>

          <tr _ngcontent-gox-c51="">
            <td _ngcontent-gox-c51="">{% trans '2на2' %}</td>
            <td _ngcontent-gox-c51="">
              <input _ngcontent-gox-c51="" type="text" maxlength="4" name="bracket2x2" placeholder="0" pattern="[0-9]\d*"
                onkeyup="this.value=this.value.replace(/[^\d]/g,'');" style="font-family: sans-serif; font-size: 16px;">
            </td>
            <td _ngcontent-gox-c51="">
              <span id="bracket2x2-points">0</span>

                <a _ngcontent-xpp-c94="" class="info">
                  <img _ngcontent-gox-c51="" src="{% static 'main_app/images/arenapoints.jpg' %}"
                    class="mat-tooltip-trigger ml-2" alt="Arena Points" aria-describedby="cdk-describedby-message-26"
                    cdk-describedby-host="" style="width: 20px;">

                  <span _ngcontent-xpp-c94="" class="info-text"
                    style="margin-top: -30px; margin-left: -117px;">
                    {% trans 'Очки арены' %}
                  </span>
                </a>

            </td>
          </tr>

          <tr _ngcontent-gox-c51="">
            <td _ngcontent-gox-c51="">{% trans '3на3' %}</td>
            <td _ngcontent-gox-c51="">
              <input _ngcontent-gox-c51="" type="text" maxlength="4" name="bracket3x3" placeholder="0" pattern="[0-9]\d*"
                onkeyup="this.value=this.value.replace(/[^\d]/g,'');" style="font-family: sans-serif; font-size: 16px;">
            </td>
            <td _ngcontent-gox-c51="">
              <span id="bracket3x3-points">0</span>

              <a _ngcontent-xpp-c94="" class="info">
                <img _ngcontent-gox-c51="" src="{% static 'main_app/images/arenapoints.jpg' %}"
                  class="mat-tooltip-trigger ml-2" alt="Arena Points" aria-describedby="cdk-describedby-message-26"
                  cdk-describedby-host="" style="width: 20px;">

                <span _ngcontent-xpp-c94="" class="info-text"
                  style="margin-top: -30px; margin-left: -117px;">
                  {% trans 'Очки арены' %}
                </span>
              </a>

            </td>
          </tr>

          <tr _ngcontent-gox-c51="">
            <td _ngcontent-gox-c51="">{% trans '5на5' %}</td>
            <td _ngcontent-gox-c51="">
              <input _ngcontent-gox-c51="" type="text" maxlength="4" name="bracket5x5" placeholder="0" pattern="[0-9]\d*"
                onkeyup="this.value=this.value.replace(/[^\d]/g,'');" style="font-family: sans-serif; font-size: 16px;">
            </td>
            <td _ngcontent-gox-c51="">
              <span id="bracket5x5-points">0</span>

              <a _ngcontent-xpp-c94="" class="info">
                <img _ngcontent-gox-c51="" src="{% static 'main_app/images/arenapoints.jpg' %}"
                  class="mat-tooltip-trigger ml-2" alt="Arena Points" aria-describedby="cdk-describedby-message-26"
                  cdk-describedby-host="" style="width: 20px;">

                <span _ngcontent-xpp-c94="" class="info-text"
                  style="margin-top: -30px; margin-left: -117px;">
                  {% trans 'Очки арены' %}
                </span>
              </a>

            </td>
          </tr>
        </table>

        <script>
          const url_ap_calculator = "{% url 'ap_calculator' %}";
        </script>
        <script src="{{ 'main_app/javascript/main_apps/ap_calculator.js' | cachebuster }}"></script>

        <div _ngcontent-gox-c51="" class="calculate-rating-for-points-container require-container">
          {% trans 'Чтобы претендовать на очки арены у вас должно быть сыграно не менее 10 игр к концу недели.' %}
        </div>
      </div>
    </div>
  </div>
</app-arena-point-calculator>
{% endblock %}
