{% extends 'main_app/base.html' %}

{% load static %}
{% load i18n %}

{% block head %}
<style>
  .calculator-table[_ngcontent-gox-c51] {
    margin: auto;
    width: 100%;
    max-width: 400px
  }
  input[_ngcontent-gox-c51] {
    background: #5f5f5f40;
    color: #7f7f7f;
    outline: 0;
    padding: 8px 10px;
    border: none;
    width: 100%
  }
  input[_ngcontent-gox-c51],
  td[_ngcontent-gox-c51],
  th[_ngcontent-gox-c51] {
    text-align: center
  }
  td[_ngcontent-gox-c51],
  th[_ngcontent-gox-c51] {
    font-size: 16px;
    border: 2px solid #050504 !important;
    max-width: 140px;
    font-weight: 500;
    font-family: Poppins, Open Sans, Questrial, Russo One, cursive;
    border-top: none;
    height: 40px
  }
  th[_ngcontent-gox-c51] {
    padding: 5px 8px;
    background-color: #316077
  }
  td[_ngcontent-gox-c51] {
    background-color: #222;
    color: #a0a0a0
  }
  .calculate-rating-for-points-container[_ngcontent-gox-c51] {
    width: 100%;
    max-width: 600px;
    margin: auto
  }
  .calculate-rating-for-points-container[_ngcontent-gox-c51] input[_ngcontent-gox-c51] {
    width: 100%;
    max-width: 200px;
    margin: auto;
    background: #313131;
    color: #7f7f7f
  }
  .calculate-rating-for-points-container[_ngcontent-gox-c51] img[_ngcontent-gox-c51] {
    width: 20px
  }
  .require-container[_ngcontent-gox-c51] {
    color: #88c9fb;
    margin-top: 48px;
    text-align: center;
  }
</style>

<style>
  .checkBox[_ngcontent-xpp-c82] {
    left: 1.5px;
    top: 3px;
    width: 62px;
    height: 20px;
    background: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(0, 200, 255, 1);
    box-shadow: inset 0 0 5px rgba(0, 200, 255, 1);
    position: relative;
    display: inline-block;
    border-radius: 5px
  }
  .checkBox[_ngcontent-xpp-c82]:after,
  .checkBox[_ngcontent-xpp-c82]:before {
    position: absolute;
    z-index: 0;
    font: 12px/26px Arial, sans-serif;
    font-weight: 700
  }
  .checkBox[_ngcontent-xpp-c82] label[_ngcontent-xpp-c82] {
    display: block;
    width: 26px;
    height: 13px;
    cursor: pointer;
    position: absolute;
    top: 2.4px;
    left: 3.5px;
    z-index: 1;
    border-radius: 4px;
    transition: all .3s ease;
    background: rgb(0, 110, 140);
    border: 1px solid rgba(0, 200, 255, 1);
    box-shadow: inset 0 0 5px rgba(0, 200, 255, 1);
  }
  .checkBox[_ngcontent-xpp-c82] label[_ngcontent-xpp-c82]:hover {
    background: rgb(0, 160, 204);
  }
  .checkBox[_ngcontent-xpp-c82] input[type=checkbox][_ngcontent-xpp-c82] {
    visibility: hidden
  }
  .checkBox[_ngcontent-xpp-c82] input[type=checkbox][_ngcontent-xpp-c82]:checked+label[_ngcontent-xpp-c82] {
    left: 30.5px
  }
  .choosing-server-type-text-classic[_ngcontent-xpp-c82],
  .choosing-server-type-text-private[_ngcontent-xpp-c82] {
    position: absolute;
    max-width: 99px;
    margin-top: -8.5px;
    text-align: center;
    font-size: 14px;
    color: #a0a0a0;
  }
  .choosing-server-type-text-classic[_ngcontent-xpp-c82] {
    margin-left: -100px;
  }
  .choosing-server-type-text-private[_ngcontent-xpp-c82] {
    margin-left: -8px;
  }
</style>

{% if LANGUAGE_CODE == 'en' %}
  <style>
    .choosing-server-type-text-classic[_ngcontent-xpp-c82],
    .choosing-server-type-text-private[_ngcontent-xpp-c82] {
      margin-top: 2px;
    }
    .choosing-server-type-text-classic[_ngcontent-xpp-c82] {
      margin-left: -93px;
    }
    .choosing-server-type-text-private[_ngcontent-xpp-c82] {
      margin-left: 5px;
    }
  </style>
{% endif %}

<style>
  .choosing-server-type-text-and-input {
    margin-left: auto;
    margin-right: auto;
    width: 4.5em;
    height: 3.5em;
  }
</style>
{% endblock %}

{% block menu %}
<ul _ngcontent-gox-c59="" class="navbar-nav">
  {% if user.is_superuser %}
    <li _ngcontent-gox-c59="" class="nav-item">
      <a _ngcontent-gox-c59="" class="nav-link" target="_BLANK" href="/admin/">admin</a>
    </li>
  {% endif %}
  <li _ngcontent-gox-c59="" class="nav-item">
    <a _ngcontent-gox-c59="" class="nav-link" href="{% url 'home' %}">{% trans 'Главная' %}</a>
  </li>
  <li _ngcontent-gox-c59="" class="nav-item">
    <a _ngcontent-gox-c59="" class="nav-link" href="{% url 'guides' %}">{% trans 'Гайды' %}</a>
  </li>
  <li _ngcontent-gox-c59="" class="nav-item">
    <a _ngcontent-gox-c59="" class="nav-link" href="{% url 'game_chat' %}">{% trans 'Игровой чат' %}</a>
  </li>
  <li _ngcontent-gox-c59="" class="nav-item">
    <a _ngcontent-gox-c59="" class="nav-link" href="{% url 'streams' %}">{% trans 'Стримы' %}
      <span class="badge badge-dark ng-star-inserted">{{ twitch_stream_count }}</span>
    </a>
  </li>
  <li _ngcontent-gox-c59="" class="nav-item">
    <a _ngcontent-gox-c59="" class="nav-link active" href="{% url 'ap_calculator' %}">{% trans 'Калькулятор апа' %}</a>
  </li>
  {% if user.is_authenticated %}
    <li _ngcontent-gox-c59="" class="nav-item">
      <a _ngcontent-gox-c59="" class="nav-link" href="{% url 'account' %}">
        {{ user }}
        <img _ngcontent-xpp-c84="" class="img-avatar" src="{{ user.get_avatar }}">
      </a>
    </li>
    <li _ngcontent-gox-c59="" class="nav-item">
      <a _ngcontent-gox-c59="" class="nav-link" href="{% url 'logout' %}">{% trans 'Выйти' %}</a>
    </li>
  {% else %}
    <li _ngcontent-gox-c59="" class="nav-item">
      <a _ngcontent-gox-c59="" class="nav-link" href="{% url 'register' %}">{% trans 'Регистрация' %}</a>
    </li>
    <li _ngcontent-gox-c59="" class="nav-item">
      <a _ngcontent-gox-c59="" class="nav-link" href="{% url 'login' %}">{% trans 'Войти' %}</a>
    </li>
  {% endif %}
  <li _ngcontent-gox-c59="" class="nav-item dev-chat">
    <a _ngcontent-gox-c59="" class="nav-link" target="_BLANK" href="{% url 'dev_chat' %}">
      <img _ngcontent-gox-c59="" src="{% static 'main_app/images/dev_chat_btn.png' %}">
    </a>
  </li>
</ul>
{% endblock %}

{% block body %}
<app-arena-point-calculator _nghost-gox-c51="">
  <div _ngcontent-gox-c51="" class="bg-check page-size px-4 py-3">
    <div _ngcontent-gox-c51="" class="pb-5">
      <h2 _ngcontent-gox-c51="" class="my-4">{% trans 'Калькулятор очков арены' %}</h2>
      <div _ngcontent-gox-c51="">
        <div _ngcontent-gox-c51="" class="text-center mb-2">
          {% trans 'Укажите рейтинг для необходимого вам брекета чтобы узнать, сколько очков арены вы получите в конце недели.' %}
        </div>
        <br>

        <div class="choosing-server-type-text-and-input">
          <span _ngcontent-xpp-c82="" class="choosing-server-type-text-classic">
            {% trans 'Классический' %} WotLK</span>
          <div _ngcontent-xpp-c82="" class="checkBox">
            <input type="checkbox" _ngcontent-xpp-c82="" id="choosing-server-type">
            <label _ngcontent-xpp-c82="" for="choosing-server-type"></label>
          </div>
          <span _ngcontent-xpp-c82="" class="choosing-server-type-text-private">
            {% trans 'Пиратский' %} WotLK</span>
        </div>

        <table _ngcontent-gox-c51="" class="calculator-table">
          <tr _ngcontent-gox-c51="">
            <th _ngcontent-gox-c51="">{% trans 'Брекет' %}</th>
            <th _ngcontent-gox-c51="">{% trans 'Рейтинг' %}</th>
            <th _ngcontent-gox-c51="">{% trans 'Очки арены' %}</th>
          </tr>

          <tr _ngcontent-gox-c51="">
            <td _ngcontent-gox-c51="">{% trans '2на2' %}</td>
            <td _ngcontent-gox-c51="">
              <input _ngcontent-gox-c51="" type="text" maxlength="4" name="bracket2x2" placeholder="0" pattern="[0-9]\d*"
                onkeyup="this.value=this.value.replace(/[^\d]/g,'');" style="font-family: sans-serif; font-size: 16px;">
            </td>
            <td _ngcontent-gox-c51="">
              <span id="bracket2x2-points">0</span>

                <a _ngcontent-xpp-c94="" class="info">
                  <img _ngcontent-gox-c51="" src="{% static 'main_app/images/arenapoints.jpg' %}"
                    class="mat-tooltip-trigger ml-2" alt="Arena Points" aria-describedby="cdk-describedby-message-26"
                    cdk-describedby-host="" style="width: 20px;">

                  <span _ngcontent-xpp-c94="" class="info-text"
                    style="margin-top: -30px; margin-left: -117px;">
                    {% trans 'Очки арены' %}
                  </span>
                </a>

            </td>
          </tr>

          <tr _ngcontent-gox-c51="">
            <td _ngcontent-gox-c51="">{% trans '3на3' %}</td>
            <td _ngcontent-gox-c51="">
              <input _ngcontent-gox-c51="" type="text" maxlength="4" name="bracket3x3" placeholder="0" pattern="[0-9]\d*"
                onkeyup="this.value=this.value.replace(/[^\d]/g,'');" style="font-family: sans-serif; font-size: 16px;">
            </td>
            <td _ngcontent-gox-c51="">
              <span id="bracket3x3-points">0</span>

              <a _ngcontent-xpp-c94="" class="info">
                <img _ngcontent-gox-c51="" src="{% static 'main_app/images/arenapoints.jpg' %}"
                  class="mat-tooltip-trigger ml-2" alt="Arena Points" aria-describedby="cdk-describedby-message-26"
                  cdk-describedby-host="" style="width: 20px;">

                <span _ngcontent-xpp-c94="" class="info-text"
                  style="margin-top: -30px; margin-left: -117px;">
                  {% trans 'Очки арены' %}
                </span>
              </a>

            </td>
          </tr>

          <tr _ngcontent-gox-c51="">
            <td _ngcontent-gox-c51="">{% trans '5на5' %}</td>
            <td _ngcontent-gox-c51="">
              <input _ngcontent-gox-c51="" type="text" maxlength="4" name="bracket5x5" placeholder="0" pattern="[0-9]\d*"
                onkeyup="this.value=this.value.replace(/[^\d]/g,'');" style="font-family: sans-serif; font-size: 16px;">
            </td>
            <td _ngcontent-gox-c51="">
              <span id="bracket5x5-points">0</span>

              <a _ngcontent-xpp-c94="" class="info">
                <img _ngcontent-gox-c51="" src="{% static 'main_app/images/arenapoints.jpg' %}"
                  class="mat-tooltip-trigger ml-2" alt="Arena Points" aria-describedby="cdk-describedby-message-26"
                  cdk-describedby-host="" style="width: 20px;">

                <span _ngcontent-xpp-c94="" class="info-text"
                  style="margin-top: -30px; margin-left: -117px;">
                  {% trans 'Очки арены' %}
                </span>
              </a>

            </td>
          </tr>
        </table>

        <script>
          var choosing_server_type = document.querySelector('#choosing-server-type');
          var current_server_type;
          let event = new Event('input');
          choosing_server_type.addEventListener('input', function() {
            window.localStorage.setItem('choosing_server_type', choosing_server_type.checked);
            current_server_type = choosing_server_type.checked;

            // вручную генерируем ивент для того чтобы сработала отправка данных на сервер
            $('.calculator-table input')[0].dispatchEvent(event);
          });

          var choosing_server_type_from_local_storage = JSON.parse(window.localStorage.getItem('choosing_server_type'));
          if (choosing_server_type_from_local_storage) {
            choosing_server_type.checked = true;
            current_server_type = true;
          } else {
            choosing_server_type.checked = false;
            current_server_type = false;
          };
        </script>

        <script>
          var changeTimer = false;
          var csrftoken = Cookies.get('csrftoken');

          $('.calculator-table input').on('input', function(event) {

            data = {};

            $('.calculator-table input').each(function(index, element) {
              clean_value = element.value.replace(/[^\d]/g,'');
              if (clean_value) {
                data[element.name] = clean_value;
              } else {
                data[element.name] = '0';
              };
            });

            data['server_type'] = current_server_type;

            if (changeTimer !== false) {
              clearTimeout(changeTimer);
            };
            changeTimer = setTimeout(function() {

              $.ajax({
                type: 'POST',
                dataType: 'JSON',
                url: "{% url 'ap_calculator' %}",
                data: data,
                headers: {'X-CSRFToken': csrftoken},

                success: function(data, textStatus, jqXHR) {
                  for (var bracket in data) {
                    $(`#${bracket}-points`).text(data[bracket]);
                  };
                },
              });
              changeTimer = false;
            }, 500);
          });
        </script>

        <div _ngcontent-gox-c51="" class="calculate-rating-for-points-container require-container">
          {% trans 'Чтобы претендовать на очки арены у вас должно быть сыграно не менее 10 игр к концу недели.' %}
        </div>
      </div>
    </div>
  </div>
</app-arena-point-calculator>
{% endblock %}
