{% load static %}
{% load i18n %}
{% load main_app_tags %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="Description" content="frishub, это инструмент помогающий пвп сообществу в Wrath of the Lich King. Гайды, Игровой чат, Стримы, Калькулятор очков арены.">
    <meta name="Keywords" content="wow, World of Warcraft, WoW, PvP, Wrath of the Lich King, wotlk, Classic, Player versus Player, rival, gladiator, duelist, rank, ranking, arena, 2v2, 3v3, 5v5, battle.net, Blizzard, high, experience, exp, max, rating, achievements">
    <meta name="Identifier-URL" content="https://frishub.ru">
    <meta name="Copyright" content="https://frishub.ru">
    <meta name="Robots" content="all">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <base href="{% url 'home' %}"> -->

    <title>FRISHUB</title>

    <link rel="icon" type="image/x-icon" href="{% static 'main_app/images/logo.png' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'main_app/images/favicon.ico' %}"/>

    <script src="{% url 'javascript-catalog' %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js" integrity="sha512-Meww2sXqNHxI1+5Dyh/9KAtvI9RZSA4c1K2k5iL02oiPO/RH3Q30L3M1albtqMg50u4gRTYdV4EXOQqXEI336A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'main_app/css/main_apps/base.css' %}">

    <!-- https://github.com/fengyuanchen/jquery-cropper -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css" integrity="sha512-cyzxRvewl+FOKTtpBzYjW6x6IAYUCZy3sGP40hn+DQkqeluGRCax7qztK2ImL64SA+C7kVWdLI6wvdlStawhyw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js" integrity="sha512-6lplKUSl86rUVprDIjiW8DuOniNX8UDoRATqZSds/7t6zCQZfaCe3e5zcGaQwxa8Kpn5RTM9Fvl3X2lLV4grPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cropper/1.0.1/jquery-cropper.min.js" integrity="sha512-V8cSoC5qfk40d43a+VhrTEPf8G9dfWlEJgvLSiq2T2BmgGRmZzB8dGe7XAABQrWj3sEfrR5xjYICTY4eJr76QQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
      const whTooltips = { colorLinks: true, iconizeLinks: true, renameLinks: true, iconSize: 'small' };
    </script>

    <!-- <script src="https://wow.zamimg.com/widgets/power.js"></script> -->
    <script src="{% static 'main_app/javascript/zamimg_power.min.js' %}"></script>

    <script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>

    <style>
      .toast-bottom-right {
        right: 12px;
        bottom: 12px;
        animation: toast_message_opacity {{ toast_message_time }}s forwards ease-in-out; /* динамическое время */
      }

      .russian-btn {
        border:none;
        width: 158px;
        height: 25px;
        background: url("{% static 'main_app/images/svg/RU.svg' %}") no-repeat 10px 2px;
        background-size: auto 85%;
        text-align: center;
        padding-left: 30px;
        color:#fff;
      }
      .english-btn {
        border:none;
        width: 158px;
        height: 25px;
        background: url("{% static 'main_app/images/svg/EN.svg' %}") no-repeat 10px 2px;
        background-size: auto 85%;
        text-align: center;
        padding-left: 30px;
        color:#fff;
      }
    </style>

    <script>
      const twitch_stream_count_task_id = "{{ twitch_stream_count_task_id }}";
      const trans_text_copied = "{% trans 'Текст скопирован!' %}";
      const debug_mode = JSON.parse("{{ debug_mode }}".toLowerCase());
      const csrf_token = '{% csrf_token %}';
      const PARENT_DOMAIN = "{{ PARENT_DOMAIN }}";
    </script>
    <script src="{% static 'main_app/javascript/main_apps/base_top.js' %}"></script>

    {% block head %}
    {% endblock %}

  </head>

  <body>

    <script>
      const background_images = new Array(
        "{% static 'main_app/images/play.png' %}",
        "{% static 'main_app/images/pause.png' %}",
      );
    </script>
    <script src="{% static 'main_app/javascript/main_apps/base_mid.js' %}"></script>

    <video autoplay muted loop id="background-video"
      poster="{% static 'main_app/images/gingerbread_static.jpg' %}">
      <source src="{% static 'main_app/images/gingerbread_animatic.webm' %}" type="video/webm">
    </video>
    <input id="bg-video-btn" type="image" onclick="pauseBackgroundVideo();">
    <script>setPauseImageOnLoad();</script>

    <app-root _nghost-gox-c6="" ng-version="12.0.2" class="app-root-class">

      <app-menu _ngcontent-gox-c6="" _nghost-gox-c59="">

        <nav _ngcontent-gox-c59="" class="navbar navbar-expand-xl navbar-dark bg-navbar select-none">

          <!-- Название сайта с картинкой с мобильного устройства в левом верхнем углу -->
          <a _ngcontent-gox-c59="" data-toggle="collapse" data-target="#nav-menu" aria-controls="nav-menu"
            aria-expanded="false" aria-label="Toggle navigation" class="navbar-brand d-xl-none">
            <img _ngcontent-gox-c59="" src="{% static 'main_app/images/logo.png' %}">FRISHUB
          </a>

          <button _ngcontent-gox-c59="" type="button" data-toggle="collapse" data-target="#nav-menu"
            aria-controls="nav-menu" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler">
            <span _ngcontent-gox-c59="" class="navbar-toggler-icon"></span>
          </button>

          <div _ngcontent-gox-c59="" id="nav-menu" class="collapse navbar-collapse">

            <!-- Селектор выбора локализации для десктопов -->
            <div _ngcontent-gox-c59="" class="dropdown float-left d-none d-xl-inline">
              <button _ngcontent-gox-c59="" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" class="btn btn-select-lang dropdown-toggle">
                <img _ngcontent-gox-c59="" {% if LANGUAGE_CODE == 'ru' %} src="{% static 'main_app/images/svg/RU.svg' %}"
                  {% elif LANGUAGE_CODE == 'en' %} src="{% static 'main_app/images/svg/EN.svg' %}" {% endif %}>
              </button>
              <div _ngcontent-gox-c59="" aria-labelledby="dropdownMenuButton" class="dropdown-menu">
                  <span _ngcontent-gox-c59="" class="dropdown-item">
                    <form action="{% url 'set_language' %}" method="POST">
                      {% csrf_token %}
                      <input _ngcontent-gox-c59="" class="russian-btn" type="hidden" name="language" value="ru">
                      <input _ngcontent-gox-c59="" class="russian-btn" value="{% trans 'Русский' %}"
                        {% if LANGUAGE_CODE != 'ru' %} type="submit" {% else %} type="button" {% endif %}>
                    </form>
                  </span>
                  <span _ngcontent-gox-c59="" class="dropdown-item">
                    <form action="{% url 'set_language' %}" method="POST">
                      {% csrf_token %}
                      <input _ngcontent-gox-c59="" class="english-btn" type="hidden" name="language" value="en">
                      <input _ngcontent-gox-c59="" class="english-btn" value="English"
                        {% if LANGUAGE_CODE != 'en' %} type="submit" {% else %} type="button" {% endif %}>
                    </form>
                  </span>
              </div>
            </div>

            <!-- Название сайта с картинкой с десктопа в левом верхнем углу -->
            <div _ngcontent-gox-c59="" class="version-container d-none d-xl-inline site-name-container">
              <a _ngcontent-gox-c59="" href="{% url 'home' %}" class="site-name-a">
                <img _ngcontent-gox-c59="" src="{% static 'main_app/images/logo.png' %}">
                <span _ngcontent-gox-c59="">Frishub</span>
              </a>
            </div>

            <!-- Меню в шапке -->
            <ul _ngcontent-gox-c59="" class="navbar-nav">
              {% if user.is_staff %}
                {% if user.is_superuser %}
                  <li _ngcontent-gox-c59="" class="nav-item">
                    <a _ngcontent-gox-c59="" class="nav-link" target="_BLANK" href="/flower/">flower</a>
                  </li>
                {% endif %}
                <li _ngcontent-gox-c59="" class="nav-item">
                  <a _ngcontent-gox-c59="" class="nav-link" target="_BLANK" href="/admin/">admin</a>
                </li>
              {% endif %}
              <li _ngcontent-gox-c59="" class="nav-item">
                <a _ngcontent-gox-c59="" class="nav-link" href="{% url 'home' %}">{% trans 'Главная' %}</a>
              </li>
              <li _ngcontent-gox-c59="" class="nav-item">
                <a _ngcontent-gox-c59="" class="nav-link" href="{% url 'guides' %}">{% trans 'Гайды' %}</a>
              </li>
              <li _ngcontent-gox-c59="" class="nav-item">
                <a _ngcontent-gox-c59="" class="nav-link" href="{% url 'game_chat' %}">{% trans 'Игровой чат' %}</a>
              </li>
              <li _ngcontent-gox-c59="" class="nav-item">
                <a _ngcontent-gox-c59="" class="nav-link" href="{% url 'streams' %}">{% trans 'Стримы' %}
                  <span class="badge badge-dark ng-star-inserted" id="twitch-stream-count">{% if twitch_stream_count %}{{ twitch_stream_count }}{% else %}0{% endif %}</span>
                </a>
              </li>
              <li _ngcontent-gox-c59="" class="nav-item">
                <a _ngcontent-gox-c59="" class="nav-link" href="{% url 'dressing_room' %}">{% trans 'Примерочная' %}</a>
              </li>
              <li _ngcontent-gox-c59="" class="nav-item">
                <a _ngcontent-gox-c59="" class="nav-link" href="{% url 'ap_calculator' %}">{% trans 'Калькулятор апа' %}</a>
              </li>
              {% if user.is_authenticated %}
                <li _ngcontent-gox-c59="" class="nav-item">
                  <a _ngcontent-gox-c59="" class="nav-link" href="{% url 'account' %}">
                    {{ user }}
                    <img _ngcontent-xpp-c84="" class="img-avatar" src="{{ user.get_avatar }}">
                  </a>
                </li>

                <li _ngcontent-gox-c59="" class="nav-item">
                  <div _ngcontent-gox-c59="" class="nav-link" style="padding: 3px 5px;">
                    <div class="notify-container">
                      <div id="notify-counter"></div>
                      <div id="notify-bell" class="fa fa-bell"></div>
                      <div id="notifications">
                        <h3 class="notifications-h3">{% trans 'Уведомлений' %} <span class="notifications-h3-text"></span></h3>
                        <div class="table-responsive notifications-table"></div>
                      </div>
                    </div>
                  </div>
                </li>

                <li _ngcontent-gox-c59="" class="nav-item">
                  <a _ngcontent-gox-c59="" class="nav-link" href="{% url 'logout' %}">{% trans 'Выйти' %}</a>
                </li>
              {% else %}
                <li _ngcontent-gox-c59="" class="nav-item">
                  <a _ngcontent-gox-c59="" class="nav-link" href="{% url 'register' %}">{% trans 'Регистрация' %}</a>
                </li>
                <li _ngcontent-gox-c59="" class="nav-item">
                  <a _ngcontent-gox-c59="" class="nav-link" href="{% url 'login' %}">{% trans 'Войти' %}</a>
                </li>
              {% endif %}
              <li _ngcontent-gox-c59="" class="nav-item dev-chat">
                <a _ngcontent-gox-c59="" class="nav-link" target="_BLANK" href="{% url 'dev_chat' %}">
                  <img _ngcontent-gox-c59="" src="{% static 'main_app/images/dev_chat_btn.png' %}">
                </a>
              </li>
            </ul>

            <!-- Селектор выбора локализации для мобилок -->
            <div _ngcontent-gox-c59="" class="dropdown float-left d-inline d-xl-none">
              <button _ngcontent-gox-c59="" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" class="btn btn-select-lang dropdown-toggle">
                <img _ngcontent-gox-c59="" {% if LANGUAGE_CODE == 'ru' %} src="{% static 'main_app/images/svg/RU.svg' %}"
                  {% elif LANGUAGE_CODE == 'en' %} src="{% static 'main_app/images/svg/EN.svg' %}" {% endif %}
                  style="margin-bottom: -1px;">
              </button>
              <div _ngcontent-gox-c59="" aria-labelledby="dropdownMenuButton" class="dropdown-menu">
                <span _ngcontent-gox-c59="" class="dropdown-item">
                  <form action="{% url 'set_language' %}" method="POST">
                    {% csrf_token %}
                    <input _ngcontent-gox-c59="" class="russian-btn" type="hidden" name="language" value="ru">
                    <input _ngcontent-gox-c59="" class="russian-btn" value="{% trans 'Русский' %}"
                      {% if LANGUAGE_CODE != 'ru' %} type="submit" {% else %} type="button" {% endif %}>
                  </form>
                </span>
                <span _ngcontent-gox-c59="" class="dropdown-item">
                  <form action="{% url 'set_language' %}" method="POST">
                    {% csrf_token %}
                    <input _ngcontent-gox-c59="" class="english-btn" type="hidden" name="language" value="en">
                    <input _ngcontent-gox-c59="" class="english-btn" value="English"
                      {% if LANGUAGE_CODE != 'en' %} type="submit" {% else %} type="button" {% endif %}>
                  </form>
                </span>
              </div>
            </div>

            <div _ngcontent-gox-c59="" class="float-right users-connected">
              <div _ngcontent-gox-c59="" id="number-connected" style="margin-top: -1px; color: #28e219;">
                {{ request.users_online_count }}
              </div>
              <div _ngcontent-gox-c59="" id="label-connected">
                {% trans 'пользователей онлайн' %}
              </div>
            </div>

          </div>
        </nav>
      </app-menu>

      <script>
        const LANGUAGE_CODE = "{{ LANGUAGE_CODE }}";
        const notify_sonic_ring = "{% static 'main_app/sounds/notify_sonic_ring.mp3' %}";
      </script>
      <script src="{% static 'main_app/javascript/main_apps/base_bottom.js' %}"></script>

      {% if user.is_authenticated %}
        {% register_custom_notify_callbacks api_name='all_list' fetch=99 refresh_period=12 callbacks='notification_callback' %}
      {% endif %}

      <!-- Фильтры https://django.fun/ru/docs/django/4.1/ref/templates/builtins/ -->
      <!-- ng-tns-c38-ПОРЯДКОВЫЙ_НОМЕР_ОШИБКИ -->
      {% if messages %}
        {% for message in messages %}
          <div onclick="toggleImage();" id="toast-container" class="toast-bottom-right toast-container">
            <div class="ng-tns-c38-1 ng-star-inserted ng-trigger ng-trigger-flyInOut ngx-toastr toast-{{ message.tags }}">
              {% autoescape off %}
                <div role="alert" class="ng-tns-c38-1 toast-message ng-star-inserted" aria-label="{{ message }}">{{ message }}</div>
              {% endautoescape %}
            </div>
          </div>
        {% endfor %}
      {% endif %}

      <div _ngcontent-gox-c6="" class="margin-top-l">

        {% block body %}
        {% endblock %}

      </div>

      <!-- Иконка донейшн алертс -->
      <div _ngcontent-gox-c6="" class="toolbar-container d-md-block">
        <div _ngcontent-gox-c6="" class="tool-container">
          <app-banner-donation-alerts _ngcontent-gox-c6="" _nghost-gox-c60="">

            <div _ngcontent-gox-c60="" id="open-da-btn-bar" class="p-3" style="cursor: pointer;"
              onclick="document.getElementById('da-btn-bar').style.display = 'block';
                       document.getElementById('open-da-btn-bar').style.display = 'none';">

              <img _ngcontent-gox-c60="" class="vibro-da-icon"
                src="{% static 'main_app/images/donation_alerts.png' %}" style="width: 28px;">
            </div>

            <div _ngcontent-gox-c60="" id="da-btn-bar" class="p-3"
              style="max-width: 210px; border-bottom: 2px solid #1fb8ff; border-radius: 0.25rem; display: none;">

              <span _ngcontent-gox-c60="" id="cn-notice-text">
                {% trans 'Если вы цените мою работу, вы можете поддержать меня!' %}
              </span>
              <div _ngcontent-gox-c60="" class="d-block d-md-block mt-2">
                <a _ngcontent-gox-c60="" target="_BLANK"
                  href="https://www.donationalerts.com/r/friskesx"
                  class="mb-1 btn-custom btn-accept-cookie" style="padding: 2px;">{% trans 'Поддержать' %}
                </a>
                <button _ngcontent-gox-c60="" class="btn-custom btn-accept-cookie"
                  onclick="document.getElementById('da-btn-bar').style.display = 'none';
                           document.getElementById('open-da-btn-bar').style.display = 'block';">{% trans 'Позже' %}
                </button>
              </div>

            </div>

          </app-banner-donation-alerts>
        </div>
      </div>

      <div id="notify-push-popup"></div>

      <div _ngcontent-gox-c60="" id="da-btn-bar3" class="p-3">
        <span _ngcontent-gox-c60="" id="cn-notice-text">
          <p class="cookie-policy__text" style="margin: auto;">
            {% trans 'Мы используем файлы cookie и другие средства сохранения предпочтений и анализа действий посетителей сайта. Подробнее об этом в' %}
            <a _ngcontent-gox-c60="" class="link-terms-of-use" target="_BLANK"
              href="{% url 'terms_of_use' %}">{% trans 'Политике конфиденциальности' %}.
            </a>
            {% trans 'Нажмите кнопку «Принять», если даёте согласие на это.' %}
            <button _ngcontent-gox-c60="" class="btn-custom btn-accept-cookie2">
              <span class="btn-accept-cookie2-text">{% trans 'Принять' %}</span>
            </button>
          </p>
        </span>
      </div>

      <script src="{% static 'main_app/javascript/main_apps/base_accept_cookie.js' %}"></script>

      <!-- Пустой промежуток внизу экрана -->
      <div _ngcontent-gox-c6="" class="margin-bottom-l"></div>

    </app-root>

    <div _ngcontent-xpp-c17="">
      <app-footer _ngcontent-xpp-c17="" _nghost-xpp-c128="">
        <footer _ngcontent-xpp-c128="" class="select-none">
          <!-- На пк -->
          <div _ngcontent-xpp-c128="" class="links d-none d-md-block">
            <a _ngcontent-xpp-c128="" href="{% url 'contact_me' %}">{% trans 'Связь со мной' %}</a> -
            <a _ngcontent-xpp-c128="" href="https://www.donationalerts.com/r/friskesx" target="_BLANK" class="dalerts">
              {% trans 'Поддержать меня на' %} DAlerts
            </a>
          </div>
          <div _ngcontent-xpp-c128="" class="documents d-none d-md-block">
            <a _ngcontent-xpp-c128="" href="#">Terms of use</a> -
            <a _ngcontent-xpp-c128="" href="#">Cookie Policy</a> -
            <a _ngcontent-xpp-c128="" href="#">Privacy Policy</a>
          </div>
          <!-- На смартфоне -->
          <div _ngcontent-xpp-c128="" class="links d-block d-md-none">
            <div _ngcontent-xpp-c128="" class="my-1">
              <a _ngcontent-xpp-c128="" href="{% url 'contact_me' %}">{% trans 'Связь со мной' %}</a>
            </div>
            <div _ngcontent-xpp-c128="" class="my-1">
              <a _ngcontent-xpp-c128="" href="https://www.donationalerts.com/r/friskesx" target="_BLANK" class="dalerts">
                {% trans 'Поддержать меня на' %} DAlerts
              </a>
            </div>
          </div>
          <div _ngcontent-xpp-c128="" class="documents d-block d-md-none">
            <a _ngcontent-xpp-c128="" href="">Terms of use</a> -
            <a _ngcontent-xpp-c128="" href="">Cookie Policy</a> -
            <a _ngcontent-xpp-c128="" href="">Privacy Policy</a>
          </div>
          <!-- Везде -->
          <div _ngcontent-xpp-c128="" class="mt-3 copyright">© Copyright 2023-2025 frishub.ru</div>
        </footer>
      </app-footer>
    </div>

  </body>

  <app-content ng-version="14.0.2"></app-content>

</html>
