{% extends 'main_app/base.html' %}

{% load static %}
{% load i18n %}

{% block head %}

<link rel="stylesheet" href="{% static 'main_app/css/main_apps/dev_chat_room.css' %}">

<!-- https://fonts.google.com/icons -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
<style>
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48;
    position: relative;
    top: 3px;
  }
</style>

<!-- https://github.com/ajaxorg/ace -->
<!-- https://ace.c9.io/#nav=howto -->
<script src="{% static 'main_app/javascript/ace-editor/ace-builds/src-min-noconflict/ace.js' %}"
  type="text/javascript" charset="utf-8"></script>
<!-- https://github.com/convergencelabs/ace-collab-ext -->
<link rel="stylesheet" href="{% static 'main_app/javascript/ace-editor/ace-collab-ext/src/ace-collab-ext.css' %}">
<script src="{% static 'main_app/javascript/ace-editor/ace-collab-ext/src/ace-collab-ext.min.js' %}"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/@convergencelabs/ace-collab-ext@0.6.0/dist/umd/ace-collab-ext.min.js"
  integrity="sha256-GKq7dGDuAyNLhyKy1ruR/HJR2Xgd2oGzTmXH2FhaqPA=" crossorigin="anonymous"></script> -->

{% endblock %}

{% block body %}
<div _ngcontent-gox-c60="" id="login-popup" class="p-3">
  <span _ngcontent-gox-c60="" id="cn-notice-text" style="font-size: 20px; font-weight: 600; line-height: 45px;">
    {% trans 'Пожалуйста, представьтесь' %}
  </span>
  <div _ngcontent-gox-c60="" class="d-block d-md-block mt-2">
    <fieldset _ngcontent-xcm-c64="">
      <div _ngcontent-xcm-c64="" class="form-label ng-star-inserted">&nbsp;</div>
      <input _ngcontent-xcm-c64="" type="text" name="username" maxlength="20" placeholder="{% trans 'Ваше имя' %}"
        style="font-family: sans-serif; font-size: 16px;" required id="dev_chat_username"
        onkeyup="if (event.keyCode === 13 && event.target.value !== '') { $('#login-popup-btn').click(); };">
    </fieldset>
    <br>
    <button _ngcontent-gox-c64="" id="login-popup-btn" class="mat-tooltip-trigger btn-custom w-100% disabled"
      disabled>{% trans 'Подтвердить' %}</button>
  </div>
</div>

<div id="dev-chat-container">

  <div id="dev-chat-settings">

    <select name="languages" class="programming-languages select-none"
      style="font-family: sans-serif; font-size: 16px;" id="id_programming_languages">
      <option value="plain_text">plain_text</option>
      <option value="c_cpp">c_cpp</option>
      <option value="csharp">csharp</option>
      <option value="css">css</option>
      <option value="golang">golang</option>
      <option value="html">html</option>
      <option value="java">java</option>
      <option value="javascript">javascript</option>
      <option value="json">json</option>
      <option value="jsx">jsx</option>
      <option value="kotlin">kotlin</option>
      <option value="objectivec">objectivec</option>
      <option value="perl">perl</option>
      <option value="php">php</option>
      <option value="python">python</option>
      <option value="ruby">ruby</option>
      <option value="rust">rust</option>
      <option value="scala">scala</option>
      <option value="sql">sql</option>
      <option value="swift">swift</option>
      <option value="xml">xml</option>
      <option value="yaml">yaml</option>
      <option value="dart">dart</option>
      <option value="lua">lua</option>
    </select>

    <select name="pixels" class="select-pixels select-none" id="id_select_pixels"
      style="font-family: sans-serif; font-size: 16px;">
      <option value="14px">14px</option>
      <option value="15px">15px</option>
      <option value="16px">16px</option>
      <option value="17px">17px</option>
      <option value="18px">18px</option>
      <option value="19px">19px</option>
      <option value="20px">20px</option>
      <option value="21px">21px</option>
      <option value="22px">22px</option>
      <option value="23px">23px</option>
      <option value="24px">24px</option>
    </select>

    <input _ngcontent-xcm-c64="" type="text" id="chat-path-input" value=""
      readonly="" style="font-family: sans-serif; font-size: 16px; width: 178px;">

    <a _ngcontent-xpp-c94="" class="info">
      <button _ngcontent-gox-c64="" class="btn-custom2 select-none"
        onclick="copy_text.copy($('#chat-path-input')[0].value);">{% trans 'Копировать' %}</button>
      <span _ngcontent-xpp-c94="" class="info-text"
        style="color: #fff; margin-top: -23px; margin-left: -126px;">{% trans 'Скопировать ссылку' %}</span>
    </a>

    <button _ngcontent-gox-c64="" class="btn-custom2 select-none close-room-no"
      id="close_room_btn">{% trans 'Остановить чат' %}</button>

    <button _ngcontent-gox-c64="" class="btn-custom2 select-none close-room-yes"
      style="cursor: default; border-color: #454545;"
      id="close_room_info">{% trans 'Чат открыт' %}</button>

    <div id="active-clients" style="font-weight: 600; margin-top: 10px; margin-left: 30px;"></div>

  </div>

  <br><br>

  <div id="code_editor"></div>

  <div class="player-container">
    <div class="player__actions">
      <button class="player__button_type_play select-none"
        type="button" autocomplete="off" aria-pressed="false" tabindex="0" aria-disabled="false">
        <span class="material-symbols-outlined">play_arrow</span>
      </button>
      <button class="player__button_type_speed select-none"
        type="button" autocomplete="off" aria-pressed="false" tabindex="0" aria-disabled="false">
        <span>1x</span>
      </button>
      <button class="player__button_type_skip select-none"
        type="button" autocomplete="off" aria-pressed="false" aria-disabled="true">
        <span class="material-symbols-outlined">fast_forward</span>
      </button>
    </div>

    <div class="player__timeline">
      <div class="player__time player__time_start" draggable="false">00:00</div>
      <div class="player__progress" draggable="false">
        <div class="player__frame-container" draggable="false"></div>
      </div>
      <div class="player__time player__time_end" draggable="false">--:--</div>
    </div>
  </div>

</div>

<script>
  const context_room_id = '{{ room_id }}';
  const trans_stop_chat = "{% trans 'Остановить чат' %}";
  const trans_opened_chat = "{% trans 'Чат открыт' %}";
  const trans_resume_chat = "{% trans 'Возобновить чат' %}";
  const trans_closed_chat = "{% trans 'Чат закрыт' %}";
</script>
<script src="{% static 'main_app/javascript/main_apps/dev_chat_room.js' %}"></script>

{% endblock %}
