{% extends 'main_app/base.html' %}

{% load static %}
{% load i18n %}

{% block head %}
<script src="https://wow.zamimg.com/modelviewer/live/viewer/viewer.min.js"></script>
<!-- <script src="https://wow.zamimg.com/modelviewer/wrath/viewer/viewer.min.js"></script> -->

<script type="module" src="{% static 'main_app/javascript/wow-model-viewer/index.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'main_app/css/dressing-room.css' %}">

<style>
  .dress-btn {
    user-select: none;
    border: 0;
    border-radius: 2px;
    color: #cccccc;
    cursor: pointer;
    display: inline-block;
    font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 600 !important;
    line-height: 1.4;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap
  }
  .dress-btn:focus {
    box-shadow: 0 0 0 0;
  }
  .btn-site:hover,
  .btn-site:active {
    color: #676af7 !important;
  }
  .btn-site[disabled],
  .btn-site.btn-disabled {
    opacity: 0.3;
  }
</style>

<style>
  input[type="checkbox"] {
    background: transparent;
    border: 0;
    cursor: pointer;
    font-size: inherit;
    margin: 0.1em 0.25em 0;
    padding: 0;
    top: auto !important;
    -moz-appearance: initial
  }
  input[type="checkbox"],
  input[type="checkbox"]:before {
    line-height: inherit !important;
    vertical-align: top
  }
  input[type="checkbox"]::-ms-check {
    width: 1.2em;
  }
  input[type="checkbox"]:after {
    background: rgba(30, 30, 30, 1);
    border-radius: 1px;
    border: 0.125em solid #444;
    box-sizing: border-box;
    content: "";
    display: inline-block;
    height: 1.2em;
    width: 1.2em;
  }
  input[type="checkbox"]::-ms-check {
    background: rgba(30, 30, 30, 1);
    border-radius: 4px;
    border: 0.125em solid #444;
    box-sizing: border-box;
    content: "";
    display: inline-block;
    height: 1.2em;
    width: 1.2em;
    color: #ffd100
  }
  input[type="checkbox"]:checked:before {
    display: inline-block;
    font: normal normal normal 14px FontAwesome;
    font-size: inherit;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    text-rendering: auto;
    content: "";
    color: #ffd100;
    margin-right: 0
  }
  input[type="checkbox"]:checked:before {
    font-size: 1.5em;
    margin: -.2em 0 0 -.05em;
    line-height: 1 !important;
    pointer-events: none;
    position: absolute
  }
  input[type="checkbox"] {
    margin: 0.1em 0.25em 0 !important;
    vertical-align: top !important
  }
  input[type="checkbox"] {
    margin: 12px 12px 0 0 !important;
    position: relative;
    top: 2px;
  }
</style>

<style>
  .paperdoll {
    /* бэкграунд под моделью */
    /* background: #202020; */
    border-radius: 6px;
    line-height: 0;

    min-height: 362px;
    max-height: 619px !important;

    min-width: 300px;
    overflow: hidden;
    position: relative
  }
  /* Если мы на мобильном */
  @media screen and (max-width: 800px) {
    .paperdoll {
      max-height: 362px !important;
    }
  }
  .paperdoll div {
    line-height: normal
  }
  .paperdoll .paperdoll-left,
  .paperdoll .paperdoll-right,
  .paperdoll .paperdoll-bottom {
    pointer-events: none
  }
  .paperdoll .paperdoll-left>*:not(.paperdoll-hidden),
  .paperdoll .paperdoll-right>*:not(.paperdoll-hidden),
  .paperdoll .paperdoll-bottom>*:not(.paperdoll-hidden) {
    pointer-events: auto
  }
  .paperdoll .paperdoll-left,
  .paperdoll .paperdoll-right {
    bottom: 55px;
    position: absolute;
    top: 3px;
    width: 44px;
    z-index: 11
  }
  .paperdoll .paperdoll-left {
    left: 3px
  }
  .paperdoll .paperdoll-right {
    right: 3px
  }
  .paperdoll .paperdoll-bottom {
    bottom: 47px;
    height: 0;
    left: 0;
    position: absolute;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    z-index: 12;
    user-select: none;
  }
  .paperdoll .paperdoll-bottom .iconlarge,
  .paperdoll .paperdoll-bottom .iconmedium,
  .paperdoll .paperdoll-bottom .iconsmall {
    display: inline-block;
    position: relative;
    z-index: 1
  }
  .paperdoll .paperdoll-bottom .paperdoll-enchant {
    transform: scale(0.75);
    transform-origin: right
  }
  .paperdoll .paperdoll-bottom .iconlarge+.paperdoll-enchant,
  .paperdoll .paperdoll-bottom .iconmedium+.paperdoll-enchant {
    transform-origin: left
  }
  .paperdoll .paperdoll-model {
    bottom: 47px;
    left: 47px;
    min-width: 277px;
    position: absolute;
    right: 47px;
    top: 0;
    z-index: 1
  }
  .paperdoll .paperdoll-model-inner {
    bottom: 0;
    height: auto !important;
    left: 0;
    position: absolute !important;
    right: 0;
    top: 0;
    width: auto !important
  }
  .paperdoll .paperdoll-model-inner canvas {
    height: 100%;
    width: 100%
  }
  .paperdoll .paperdoll-responsive-shell {
    line-height: 0;
    margin: 0 47px 47px;
    position: relative;
    width: calc(100% - 94px)
  }
  .paperdoll .paperdoll-responsive-expander {
    /* margin-top: 131.407942238%; */
    /* margin-top: 164.3%; */
    margin-top: 999%;
  }
  .paperdoll .paperdoll-hidden.iconlarge,
  .paperdoll .paperdoll-hidden.iconmedium,
  .paperdoll .paperdoll-hidden.iconsmall {
    opacity: .2
  }
  .paperdoll .paperdoll-hidden.iconlarge,
  .paperdoll .paperdoll-hidden.iconlarge *,
  .paperdoll .paperdoll-hidden.iconmedium,
  .paperdoll .paperdoll-hidden.iconmedium *,
  .paperdoll .paperdoll-hidden.iconsmall,
  .paperdoll .paperdoll-hidden.iconsmall * {
    pointer-events: none
  }
  .fullscreen-icon {
    color: #cccccc;
  }
  .fullscreen-icon:hover {
    color: #cccccc;
  }
  .paperdoll .paperdoll-controls-left {
    bottom: 16px;
    font-size: 12px;
    left: 5px;
    line-height: 1.2;
    position: absolute;
    right: calc(50% - -44px);
    text-align: left;
    z-index: 10
  }
  .paperdoll .paperdoll-controls-right {
    bottom: 31px;
    font-size: 20px;
    position: absolute;
    z-index: 10;
    left: calc(50% - 153px);
  }
  /* Если мы на мобильном */
  @media screen and (max-width: 800px) {
    .paperdoll .paperdoll-controls-right {
      bottom: 26px;
      font-size: 17px;
      left: calc(50% - 80px);
    }
  }
  .paperdoll .paperdoll-controls-left div,
  .paperdoll .paperdoll-controls-right div {
    margin: 3px 0 0
  }
  .paperdoll .paperdoll-controls-left div:first-child,
  .paperdoll .paperdoll-controls-right div:first-child {
    margin: 0
  }
  .paperdoll .paperdoll-quality a {
    font-size: 14px
  }
  .paperdoll .paperdoll-quality .active {
    color: #fff;
    cursor: default;
    font-weight: bold
  }
  .paperdoll .paperdoll-mount {
    display: none;
    line-height: 26px;
    margin-left: -2px !important;
    white-space: nowrap
  }
  .paperdoll .paperdoll-mount>a {
    background: url(https://wow.zamimg.com/images/Paperdoll/red-drake.png) left bottom no-repeat;
    border-radius: 0 0 0 6px;
    box-sizing: border-box;
    float: left;
    font-size: 13px;
    font-weight: bold;
    height: 60px;
    margin: 0 0 -5px -3px;
    min-width: 74px;
    padding: 37px 0 0 5px;
    text-shadow: 1px 1px 1px #202020;

    letter-spacing: .05em;
    text-decoration: none;
  }
  .paperdoll .paperdoll-mount>a:hover {
    -webkit-filter: brightness(1.35);
    filter: brightness(1.35);

    color: white;
  }
  .paperdoll .paperdoll-mount:after {
    content: ' ';
    clear: left;
    display: block
  }
  .paperdoll[data-icon-size="large"] .paperdoll-left,
  .paperdoll[data-icon-size="large"] .paperdoll-right {
    width: 68px
  }
  .paperdoll[data-icon-size="large"] .paperdoll-bottom {
    bottom: 71px
  }
  .paperdoll[data-icon-size="large"] .paperdoll-responsive-shell {
    margin: 0 71px 71px
  }
  .paperdoll[data-icon-size="large"] .paperdoll-controls-left {
    right: calc(50% - -68px)
  }
  .paperdoll-picker .listview td.none {
    text-align: center;
    font-weight: bold
  }
  .paperdoll-enchant-disabled {
    opacity: 0.2;
    pointer-events: none
  }
</style>

<style>
  /* button icons https://fontawesome.com/v4/icons/ */
  @font-face {
    font-family: "FontAwesome";
    src: url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/FontAwesome.otf);
    src: url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.eot) format("embedded-opentype"),
         url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2) format("woff2"),
         url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff) format("woff"),
         url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf) format("truetype"),
         url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.svg) format("svg");
    font-weight: normal;
    font-style: normal;
  }
  .fa:before {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale
  }
  .fa-caret-left:before {
    content: "\f0d9"
  }
  .fa-caret-right:before {
    content: "\f0da"
  }
  .fa-times:before {
    content: "\f00d"
  }
  .fa-eye-slash:before {
    content: "\f070"
  }
  .fa-link:before {
    content: "\f0c1"
  }
  .fa-camera:before {
    content: "\f030"
  }
  .fa-pause:before {
    content: "\f04c"
  }
  .fa-play:before {
    content: "\f04b"
  }
  .fa-random:before {
    content: "\f074"
  }
  .fa-undo:before {
    content: "\f0e2"
  }
  .fa-repeat:before {
    content: "\f01e"
  }
  .fa-expand:before {
    content: "\f065"
  }
</style>
{% endblock %}

{% block body %}
<app-dressing-room _nghost-gox-c37="" style="font-size: 14.5px;">
  <div _ngcontent-gox-c37="" class="page-size bg-check p-2 p-md-5 mb-5">
    <div _ngcontent-gox-c37="" class="m-auto text-center pt-5 pb-5">
      <div _ngcontent-gox-c37="" class="mb-2">


        <div id="dressing-room" class="dressing-room" data-loaded="true">
          <div class="dressing-room-character" data-class="1" data-race="10" data-npc-race="false"
            data-gender="0" data-gender-restriction="no-restriction" data-category="gear">

            <div class="paperdoll" id="dressing-room-paperdoll" data-icon-size="large" data-separate-shoulders="false">

              <div class="paperdoll-left">
                <div class="iconlarge" data-env="live" data-tree="live" data-game="wow" data-character-slot="1">
                  <ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/inventoryslot_head.jpg&quot;);" class=""></ins>
                  <del></del>
                  <a href="javascript:"></a>
                </div>
                <div class="iconlarge paperdoll-hidden" data-env="live" data-tree="live" data-game="wow" data-character-slot="2">
                  <ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/inventoryslot_neck.jpg&quot;);" class=""></ins>
                  <del></del>
                  <a href="javascript:"></a>
                </div>
                <div class="iconlarge" data-env="live" data-tree="live" data-game="wow" data-character-slot="3">
                  <ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/inventoryslot_shoulder.jpg&quot;);" class=""></ins>
                  <del></del>
                  <a href="javascript:"></a>
                </div>
                <div class="iconlarge" data-env="live" data-tree="live" data-game="wow" data-character-slot="20">
                  <ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/inventoryslot_shoulder.jpg&quot;);" class=""></ins>
                  <del></del>
                  <a href="javascript:"></a>
                </div>
                <div class="iconlarge" data-env="live" data-tree="live" data-game="wow" data-character-slot="15">
                  <ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/inventoryslot_chest.jpg&quot;);" class=""></ins>
                  <del></del>
                  <a href="javascript:"></a>
                </div>
                <div class="iconlarge" data-env="live" data-tree="live" data-game="wow" data-character-slot="5">
                  <ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/inventoryslot_chest.jpg&quot;);" class=""></ins>
                  <del></del>
                  <a href="javascript:"></a>
                </div>
                <div class="iconlarge" data-env="live" data-tree="live" data-game="wow" data-character-slot="4">
                  <ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/inventoryslot_shirt.jpg&quot;);" class=""></ins>
                  <del></del>
                  <a href="javascript:"></a>
                </div>
                <div class="iconlarge" data-env="live" data-tree="live" data-game="wow" data-character-slot="19">
                  <ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/inventoryslot_tabard.jpg&quot;);" class=""></ins>
                  <del></del>
                  <a href="javascript:"></a>
                </div>
                <div class="iconlarge" data-env="live" data-tree="live" data-game="wow" data-character-slot="9">
                  <ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/inventoryslot_wrists.jpg&quot;);" class=""></ins>
                  <del></del>
                  <a href="javascript:"></a>
                </div>
              </div>

              <div class="paperdoll-right">
                <div class="iconlarge" data-env="live" data-tree="live" data-game="wow" data-character-slot="10">
                  <ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/inventoryslot_hands.jpg&quot;);" class=""></ins>
                  <del></del>
                  <a href="javascript:"></a>
                </div>
                <div class="iconlarge" data-env="live" data-tree="live" data-game="wow" data-character-slot="6">
                  <ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/inventoryslot_waist.jpg&quot;);" class=""></ins>
                  <del></del>
                  <a href="javascript:"></a>
                </div>
                <div class="iconlarge" data-env="live" data-tree="live" data-game="wow" data-character-slot="7">
                  <ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/inventoryslot_legs.jpg&quot;);" class=""></ins>
                  <del></del>
                  <a href="javascript:"></a>
                </div>
                <div class="iconlarge" data-env="live" data-tree="live" data-game="wow" data-character-slot="8">
                  <ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/inventoryslot_feet.jpg&quot;);" class=""></ins>
                  <del></del>
                  <a href="javascript:"></a>
                </div>
                <div class="iconlarge paperdoll-hidden" data-env="live" data-tree="live" data-game="wow" data-character-slot="11">
                  <ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/inventoryslot_finger.jpg&quot;);" class=""></ins>
                  <del></del>
                  <a href="javascript:"></a>
                </div>
                <div class="iconlarge paperdoll-hidden" data-env="live" data-tree="live" data-game="wow" data-character-slot="12">
                  <ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/inventoryslot_finger.jpg&quot;);" class=""></ins>
                  <del></del>
                  <a href="javascript:"></a>
                </div>
                <div class="iconlarge paperdoll-hidden" data-env="live" data-tree="live" data-game="wow" data-character-slot="13">
                  <ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/inventoryslot_trinket.jpg&quot;);" class=""></ins>
                  <del></del>
                  <a href="javascript:"></a>
                </div>
                <div class="iconlarge paperdoll-hidden" data-env="live" data-tree="live" data-game="wow" data-character-slot="14">
                  <ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/inventoryslot_trinket.jpg&quot;);" class=""></ins>
                  <del></del>
                  <a href="javascript:"></a>
                </div>
              </div>

              <div class="paperdoll-bottom">
                <div class="iconlarge" data-env="live" data-tree="live" data-game="wow" data-character-slot="16">
                  <ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/inventoryslot_mainhand.jpg&quot;);" class=""></ins>
                  <del></del>
                  <a href="javascript:"></a>
                </div>
                <div class="iconlarge" data-env="live" data-tree="live" data-game="wow" data-character-slot="17">
                  <ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/inventoryslot_offhand.jpg&quot;);" class=""></ins>
                  <del></del>
                  <a href="javascript:"></a>
                </div>
              </div>

              <div class="paperdoll-model">
                <!-- style="border: 1px solid rgba(255, 255, 255, 0.5);"> -->
                <div class="paperdoll-model-inner" id="paperdoll-model-dressing-room-paperdoll"></div>
              </div>

              <div class="paperdoll-responsive-shell">
                <div class="paperdoll-responsive-expander"></div>
              </div>

              <div class="paperdoll-controls-right">
                <div class="paperdoll-fullscreen">
                  <a _ngcontent-xpp-c94="" class="info fullscreen-icon">
                    <i class="fa fa-expand"></i>
                    <span _ngcontent-xpp-c94="" class="info-text"
                      style="color: #fff; margin-top: -47px; margin-left: -40px;">Double-click model to view fullscreen</span>
                  </a>
                </div>
              </div>

              <!-- <div class="paperdoll-controls-left">
                <div class="paperdoll-mount" style="display: block;">
                  <a href="javascript:">Choose Mount</a>
                </div>
              </div> -->

            </div>

            <div class="dressing-room-character-controls-category-switchers">
              <a data-category="gear" id="gear_button" href="javascript:" data-active="true" class=""></a>
              <a data-category="character" id="character_button" href="javascript:" class=""></a>
              <a data-category="face" id="face_button" href="javascript:"></a>
            </div>

            <div class="dressing-room-character-controls-category" id="dressing-room-face-settings" data-category="face">
              <h2 class="heading-size-2">Face</h2>
              <div class="dressing-room-character-controls-category-option" data-character-customization-type="face">
                <div data-role="label">Face</div>
                <div tabindex="0" data-role="control" id="select_face_btn">
                  <a class="btn dress-btn fa fa-caret-left" href="javascript:" tabindex="-1"></a>
                  <a class="imitation-select" data-field-filled="true" href="javascript:" tabindex="-1"></a>
                  <a class="btn dress-btn fa fa-caret-right" href="javascript:" tabindex="-1"></a>
                </div>
              </div>
              <div class="dressing-room-character-controls-category-option" data-character-customization-type="skin-color">
                <div data-role="label">Skin Color</div>
                <div tabindex="0" data-role="control" id="select_skin_color_btn">
                  <a class="btn dress-btn fa fa-caret-left" href="javascript:" tabindex="-1"></a>
                  <a class="imitation-select" data-field-filled="true" href="javascript:" tabindex="-1"></a>
                  <a class="btn dress-btn fa fa-caret-right" href="javascript:" tabindex="-1"></a>
                </div>
              </div>
              <div class="dressing-room-character-controls-category-option" data-character-customization-type="hair-style">
                <div data-role="label">Hair Style</div>
                <div tabindex="0" data-role="control" id="select_hair_style_btn">
                  <a class="btn dress-btn fa fa-caret-left" href="javascript:" tabindex="-1"></a>
                  <a class="imitation-select" data-field-filled="true" href="javascript:" tabindex="-1"></a>
                  <a class="btn dress-btn fa fa-caret-right" href="javascript:" tabindex="-1"></a>
                </div>
              </div>
              <div class="dressing-room-character-controls-category-option" data-character-customization-type="hair-color">
                <div data-role="label">Hair Color</div>
                <div tabindex="0" data-role="control" id="select_hair_color_btn">
                  <a class="btn dress-btn fa fa-caret-left" href="javascript:" tabindex="-1"></a>
                  <a class="imitation-select" data-field-filled="true" href="javascript:" tabindex="-1"></a>
                  <a class="btn dress-btn fa fa-caret-right" href="javascript:" tabindex="-1"></a>
                </div>
              </div>
              <div class="dressing-room-character-controls-category-option" data-character-customization-type="facial-hair">
                <div data-role="label">Facial Hair</div>
                <div tabindex="0" data-role="control" id="select_facial_hair_btn">
                  <a class="btn dress-btn fa fa-caret-left" href="javascript:" tabindex="-1"></a>
                  <a class="imitation-select" data-field-filled="true" href="javascript:" tabindex="-1"></a>
                  <a class="btn dress-btn fa fa-caret-right" href="javascript:" tabindex="-1"></a>
                </div>
              </div>
            </div>

            <div class="dressing-room-character-controls-category" id="dressing-room-character-settings" data-category="character">
              <h2 class="heading-size-2">Character</h2>
              <div class="dressing-room-character-controls-category-option" data-character-customization-type="___race">
                <div data-role="label">Race</div>
                <div tabindex="0" data-role="control" id="select_race_btn">
                  <a class="btn dress-btn fa fa-caret-left" href="javascript:" tabindex="-1"></a>
                  <a class="imitation-select" data-field-filled="true" href="javascript:" tabindex="-1"></a>
                  <a class="btn dress-btn fa fa-caret-right" href="javascript:" tabindex="-1"></a>
                </div>
              </div>
              <div class="dressing-room-character-controls-category-option" data-character-customization-type="gender">
                <div data-role="label">Gender</div>
                <div tabindex="0" data-role="control" id="select_gender_btn">
                  <a class="btn dress-btn fa fa-caret-left" href="javascript:" tabindex="-1"></a>
                  <a class="imitation-select" data-field-filled="true" href="javascript:" tabindex="-1"></a>
                  <a class="btn dress-btn fa fa-caret-right" href="javascript:" tabindex="-1"></a>
                </div>
              </div>
              <div class="dressing-room-character-controls-category-option" data-character-customization-type="sheathed">
                <div data-role="label">Weapons</div>
                <div tabindex="0" data-role="control" id="select_sheathed_btn">
                  <a class="btn dress-btn fa fa-caret-left" href="javascript:" tabindex="-1"></a>
                  <a class="imitation-select" data-field-filled="true" href="javascript:" tabindex="-1"></a>
                  <a class="btn dress-btn fa fa-caret-right" href="javascript:" tabindex="-1"></a>
                </div>
              </div>
              <div class="dressing-room-character-controls-category-option" data-character-customization-type="animation">
                <div data-role="label">Animation</div>
                <div tabindex="0" data-role="control" data-disabled="false" id="select_animation_btn">
                  <a class="btn dress-btn fa fa-caret-left" href="javascript:" tabindex="-1"></a>
                  <a class="imitation-select" data-field-filled="true" href="javascript:" tabindex="-1"></a>
                  <a class="btn dress-btn fa fa-caret-right" href="javascript:" tabindex="-1"></a>
                </div>
              </div>
            </div>

            <div class="dressing-room-character-controls-general">
              <button class="btn dress-btn btn-site fa fa-times" id="dr-reset" type="button">Reset</button>
              <button class="btn dress-btn btn-site fa fa-eye-slash" id="dr-toggle-ui" type="button">Hide UI</button>

              <a _ngcontent-xpp-c94="" class="info">
                <button class="btn dress-btn btn-site fa fa-link" id="dr-links" type="button"
                  onclick="copy_text.copy(document.location.href);">Links</button>
                <span _ngcontent-xpp-c94="" class="info-text"
                  style="color: #fff; margin-top: -95px; margin-left: -75px;">{% trans 'Скопировать ссылку' %}</span>
              </a>

              <button class="btn dress-btn btn-site fa fa-camera" id="dr-screenshot" type="button">Screenshot</button>
              <button class="btn dress-btn btn-site fa fa-pause" id="dr-pause" type="button">Pause</button>
              <div>
                <button class="btn dress-btn btn-site fa fa-random" id="dr-randomize" type="button">Random</button>
                <!-- <button class="btn dress-btn btn-site fa fa-undo" id="dr-undo" type="button">Undo</button>
                <button class="btn dress-btn btn-site fa fa-repeat" id="dr-redo" type="button" disabled="">Redo</button> -->
              </div>
            </div>

          </div>
        </div>

        <script>
          // Установка дефолтного текста настроек после получения ответа от findRaceGenderOptions
          function setDefaultText() {
            $('#select_race_btn').find('a')[1].textContent = RACES[window.dressUI.char.race_id];
            $('#select_gender_btn').find('a')[1].textContent = GENDERS[window.dressUI.char.gender_id];
            updateSheathText();
            $('#select_animation_btn').find('a')[1].textContent = window.dressUI.char.anim.name;

            updateFieldAndTextValues(false);
          };
        </script>

        <script>
          // Character HANDLERS

          $('#select_race_btn a').on('click', function(event) {
            if (!window.model.renderer.viewer.method("isLoaded")) return false;

            if (this.classList.contains('fa-caret-left') && window.dressUI.char.race_id > 1) {

              RACES[window.dressUI.char.race_id] === 'Bloodelf'
              ? window.dressUI.char.race_id -= 2 : window.dressUI.char.race_id -= 1;
              updateCharacterHandler('race_id', '#select_race_btn', RACES);

            } else if (this.classList.contains('fa-caret-right') && window.dressUI.char.race_id < 11) {

              RACES[window.dressUI.char.race_id] === 'Troll'
              ? window.dressUI.char.race_id += 2 : window.dressUI.char.race_id += 1;
              updateCharacterHandler('race_id', '#select_race_btn', RACES);
            };
          });


          $('#select_gender_btn a').on('click', function(event) {
            if (!window.model.renderer.viewer.method("isLoaded")) return false;

            if (this.classList.contains('fa-caret-left') && window.dressUI.char.gender_id === 1) {
              window.dressUI.char.gender_id -= 1;
              updateCharacterHandler('gender_id', '#select_gender_btn', GENDERS);

            } else if (this.classList.contains('fa-caret-right') && window.dressUI.char.gender_id === 0) {
              window.dressUI.char.gender_id += 1;
              updateCharacterHandler('gender_id', '#select_gender_btn', GENDERS);
            };
          });

          function updateCharacterHandler(field, id, data) {
            $(id).find('a')[1].textContent = data[window.dressUI.char[field]];
            re_creation_model();
          };

          // для изменения race и gender требуется полное пересоздание модели
          function re_creation_model() {
            // Полностью удаляем модель (включая DOM дерево)
            window.model.renderer.viewer.destroy();
            model_opts.race = window.dressUI.char.race_id;
            model_opts.gender = window.dressUI.char.gender_id;
            // Заного создаём модель с другим гендером
            window.createModel(model_opts);
          };


          $('#select_sheathed_btn a').on('click', function(event) {
            if (!window.model.renderer.viewer.method("isLoaded")) return false;

            if (this.classList.contains('fa-caret-left')
            && window.dressUI.char.sheath.index > 0) {

              window.dressUI.char.sheath.index -= 1;
              window.model.renderer.viewer.method("setSheath",
              window.dressUI.char.sheath.opts[window.dressUI.char.sheath.index]);
              updateSheathText();

            } else if (this.classList.contains('fa-caret-right')
            && window.dressUI.char.sheath.index < window.dressUI.char.sheath.opts.length - 1) {

              window.dressUI.char.sheath.index += 1;
              window.model.renderer.viewer.method("setSheath",
              window.dressUI.char.sheath.opts[window.dressUI.char.sheath.index]);
              updateSheathText();
            };
            // быть в руке/на персонаже MH и OF могут только вместе.
            // -1 // оружие в руке
            // 1  // оружие на спине смотрит вниз
            // 2  // оружие на спине смотрит вверх
            // 3  // оружие на поясе
            // для всех оружий
            // [-1, -1]
            // [1, 1]
            // для одноручных оружий
            // [1, 3]
            // [3, 1]
            // для двуручных оружий смотрящих вниз
            // [1, 2]
            // для двуручных оружий смотрящих вверх
            // [2, 1]
          });

          function updateSheathText() {
            if (window.dressUI.char.sheath.index === 0) {
              $('#select_sheathed_btn').find('a')[1].textContent = 'Unsheathed';
            } else {
              $('#select_sheathed_btn').find('a')[1].textContent = `Sheathed-${window.dressUI.char.sheath.index}`;
            };
          };


          $('#select_animation_btn a').on('click', function(event) {
            if (!window.model.renderer.viewer.method("isLoaded")) return false;

            if (this.classList.contains('fa-caret-left')
            && window.dressUI.char.anim.index > 0) {

              window.dressUI.char.anim.index -= 1;
              setAnim();

            } else if (this.classList.contains('fa-caret-right')
            && window.dressUI.char.anim.index < window.dressUI.char.anims_list.length - 1) {

              window.dressUI.char.anim.index += 1;
              setAnim();
            };
          });

          function setAnim() {
            window.dressUI.char.anim.name = window.dressUI.char.anims_list[window.dressUI.char.anim.index];
            window.model.setAnimation(window.dressUI.char.anim.name);
            $('#select_animation_btn').find('a')[1].textContent = window.dressUI.char.anim.name;
          };
        </script>

        <script>
          // Face HANDLERS

          $('#select_face_btn a').on('click', async function(event) {
            if (!window.model.renderer.viewer.method("isLoaded")) return false;

            if (this.classList.contains('fa-caret-left')
            && window.dressUI.face.face > 0) {
              await updateAppearanceHandler(true, 'face', '#select_face_btn');
            } else if (this.classList.contains('fa-caret-right')
            && window.dressUI.face.face < window.dressUI.face.race_gender_opts[0].Choices.length - 1) {
              await updateAppearanceHandler(false, 'face', '#select_face_btn');
            };
          });


          $('#select_skin_color_btn a').on('click', async function(event) {
            if (!window.model.renderer.viewer.method("isLoaded")) return false;

            if (this.classList.contains('fa-caret-left')
            && window.dressUI.face.skin > 0) {
              await updateAppearanceHandler(true, 'skin', '#select_skin_color_btn');
            } else if (this.classList.contains('fa-caret-right')
            && window.dressUI.face.skin < window.dressUI.face.race_gender_opts[1].Choices.length - 1) {
              await updateAppearanceHandler(false, 'skin', '#select_skin_color_btn');
            };
          });


          $('#select_hair_style_btn a').on('click', async function(event) {
            if (!window.model.renderer.viewer.method("isLoaded")) return false;

            if (this.classList.contains('fa-caret-left')
            && window.dressUI.face.hairStyle > 0) {
              await updateAppearanceHandler(true, 'hairStyle', '#select_hair_style_btn', 2);
            } else if (this.classList.contains('fa-caret-right')
            && window.dressUI.face.hairStyle < window.dressUI.face.race_gender_opts[2].Choices.length - 1) {
              await updateAppearanceHandler(false, 'hairStyle', '#select_hair_style_btn', 2);
            };
          });


          $('#select_hair_color_btn a').on('click', async function(event) {
            if (!window.model.renderer.viewer.method("isLoaded")) return false;

            if (this.classList.contains('fa-caret-left')
            && window.dressUI.face.hairColor > 0) {
              await updateAppearanceHandler(true, 'hairColor', '#select_hair_color_btn');
            } else if (this.classList.contains('fa-caret-right')
            && window.dressUI.face.hairColor < window.dressUI.face.race_gender_opts[3].Choices.length - 1) {
              await updateAppearanceHandler(false, 'hairColor', '#select_hair_color_btn');
            };
          });


          $('#select_facial_hair_btn a').on('click', async function(event) {
            if (!window.model.renderer.viewer.method("isLoaded")) return false;

            if (this.classList.contains('fa-caret-left')
            && window.dressUI.face.facialStyle > 0) {
              await updateAppearanceHandler(true, 'facialStyle', '#select_facial_hair_btn', 5);
            } else if (this.classList.contains('fa-caret-right')
            && window.dressUI.face.facialStyle < window.dressUI.face.race_gender_opts[5].Choices.length - 1) {
              await updateAppearanceHandler(false, 'facialStyle', '#select_facial_hair_btn', 5);
            };
            // Для мужчин "Beard" index=5
            // Для женщин "Face Shape" index=5
          });

          async function updateAppearanceHandler(type, field, id, index=null) {
            type ? window.dressUI.face[field] -= 1 : window.dressUI.face[field] += 1;
            if (index) {
              $(id).find('a')[1].textContent =
              window.dressUI.face.race_gender_opts[index].Choices[window.dressUI.face[field]].Name;
            } else {
              $(id).find('a')[1].textContent = window.dressUI.face[field] + 1;
            };
            model_opts[field] = window.dressUI.face[field];
            await window.setAppearance();
          };
        </script>

        <script>
          const RACES = {
            1: `Human`,
            2: `Orc`,
            3: `Dwarf`,
            4: `Nightelf`,
            5: `Scourge`,
            6: `Tauren`,
            7: `Gnome`,
            8: `Troll`,
            10: `Bloodelf`,
            11: `Draenei`
          };

          const GENDERS = {
            0: 'Male',
            1: 'Female'
          };

          var model_opts = {
            "race": 1,
            "gender": 1,
            "face": 0,
            "skin": 3,
            "hairStyle": 5,
            "hairColor": 0,
            "facialStyle": 0,
            "items": [
              [21, 58944], [22, 58944]
              // [21, 58921]
            ],
            // general_opts: {
            //   background: "background-181818.png",
            //   // sk: 9,
            //   // ha: 16,
            //   // hc: 6,
            //   // fa: 0,
            //   // fh: 5,
            //   // fc: 0,
            //   // ep: 0,
            //   // ho: 0,
            //   // ta: 0,
            //   // cls: 1
            // }
          };

          function onlyTwoHandWeapon() {
            for (i in model_opts.items) if (model_opts.items[i][0] === 22) return false;
            return true;
          };
          let sheath_opts = [[-1, -1], [1, 1]];
          if (onlyTwoHandWeapon()) { sheath_opts.push([2, 1]); }
          else { sheath_opts.push([1, 3]); sheath_opts.push([3, 1]); };

          window.dressUI = {
            active_cat: 'gear',
            char: {
              race_id: model_opts.race,
              gender_id: model_opts.gender,
              sheath: {
                index: 0,
                opts: sheath_opts
              },
              anim: {
                index: 0,
                name: 'Stand'
              }
            },
            face: {
              face: model_opts.face,
              skin: model_opts.skin,
              hairStyle: model_opts.hairStyle,
              hairColor: model_opts.hairColor,
              facialStyle: model_opts.facialStyle
            }
          };
        </script>

        <script>
          function set_race_gender_image() {
            let race = RACES[window.dressUI.char.race_id].toLowerCase();
            let gender = GENDERS[window.dressUI.char.gender_id].toLowerCase();
            $('#character_button').css('background-image',
            `url(https://wow.zamimg.com/images/wow/icons/large/race_${race}_${gender}.jpg)`);
          };
          function set_gear_image() {
            let cloth_gear = 'inv_chest_cloth_21';
            let leather_gear = 'inv_chest_leather_09';
            let chain_gear = 'inv_chest_chain_05';
            let plate_gear = 'inv_chest_plate15';
            $('#gear_button').css('background-image',
            `url(https://wow.zamimg.com/images/wow/icons/large/${plate_gear}.jpg)`);
          };
          set_gear_image();
        </script>

        <script>
          let gear_button = $('#gear_button')[0];
          let face_button = $('#face_button')[0];
          let char_button = $('#character_button')[0];

          let paperdoll_left = $('.paperdoll-left')[0];
          let paperdoll_right = $('.paperdoll-right')[0];
          let paperdoll_bottom = $('.paperdoll-bottom')[0];

          let face_settings = $('#dressing-room-face-settings')[0];
          let char_settings = $('#dressing-room-character-settings')[0];

          $('.dressing-room-character-controls-category-switchers a').on('click', function(event) {

            let category = event.target.getAttribute('data-category');
            event.target.setAttribute('data-active', 'true');

            if (category === 'gear') {
              removeAttr('data-active', face_button, char_button);
              setDisplayState('block', paperdoll_left, paperdoll_right, paperdoll_bottom);
              setDisplayState('none', face_settings, char_settings);
              window.dressUI.active_cat = 'gear';

            } else if (category === 'face') {
              removeAttr('data-active', gear_button, char_button);
              setDisplayState('block', face_settings);
              setDisplayState('none', paperdoll_left, paperdoll_right, paperdoll_bottom, char_settings);
              window.dressUI.active_cat = 'face';

            } else if (category === 'character') {
              removeAttr('data-active', gear_button, face_button);
              setDisplayState('block', char_settings);
              setDisplayState('none', paperdoll_left, paperdoll_right, paperdoll_bottom, face_settings);
              window.dressUI.active_cat = 'character';
            };
          });


          $('#dr-toggle-ui').on('click', function(event) {
            window.dressUI.show = !window.dressUI.show;

            if (window.dressUI.show) {
              setDisplayState('none', gear_button, face_button, char_button, paperdoll_left,
              paperdoll_right, paperdoll_bottom, face_settings, char_settings);
            } else {
              setDisplayState('block', gear_button, face_button, char_button);

              if (window.dressUI.active_cat === 'gear') {
                setDisplayState('block', paperdoll_left, paperdoll_right, paperdoll_bottom);
              } else if (window.dressUI.active_cat === 'face') {
                setDisplayState('block', face_settings);
              } else if (window.dressUI.active_cat === 'character') {
                setDisplayState('block', char_settings);
              };
            };
          });

          function removeAttr(attr, ...elements) { for (i in elements) elements[i].removeAttribute(attr); };

          function setDisplayState(state, ...elements) { for (i in elements) elements[i].style.display = state; };
        </script>

        <script>
          const copy_text = new CopyText();

          $('#paperdoll-model-dressing-room-paperdoll').on('touchmove', function(event) {
            event.preventDefault(); // отменяем скролл страницы на время пока выполняется вращение модели
          });
        </script>

        <script type="module">
          import {
            findRaceGenderOptions,
            generateModels,
            optionsFromModel,
          } from "{% static 'main_app/javascript/wow-model-viewer/index.js' %}";

          window.createModel = async function(opts) {
            window.model = await generateModels(
              document.documentElement.clientWidth < 800 ? 1 : 2,
              '#paperdoll-model-dressing-room-paperdoll',
              opts
            );

            window.model.renderer.viewer.method("setModelLoadedCallback", setModelLoadedCallback);
            // window.model.renderer.viewer.method("setCustomizationsLoadedCallback", setCustomizationsLoadedCallback);
            // window.model.renderer.screenshotCallback = function() { console.log('screenshotCallback'); };

            // Получить все доступные опции для указанной расы и гендера
            const fullOptions = await findRaceGenderOptions(opts.race, opts.gender);
            window.dressUI.face.race_gender_opts = fullOptions.Options;

            setDefaultText();
            set_race_gender_image();
          };
          await window.createModel(model_opts);


          function setModelLoadedCallback() {
            window.dressUI.char.anims_list = window.model.getListAnimations();

            setTimeout(() => { // требуется небольшая задержка для некоторых методов
              window.model.setDistance(6);
            }, 4);
          };

          // function setCustomizationsLoadedCallback(t) {
          //   console.log('setCustomizationsLoadedCallback', t);
          // };


          async function get_items_data_from_database_file() {
            fetch("{% static 'main_app/json/itemsdata.json' %}")
            .then((response) => response.json())
            // .then((json) => json.map((x) => {
            //   x.icon = `https://render-classic-us.worldofwarcraft.com/icons/56/${x.icon}.jpg`;
            //   // x.icon = `https://wow.zamimg.com/images/wow/icons/large/${x.icon}.jpg`;
            //   return x;
            // }))
            .then((data) => {
              window.itemsData = data;
            });
          };
          await get_items_data_from_database_file();

          // function getItemLink(itemId) {
          //   let link = window.itemsData.find((p) => p.itemId === itemId).itemLink.replace(/\|/g, '\\124');
          //   return `/script DEFAULT_CHAT_FRAME:AddMessage("${link}");`;
          // };


          window.setAppearance = async function() {
            const charCustomization = {
              "race": model_opts.race,
              "gender": model_opts.gender,
              "face": model_opts.face,
              "skin": model_opts.skin,
              "hairStyle": model_opts.hairStyle,
              "hairColor": model_opts.hairColor,
              "facialStyle": model_opts.facialStyle
            };
            const modelOptions = await optionsFromModel(charCustomization);
            window.model.renderer.viewer.method("setAppearance", modelOptions.charCustomization);
          };


          //////////////////////////////////////////////////////////////////////////////////////////////////////////
          // Отменить анимацию
          // window.model.renderer.viewer.method("resetAnimation")


          // Удалить итем с указанного айди слота
          // window.model.renderer.viewer.method("clearSlots", String(21))
          // удалить несколько итемов по айди слотов (чистит но выдаёт ошибку, хз чё ему не нравится)
          // передаётся строка в таком формате: "21,22"
          // window.model.renderer.viewer.method("clearSlots", [21, 22].join())


          // Установить итемы на модель
          // window.model.renderer.viewer.method("setItems", [[
          //   // slotId, displayId, enchantVisualId
          //   { slot: 21, display: 58944, visual: 0 },
          //   { slot: 22, display: 58944, visual: 0 },
          //   { slot: 3, display: 65286, visual: 0 },
          // ]]);
          //////////////////////////////////////////////////////////////////////////////////////////////////////////
        </script>

        <script>
          $('#dr-randomize').on('click', async function(event) {
            // проверяет, полностью ли загружена модель.
            if (!window.model.renderer.viewer.method("isLoaded")) return false;

            updateFieldAndTextValues();
            await window.setAppearance();
          });

          function updateFieldAndTextValues(random_vals=true) {
            let ids = [
              [0, '#select_face_btn'], [1, '#select_skin_color_btn'], [2, '#select_hair_style_btn', true],
              [3, '#select_hair_color_btn'], [5, '#select_facial_hair_btn', true]
            ];
            let fields = Object.keys(window.dressUI.face);

            for (i in ids) {
              if (random_vals) {
                var int_param = get_rand_int(0, window.dressUI.face.race_gender_opts[ids[i][0]].Choices.length - 1);
              } else {
                var int_param = window.dressUI.face[[fields[i]]];
              };

              if (ids[i][2]) {
                $(ids[i][1]).find('a')[1].textContent =
                window.dressUI.face.race_gender_opts[ids[i][0]].Choices[int_param].Name;
              } else {
                $(ids[i][1]).find('a')[1].textContent = int_param + 1;
              };
              model_opts[fields[i]] = int_param;
            };
          };


          $('#dr-reset').on('click', function(event) {
            if (!window.model.renderer.viewer.method("isLoaded")) return false;

            window.model.setDistance(6);
            window.model.setAzimuth(1.5 * Math.PI); // горизонталь
            window.model.setZenith(Math.PI / 2); // вертикаль
            window.model.renderer.viewer.setOffset(0, 0); // X, Y
          });


          $('#dr-screenshot').on('click', function(event) {
            if (!window.model.renderer.viewer.method("isLoaded")) return false;

            let race = RACES[window.dressUI.char.race_id].toLowerCase();
            let gender = GENDERS[window.dressUI.char.gender_id].toLowerCase();

            window.requestAnimationFrame(function() {
              window.model.renderer.makeDataURL = ["image/png", 1];

              window.requestAnimationFrame(function() {

                let temp_ele = $("<a>");
                $("body").append(temp_ele);
                temp_ele[0].download = `${race}_${gender}_${window.location.hostname}_dressing_room.png`;
                temp_ele[0].href = window.model.renderer.screenshotDataURL;
                temp_ele[0].click();
                temp_ele.remove();

              });
            });
          });


          $('#dr-pause').on('click', function(event) {
            if (!window.model.renderer.viewer.method("isLoaded")) return false;

            window.model.AnimIsPaused = !window.model.AnimIsPaused;

            if (window.model.AnimIsPaused) {
              this.classList.remove('fa-pause');
              this.classList.add('fa-play');
            } else {
              this.classList.remove('fa-play');
              this.classList.add('fa-pause');
            };

            window.model.setAnimPaused(window.model.AnimIsPaused);
          });
        </script>

      </div>
    </div>
  </div>
</app-dressing-room>
{% endblock %}
