{% load static %}
{% load i18n %}
{% load main_app_tags %}

<link rel="stylesheet" href="{{ 'main_app/css/main_apps/filtered_guides_list.css' | cachebuster }}">

<div _ngcontent-xpp-c94="" class="filter-card text-center no-border">
  <h2 _ngcontent-xpp-c94="" style="font-size: 16px; color: #c3c3c3;">{% trans 'Категории' %}</h2>

  {% for category in categorys %}

    {% if category.pk == category_selected %}
      <a href="{% url 'guides' %}" style="text-decoration: none !important;">
        <img _ngcontent-xpp-c94="" class="ng-star-inserted ranking-filter-class-active"
          src="{{ category.image_name.url }}">
      </a>
    {% else %}
      <a href="{{ category.get_absolute_url }}" style="text-decoration: none !important;">
        <img _ngcontent-xpp-c94="" class="ng-star-inserted ranking-filter-class"
          src="{{ category.image_name.url }}">
      </a>
    {% endif %}

  {% endfor %}
</div>
