{% extends 'main_app/base.html' %}

{% load static %}
{% load i18n %}
{% load main_app_tags %}

{% block head %}

<link rel="stylesheet" href="{{ 'main_app/css/main_apps/game_chat.css' | cachebuster }}">

<style>
.checkBox[_ngcontent-xpp-c82]:after {
  content: "{% trans 'НЕТ' %}";
}
.checkBox[_ngcontent-xpp-c82]:before {
  content: "{% trans 'ДА' %}";
}
</style>
{% endblock %}

{% block body %}
<app-game-chat _nghost-gox-c51="">
  <div _ngcontent-gox-c51="" class="bg-check page-size px-3 py-3">
    <div _ngcontent-gox-c51="" class="pb-5">
      <h2 _ngcontent-gox-c51="" class="my-4" style="padding-bottom: 15px;">{% trans 'Игровой чат' %}</h2>
      <div _ngcontent-gox-c51="">

        <div _ngcontent-gox-c51="" class="chat-buttons-box">

          <div class="servers-text-and-button">
            <span _ngcontent-xcm-c63="" class="servers-text">{% trans 'Серверы:' %}</span>
            <button id="wotlk-x1" value="wotlk-x1">wotlk-x1</button>
          </div>

          <button id="wotlk_x5_alliance" value="wotlk_x5_alliance">wotlk-x5-alliance</button>
          <button id="wotlk_x5_horde" value="wotlk_x5_horde">wotlk-x5-horde</button>
          <button id="wotlk_x100_alliance" value="wotlk_x100_alliance">wotlk-x100-alliance</button>
          <button id="wotlk_x100_horde" value="wotlk_x100_horde">wotlk-x100-horde</button>
          <button id="wotlk-fun" value="wotlk-fun">wotlk-fun</button>

          <div class="player-nickname-text-and-input">
            <span _ngcontent-xcm-c63="" class="player-nickname-text">{% trans 'Фильтрация по никнейму игрока' %}</span>
            <input _ngcontent-xcm-c63="" class="player-nickname" type="text"
              maxlength="12" placeholder="{% trans 'Никнейм игрока' %}"
              onkeyup="this.value=this.value.replace(/[^\а-яёА-ЯЁa-zA-Z]/g,'');">
              <i _ngcontent-xcm-c57="" class="material-icons nickname-delete-btn">close</i>
          </div>

          <div class="only-twitch-text-and-input">
            <span _ngcontent-xpp-c82="" class="only-twitch-text">{% trans 'Только ссылки на' %} Twitch</span>
            <div _ngcontent-xpp-c82="" class="checkBox">
              <input type="checkbox" _ngcontent-xpp-c82="" id="only-twitch">
              <label _ngcontent-xpp-c82="" for="only-twitch"></label>
            </div>
          </div>

        </div>

        <textarea id="chat-log" rows="20" readonly=""></textarea>
        <!-- <textarea id="chat-log" rows="20" disabled></textarea> -->

        <button id="go-to-bottom">
          <i _ngcontent-xcm-c57="" class="material-icons"
          style="font-size: 23px; margin: auto; color: #fff;">pause</i>
          {% trans 'Чат приостановлен из-за прокрутки' %}
        </button>

        <script>
          const trans_server_chat = "{% trans 'Чат сервера: ' %}";
        </script>
        <script src="{{ 'main_app/javascript/main_apps/game_chat.js' | cachebuster }}"></script>

      </div>
    </div>
  </div>
</app-game-chat>
{% endblock %}
