{% extends 'main_app/guides_list.html' %}

{% load i18n %}
{% load mptt_tags %}
{% load main_app_tags %}

{% block body %}
<style>
  .loader {
    /* display: none; */
    background: #000;
    background: radial-gradient(#222, #000);
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    /* Лоадер под меню */
    /* z-index: 1; */
    /* Лоадер над меню */
    z-index: 2;
  }
  .loader-inner {
    bottom: 0;
    height: 60px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
  }
  .loader-line-wrap {
    animation: spin 1000ms cubic-bezier(.175, .885, .32, 1.275) infinite;
    box-sizing: border-box;
    height: 50px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform-origin: 50% 100%;
    width: 100px;
  }
  .loader-line {
    border: 4px solid transparent;
    border-radius: 100%;
    box-sizing: border-box;
    height: 100px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
  }
  .loader-line-wrap:nth-child(1) { animation-delay: -50ms; }
  .loader-line-wrap:nth-child(2) { animation-delay: -100ms; }
  .loader-line-wrap:nth-child(3) { animation-delay: -150ms; }
  .loader-line-wrap:nth-child(4) { animation-delay: -200ms; }
  .loader-line-wrap:nth-child(5) { animation-delay: -250ms; }
  .loader-line-wrap:nth-child(1) .loader-line {
    border-color: hsl(0, 80%, 60%);
    height: 90px;
    width: 90px;
    top: 7px;
  }
  .loader-line-wrap:nth-child(2) .loader-line {
    border-color: hsl(60, 80%, 60%);
    height: 76px;
    width: 76px;
    top: 14px;
  }
  .loader-line-wrap:nth-child(3) .loader-line {
    border-color: hsl(120, 80%, 60%);
    height: 62px;
    width: 62px;
    top: 21px;
  }
  .loader-line-wrap:nth-child(4) .loader-line {
    border-color: hsl(180, 80%, 60%);
    height: 48px;
    width: 48px;
    top: 28px;
  }
  .loader-line-wrap:nth-child(5) .loader-line {
    border-color: hsl(240, 80%, 60%);
    height: 34px;
    width: 34px;
    top: 35px;
  }
  @keyframes spin {
    0%, 15% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>

<div class="loader">
  <div class="loader-inner">
    <div class="loader-line-wrap">
      <div class="loader-line"></div>
    </div>
    <div class="loader-line-wrap">
      <div class="loader-line"></div>
    </div>
    <div class="loader-line-wrap">
      <div class="loader-line"></div>
    </div>
    <div class="loader-line-wrap">
      <div class="loader-line"></div>
    </div>
    <div class="loader-line-wrap">
      <div class="loader-line"></div>
    </div>
  </div>
</div>


<style>
  .pdng-l-r {
    padding-right: 2rem !important;
    padding-left: 2rem !important;
  }
  .guide-title-div {
    word-wrap: break-word;
  }
  .guide-title-h2 {
    text-align: left;
    vertical-align: top;
    display: inline-block;
    width: 70%;
    margin-right: 100%;
  }
  .guide-title-time-div {
    text-align: right;
    display: inline-block;
    width: 30%;
    margin-left: -100%;
  }
  /* Если мы на мобильном */
  @media screen and (max-width: 800px) {
    .pdng-l-r {
      padding-right: 0rem !important;
      padding-left: 0rem !important;
    }
    .guide-title-h2 {
      width: 100%;
      margin-right: 0%;
    }
    .guide-title-time-div {
      width: 100%;
      margin-left: 0%;
      margin-top: 10px;
    }
  }
</style>

<!-- https://fonts.google.com/icons -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
<style>
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 48;
  }
</style>

<style>
  #go-to-top-btn, #go-to-comments-btn {
    /* display: none; */
    position: fixed;
    bottom: 75px;
    right: 30px;
    border: none;
    outline: none;
    background-color: #939393;
    color: white;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    z-index: 1;
  }
  #go-to-comments-btn {
    /* display: block; */
    bottom: 25px;
  }
  @media screen and (max-width: 800px) {
    #go-to-top-btn, #go-to-comments-btn {
      bottom: 60px;
      right: 17px;
    }
    #go-to-comments-btn {
      bottom: 15px;
    }
  }
  #go-to-top-btn:hover, #go-to-comments-btn:hover {
    background-color: #555;
  }
  .go-to-top-icon {
    position: relative;
    top: 1px;
    right: 3.5px;
  }
  .go-to-comments-icon {
    position: relative;
    top: 3.5px;
    right: 2.5px;
  }
</style>

<button onclick="go_to_top();" id="go-to-top-btn" title="Go to top">
  <span class="material-symbols-outlined go-to-top-icon">pan_tool_alt</span>
</button>
<button onclick="go_to_comments();" id="go-to-comments-btn" title="Go to comments">
  <span class="material-symbols-outlined go-to-comments-icon">chat</span>
</button>

<style>
  @media screen and (min-width: 600px) {
    .children form {
      margin-left: -48px;
    }
    .children .children form {
      margin-left: -96px;
    }
  }
  hr {
    background-color: grey;
    height: 0px;
    clear: both;
    margin: -2px 0 6.5px 0;
  }
  textarea {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(210, 210, 210);
    border-color: rgba(0, 0, 0, 0);
    outline: none;
    -moz-appearance: none;
    resize: none;
    word-break: break-all;

    display: block;
    width: 100%;
    box-sizing: border-box;
  }
</style>

<style>
  .img-delete-btn1, .img-delete-btn2 {
    margin: auto;
    width: 24px;
    height: 24px;
    position: relative;
    right: 0px;
    bottom: -7.5px;
    user-select: none; /* отключение выделения при дабл клике по элементу */
  }
</style>

{% if user.is_authenticated %}
  <style>
    .img-delete-btn1 span, .img-delete-btn2 span {
      cursor: pointer;
      transition: all 0.3s ease;
    }
    .img-delete-btn1 span:hover {
      color: lime !important;
    }
    .img-delete-btn2 span:hover {
      color: red !important;
    }
  </style>
{% endif %}

<style>
  .img-delete-btn1 label, .img-delete-btn2 label {
    position: relative;
    left: 6.5px;
    bottom: 6.5px;
  }
  .comm-reply-btn {
    border: none;
    background-color: transparent !important;
    box-shadow: none !important;
    color: rgb(170, 170, 170);
  }
  .comm-reply-btn:hover {
    color: white;
  }

  .comm-node-author {
    user-select: none;
    transition: all 0.3s ease;
  }
  .comm-node-author:hover {
    color: #88c9fb;
  }
  .avatar-light-border[_ngcontent-xpp-c84] {
    border-color: grey;
  }
  .avatar-light-border[_ngcontent-xpp-c84]:hover {
    border-color: #88c9fbb7;
  }
</style>

<style>
  a[_ngcontent-xpp-c94] {
    /* отключение нижнего подчёркивания при наведении на ссылку */
    text-decoration: none;
  }
</style>

<style>
  .btn-custom[_ngcontent-xcm-c57],
  .btn-remove[_ngcontent-xcm-c57] {
    height: 45px;
    padding: 0 10px;
    font-size: 12px;
    line-height: 43px
  }
  .account-settings-box-0[_ngcontent-gox-c60], .account-settings-box-1[_ngcontent-gox-c60] {
    position: absolute;
    display: none;
    min-width: 310px;
    height: auto;
    left: -5px;
    border: 2px solid grey;
    border-radius: 4px 4px 4px 4px;
    background-color: rgba(0, 0, 0, 1);
    z-index: 20000;
    font-size: 12px;
    line-height: 19px;
    text-align: center;
    box-shadow: 0 0 30px 10px #ffffff12
  }
  .all-profile-icons {
    margin-left: 7px;
  }
  /* Если мы на мобильном */
  @media screen and (max-width: 800px) {
    .account-settings-box-0[_ngcontent-gox-c60] {
      left: -66px;
    }
    .account-settings-box-1[_ngcontent-gox-c60] {
      left: -56px;
    }
    .all-profile-icons {
      position: relative;
      bottom: 10px;
      max-width: 70px;
      margin-left: auto;
      text-align: center;
    }
  }
  @media screen and (min-width: 801px) {
    .comments-tree-div {
      position: relative;
      left: 10%;
      width: 90%;
    }
  }
  .notifying-border {
    box-shadow: 0 0 10px 10px rgba(31, 184, 255, 0);
    border-radius: 12px;
    padding-top: 13px;
    margin-top: 14px;
    margin-bottom: 27px;
  }
  .btn-accept-cookie3[_ngcontent-gox-c60] {
    cursor: Pointer;
    height: 24px;
    width: auto;
  }
  .account-settings-table, .node-content-div {
    word-wrap: break-word;
  }
  .evaluation-icons {
    font-size: 28px;
    position: relative;
    bottom: 3px;
  }

  .unpublication-btn {
    color: #ca2626;
    border: none;
    background-color: transparent;
    font-size: 22px;
    transition: all 0.3s ease;
  }
  @media screen and (min-width: 801px) {
    .unpublication-btn-crutch {
      position: relative;
      left: 48px;
    }
  }
  .unpublication-btn:hover {
    color: red;
  }


  .guide-content {
    word-break: break-all;
  }
  .guide-content details summary {
    color: green;
  }
  .guide-content details img {
    width: 100%;
  }
</style>

<div _ngcontent-gox-c51="" class="bg-check page-size py-3 pdng-l-r">

  <div style="margin: 0px 15px 0px 15px;">

    {% if user.is_superuser or user.is_staff %}
      <div class="fa {% if guide.is_published %}fa-check-square{% else %}fa-window-close{% endif %}"
        style="font-size: 22px; {% if guide.is_published %}color: lime;{% else %}color: red;{% endif %}">
        <span style="font-size: 16px; position: relative; bottom: 1.5px; color: white;">
          {% get_verbose_name guide 'is_published' %}
        </span>
      </div>
    {% endif %}

    <br>
    <div class="guide-title-div">
      <h2 class="guide-title-h2">{{ guide.title }}</h2>

      <div class="guide-title-time-div">
        {{ guide.time_create }}
        <br>
        {% if guide.time_update %}
          ({% trans 'Изменено' %}: {{ guide.time_update|translate_datetime:LANGUAGE_CODE }})
        {% endif %}
      </div>
    </div>

    <br>

    {% if guide.main_image %}
      <p style="text-align: center;">
        <img src="{{ guide.main_image.url }}" style="max-width: 100%">
      </p>
    {% endif %}

    <div id="guide-content-div" style="text-align: left;">

      <div class="guide-content">
        {{ guide.content|safe }}
      </div>

      <br><br><br>

      <div style="text-align: right; margin-right: 5%;">
        <label data-id="{{ guide.id }}" data-type="guide" data-action="like"
          class="img-delete-btn1">
            {% if guide.votes.likes.all|user_in:user %}
              <span class="fa fa-thumbs-up vote-lime evaluation-icons" style="color: lime;"></span>
            {% else %}
              <span class="fa fa-thumbs-up vote-white evaluation-icons" style="color: white;"></span>
            {% endif %}
        </label>
        <label data-count="like"
          style="left: 0px; margin-left: 3px;">{{ guide.votes.likes.count }}</label>

        <label data-id="{{ guide.id }}" data-type="guide" data-action="dislike"
          class="img-delete-btn2" style="margin-left: 10px;">
            {% if guide.votes.dislikes.all|user_in:user %}
              <span class="fa fa-thumbs-down vote-red evaluation-icons" style="color: red;"></span>
            {% else %}
              <span class="fa fa-thumbs-down vote-white evaluation-icons" style="color: white;"></span>
            {% endif %}
        </label>
        <label data-count="dislike"
          style="left: 0px; margin-left: 3px;">{{ guide.votes.dislikes.count }}</label>
      </div>

    </div>
  </div>

  <br><br>
  <hr>

  <div class="container">
    <div class="row justify-content-md-center pt-5">
      <div class="col-md-7">

        <h2 id="comments-counter">
          {{ comments_set.count }} {% trans 'комментариев' %}
        </h2>
        <br>

        {% if user.is_authenticated %}
          <div id="myDIV" style="display:block;">
            <form id="myForm" method="POST">
              {% csrf_token %}

              <div class="d-flex">
                <img _ngcontent-xpp-c84="" class="img-avatar" src="{{ user.get_avatar }}"
                  style="width: 50px; height: 50px; position: relative; bottom: 11px; margin-right: 5px; border-radius: 50%; border-color: grey;">
                {{ form.content }}
              </div>
              <hr>

              <div style="display: flex; justify-content: right;">
                <div class="d-flex justify-content-between">
                  <button type="submit" class="btn btn-outline-secondary"
                    id="leave_comment">{% trans 'Оставить комментарий' %}</button>
                </div>
              </div>

            </form>
          </div>
        {% else %}
          <p style="text-align: center; color: grey;">
            {% trans 'Для получения возможности оставлять комментарии, отвечать на них и давать им оценки, пожалуйста, войдите в свою учётную запись.' %}
          </p>
        {% endif %}

        <div class="comments-tree-div">
          {% recursetree comments %}
          <div class="notifying-border" id="notifying-border-{{ node.id }}">
            <div id="{{ node.id }}">

              <script>
                var node_id = "{{ node.id }}";
                window["battlenet_copy_text_" + node_id] = new CopyText();
                window["discord_copy_text_" + node_id] = new CopyText();
              </script>

              {% if node.level == 0 %}
                <div class="d-flex" style="height: 38px;">
                  <img _ngcontent-xpp-c84="" class="img-avatar avatar-light-border" src="{{ node.author.get_avatar }}"
                    style="width: 50px; height: 50px; position: relative; bottom: 13px; border-radius: 50%; cursor: pointer;"
                    onclick="show_hide_element('da-btn-bar-{{ node.id }}');">

                  <div style="margin-left: 7px; position: relative;">

                    <label onclick="show_hide_element('da-btn-bar-{{ node.id }}');"
                      style="margin: auto; cursor: pointer;" class="comm-node-author">{{ node.author }}</label>

                      <div _ngcontent-gox-c60="" id="da-btn-bar-{{ node.id }}" class="p-1 account-settings-box-0">
                        <span _ngcontent-gox-c60="" id="cn-notice-text">

                          <table _ngcontent-gox-c51="" class="account-settings-table">
                            <tr _ngcontent-gox-c51="">
                              <td _ngcontent-gox-c51="">{% trans 'Адрес электронной почты' %}:</td>
                              <td _ngcontent-gox-c51="">
                                {{ node.author.email }}
                              </td>
                            </tr>
                            <tr _ngcontent-gox-c51="">
                              <td _ngcontent-gox-c51="">{% trans 'Дата создания учётной записи' %}:</td>
                              <td _ngcontent-gox-c51="">
                                {{ node.author.date_joined }}
                              </td>
                            </tr>
                            <tr _ngcontent-gox-c51="">
                              <td _ngcontent-gox-c51="">{% trans 'Имя' %}:</td>
                              <td _ngcontent-gox-c51="">
                                {{ node.author.first_name }}
                              </td>
                            </tr>
                            <tr _ngcontent-gox-c51="">
                              <td _ngcontent-gox-c51="">{% trans 'Фамилия' %}:</td>
                              <td _ngcontent-gox-c51="">
                                {{ node.author.last_name }}
                              </td>
                            </tr>
                            <tr _ngcontent-gox-c51="">
                              <td _ngcontent-gox-c51="">{% trans 'Дата рождения' %}:</td>
                              <td _ngcontent-gox-c51="">
                                {% if node.author.birth_date != None %}
                                  {{ node.author.birth_date }}
                                {% endif %}
                              </td>
                            </tr>
                            <tr _ngcontent-gox-c51="">
                              <td _ngcontent-gox-c51="">{% trans 'Пол' %}:</td>
                              <td _ngcontent-gox-c51="">
                                {% if node.author.gender == 'male' %}
                                  {% trans 'Мужчина' %}
                                {% elif node.author.gender == 'female' %}
                                  {% trans 'Женщина' %}
                                {% endif %}
                              </td>
                            </tr>
                          </table>

                        </span>
                        <div _ngcontent-gox-c60="" class="d-block d-md-block mt-1"
                          style="display: flex !important;">

                          {% if user.is_superuser %}
                            <form method="POST">
                              {% csrf_token %}
                              <button type="submit" class="fa fa-trash unpublication-btn"
                                name="unpublication" value="{{ node.id }}"></button>
                            </form>
                          {% endif %}

                          <button _ngcontent-gox-c60="" class="btn-custom btn-accept-cookie3"
                            style="margin-left: auto; margin-right: auto;"
                            onclick="show_hide_element('da-btn-bar-{{ node.id }}');">
                            {% trans 'Закрыть' %}
                          </button>
                        </div>
                      </div>
                  </div>

                  <div style="margin-left: 5px; color: grey;">{{ node.time_create|translate_datetime:LANGUAGE_CODE }}</div>

                  <div class="all-profile-icons">

                    {% for game_class in node.author.game_class %}
                      <a _ngcontent-xpp-c94="" class="info">
                        {% for class_id, class_name_and_color in node.author.get_user_game_classes_data.items %}
                          {% if class_id == game_class %}
                            <img _ngcontent-xpp-c94="" class="img-class-exp"
                              src="/static/main_app/images/class_icons/class_{{ game_class }}.png"
                              style="border: 2px solid rgb({{ class_name_and_color.class_colors }}); border-radius: 50%;" width="21">

                            <span _ngcontent-xpp-c94="" class="info-text"
                              style="color: rgb({{ class_name_and_color.class_colors }}); margin-top: 30px; margin-left: -{{ class_name_and_color.verbose_name|length|add:76 }}px;">
                              {{ class_name_and_color.verbose_name }}
                            </span>
                          {% endif %}
                        {% endfor %}
                      </a>
                    {% endfor %}

                    {% if node.author.twitch_link %}
                      <a _ngcontent-xpp-c94="" class="info" href="{{ node.author.twitch_link }}" target="_BLANK">
                        <img src="/static/main_app/images/twitch.png" style="border-radius: 50%;" width="22">
                        <span _ngcontent-xpp-c94="" class="info-text" style="color: rgb(164, 128, 230); margin-top: 30px; margin-left: -{{ node.author.twitch_link|slice:'22:'|length|add:76 }}px;">{{ node.author.twitch_link|slice:'22:' }}</span>
                      </a>
                    {% endif %}

                    {% if node.author.discord_username %}
                      <a _ngcontent-xpp-c94="" class="info" onclick="discord_copy_text_{{ node.id }}.copy('{{ node.author.discord_username }}');" id="discord_icon-{{ node.id }}">
                        <img src="/static/main_app/images/discord.png" style="border-radius: 50%; cursor: pointer;" width="22">
                        <span _ngcontent-xpp-c94="" class="info-text" style="color: #7289DA; margin-top: 30px; margin-left: -{{ node.author.discord_username|length|add:76 }}px;">{{ node.author.discord_username }}</span>
                      </a>
                    {% endif %}

                    {% if node.author.battlenet_username %}
                      <a _ngcontent-xpp-c94="" class="info" onclick="battlenet_copy_text_{{ node.id }}.copy('{{ node.author.battlenet_username }}');" id="battlenet_icon-{{ node.id }}">
                        <img src="/static/main_app/images/battlenet.png" style="border-radius: 50%; cursor: pointer;" width="22">
                        <span _ngcontent-xpp-c94="" class="info-text" style="color: rgb(0, 154, 209); margin-top: 30px; margin-left: -{{ node.author.battlenet_username|length|add:76 }}px;">{{ node.author.battlenet_username }}</span>
                      </a>
                    {% endif %}

                    {% if node.author.dress_room_link %}
                      <a _ngcontent-xpp-c94="" class="info" href="{{ node.author.dress_room_link }}" target="_BLANK">
                        <img src="{{ node.author.dress_room_link|get_race_img_by_dress_room_url }}" style="border-radius: 50%;" width="22">
                        <span _ngcontent-xpp-c94="" class="info-text" style="color: rgb(255, 255, 255); margin-top: 30px; margin-left: -225px;">{% get_verbose_name node.author 'dress_room_link' %}</span>
                      </a>
                    {% endif %}

                  </div>
                </div>

                <div class="node-content-div">{{ node.content }}</div>

                <label data-id="{{ node.id }}" data-type="comment" data-action="like"
                  class="img-delete-btn1">
                  {% if node.votes.likes.all|user_in:user %}
                    <span class="material-symbols-outlined vote-lime" style="color: lime;">thumb_up</span>
                  {% else %}
                    <span class="material-symbols-outlined vote-white" style="color: white;">thumb_up</span>
                  {% endif %}
                </label>
                <label data-count="like"
                  style="left: 0px;">{{ node.votes.likes.count }}</label>

                <label data-id="{{ node.id }}" data-type="comment" data-action="dislike"
                  class="img-delete-btn2" style="margin-left: 10px;">
                  {% if node.votes.dislikes.all|user_in:user %}
                    <span class="material-symbols-outlined vote-red" style="color: red;">thumb_down</span>
                  {% else %}
                    <span class="material-symbols-outlined vote-white" style="color: white;">thumb_down</span>
                  {% endif %}
                </label>
                <label data-count="dislike"
                  style="left: 0px; padding-right: 12px;">{{ node.votes.dislikes.count }}</label>

                {% if user.is_authenticated %}
                  {% if node.level > 0 %}
                    <button class="btn btn-outline-secondary comm-reply-btn" style="padding-left: 0px;"
                      onclick="myFunction('{{ node.id }}', '{{ node.author }}', '{{ node.level }}')">{% trans 'Ответить' %}</button>
                  {% else %}
                    <button class="btn btn-outline-secondary comm-reply-btn" style="padding-left: 0px;"
                      onclick="myFunction('{{ node.id }}', '', '{{ node.level }}')">{% trans 'Ответить' %}</button>
                  {% endif %}
                {% endif %}
                <a _ngcontent-xpp-c94="" class="info">
                  <button class="btn btn-outline-secondary comm-reply-btn" style="padding-left: 0px; padding-right: 0px;"
                    onclick="copy_text.copy(document.location.origin + document.location.pathname + '#{{ node.id }}');">{% trans 'Поделиться' %}</button>
                  <span _ngcontent-xpp-c94="" class="info-text"
                    style="color: #fff; margin-top: -22px; margin-left: -250px;">{% trans 'Скопировать ссылку на комментарий' %}</span>
                </a>

                <div id="form-anchor-{{ node.id }}"></div>

                {% if node|child_count > 0 %}
                  <div id="show-hide-answers-{{ node.id }}" onclick="show_hide_element('answers-{{ node.id }}')" style="color: #3ea6ff; user-select: none; display: inline-block;">
                    <span class="material-symbols-outlined" style="position: relative; top: 6px; cursor: pointer; font-variation-settings: 'wght' 700">
                      expand_more
                    </span>
                    <label style="margin: auto; font-weight: 600; cursor: pointer;">{{ node|child_count }} {% trans 'ответов' %}</label>
                  </div>
                {% endif %}

                <div id="answers-{{ node.id }}" style="display: none;">
                  {% if not node.is_leaf_node %}
                    <div class="children pl-md-5">
                      {{ children }}
                    </div>
                  {% endif %}
                </div>

              {% else %}
                <div class="d-flex" style="height: 34px;">
                  <img _ngcontent-xpp-c84="" class="img-avatar avatar-light-border" src="{{ node.author.get_avatar }}"
                    style="width: 40px; height: 40px; position: relative; bottom: 8px; border-radius: 50%; cursor: pointer;"
                    onclick="show_hide_element('da-btn-bar-{{ node.id }}');">

                  <div style="margin-left: 7px; position: relative;">

                    <label onclick="show_hide_element('da-btn-bar-{{ node.id }}');"
                      style="margin: auto; cursor: pointer;" class="comm-node-author">{{ node.author }}</label>

                      <div _ngcontent-gox-c60="" id="da-btn-bar-{{ node.id }}" class="p-1 account-settings-box-1">
                        <span _ngcontent-gox-c60="" id="cn-notice-text">

                          <table _ngcontent-gox-c51="" class="account-settings-table">
                            <tr _ngcontent-gox-c51="">
                              <td _ngcontent-gox-c51="">{% trans 'Адрес электронной почты' %}:</td>
                              <td _ngcontent-gox-c51="">
                                {{ node.author.email }}
                              </td>
                            </tr>
                            <tr _ngcontent-gox-c51="">
                              <td _ngcontent-gox-c51="">{% trans 'Дата создания учётной записи' %}:</td>
                              <td _ngcontent-gox-c51="">
                                {{ node.author.date_joined }}
                              </td>
                            </tr>
                            <tr _ngcontent-gox-c51="">
                              <td _ngcontent-gox-c51="">{% trans 'Имя' %}:</td>
                              <td _ngcontent-gox-c51="">
                                {{ node.author.first_name }}
                              </td>
                            </tr>
                            <tr _ngcontent-gox-c51="">
                              <td _ngcontent-gox-c51="">{% trans 'Фамилия' %}:</td>
                              <td _ngcontent-gox-c51="">
                                {{ node.author.last_name }}
                              </td>
                            </tr>
                            <tr _ngcontent-gox-c51="">
                              <td _ngcontent-gox-c51="">{% trans 'Дата рождения' %}:</td>
                              <td _ngcontent-gox-c51="">
                                {% if node.author.birth_date != None %}
                                  {{ node.author.birth_date }}
                                {% endif %}
                              </td>
                            </tr>
                            <tr _ngcontent-gox-c51="">
                              <td _ngcontent-gox-c51="">{% trans 'Пол' %}:</td>
                              <td _ngcontent-gox-c51="">
                                {% if node.author.gender == 'male' %}
                                  {% trans 'Мужчина' %}
                                {% elif node.author.gender == 'female' %}
                                  {% trans 'Женщина' %}
                                {% endif %}
                              </td>
                            </tr>
                          </table>

                        </span>
                        <div _ngcontent-gox-c60="" class="d-block d-md-block mt-1"
                          style="display: flex !important;">

                          {% if user.is_superuser %}
                            <form method="POST">
                              {% csrf_token %}
                              <button type="submit" class="fa fa-trash unpublication-btn unpublication-btn-crutch"
                                name="unpublication" value="{{ node.id }}"></button>
                            </form>
                          {% endif %}

                          <button _ngcontent-gox-c60="" class="btn-custom btn-accept-cookie3"
                            style="margin-left: auto; margin-right: auto;"
                            onclick="show_hide_element('da-btn-bar-{{ node.id }}');">
                            {% trans 'Закрыть' %}
                          </button>
                        </div>
                      </div>
                  </div>

                  <div style="margin-left: 5px; color: grey;">{{ node.time_create|translate_datetime:LANGUAGE_CODE }}</div>

                  <div class="all-profile-icons">

                    {% for game_class in node.author.game_class %}
                      <a _ngcontent-xpp-c94="" class="info">
                        {% for class_id, class_name_and_color in node.author.get_user_game_classes_data.items %}
                          {% if class_id == game_class %}
                            <img _ngcontent-xpp-c94="" class="img-class-exp"
                              src="/static/main_app/images/class_icons/class_{{ game_class }}.png"
                              style="border: 2px solid rgb({{ class_name_and_color.class_colors }}); border-radius: 50%;" width="16.8">

                            <span _ngcontent-xpp-c94="" class="info-text"
                              style="color: rgb({{ class_name_and_color.class_colors }}); margin-top: 28px; margin-left: -{{ class_name_and_color.verbose_name|length|add:76 }}px;">
                              {{ class_name_and_color.verbose_name }}
                            </span>
                          {% endif %}
                        {% endfor %}
                      </a>
                    {% endfor %}

                    {% if node.author.twitch_link %}
                      <a _ngcontent-xpp-c94="" class="info" href="{{ node.author.twitch_link }}" target="_BLANK">
                        <img src="/static/main_app/images/twitch.png" style="border-radius: 50%;" width="17.6">
                        <span _ngcontent-xpp-c94="" class="info-text" style="color: rgb(164, 128, 230); margin-top: 28px; margin-left: -{{ node.author.twitch_link|slice:'22:'|length|add:76 }}px;">{{ node.author.twitch_link|slice:'22:' }}</span>
                      </a>
                    {% endif %}

                    {% if node.author.discord_username %}
                      <a _ngcontent-xpp-c94="" class="info" onclick="discord_copy_text_{{ node.id }}.copy('{{ node.author.discord_username }}');" id="discord_icon-{{ node.id }}">
                        <img src="/static/main_app/images/discord.png" style="border-radius: 50%; cursor: pointer;" width="17.6">
                        <span _ngcontent-xpp-c94="" class="info-text" style="color: #7289DA; margin-top: 28px; margin-left: -{{ node.author.discord_username|length|add:76 }}px;">{{ node.author.discord_username }}</span>
                      </a>
                    {% endif %}

                    {% if node.author.battlenet_username %}
                      <a _ngcontent-xpp-c94="" class="info" onclick="battlenet_copy_text_{{ node.id }}.copy('{{ node.author.battlenet_username }}');" id="battlenet_icon-{{ node.id }}">
                        <img src="/static/main_app/images/battlenet.png" style="border-radius: 50%; cursor: pointer;" width="17.6">
                        <span _ngcontent-xpp-c94="" class="info-text" style="color: rgb(0, 154, 209); margin-top: 28px; margin-left: -{{ node.author.battlenet_username|length|add:76 }}px;">{{ node.author.battlenet_username }}</span>
                      </a>
                    {% endif %}

                    {% if node.author.dress_room_link %}
                      <a _ngcontent-xpp-c94="" class="info" href="{{ node.author.dress_room_link }}" target="_BLANK">
                        <img src="{{ node.author.dress_room_link|get_race_img_by_dress_room_url }}" style="border-radius: 50%;" width="17.6">
                        <span _ngcontent-xpp-c94="" class="info-text" style="color: rgb(255, 255, 255); margin-top: 28px; margin-left: -225px;">{% get_verbose_name node.author 'dress_room_link' %}</span>
                      </a>
                    {% endif %}

                  </div>

                </div>

                <div class="node-content-div">{{ node.content }}</div>

                <label data-id="{{ node.id }}" data-type="comment" data-action="like"
                  class="img-delete-btn1">
                  {% if node.votes.likes.all|user_in:user %}
                    <span class="material-symbols-outlined vote-lime" style="color: lime;">thumb_up</span>
                  {% else %}
                    <span class="material-symbols-outlined vote-white" style="color: white;">thumb_up</span>
                  {% endif %}
                </label>
                <label data-count="like"
                  style="left: 0px;">{{ node.votes.likes.count }}</label>
  
                <label data-id="{{ node.id }}" data-type="comment" data-action="dislike"
                  class="img-delete-btn2" style="margin-left: 10px;">
                  {% if node.votes.dislikes.all|user_in:user %}
                    <span class="material-symbols-outlined vote-red" style="color: red;">thumb_down</span>
                  {% else %}
                    <span class="material-symbols-outlined vote-white" style="color: white;">thumb_down</span>
                  {% endif %}
                </label>
                <label data-count="dislike"
                  style="left: 0px; padding-right: 12px;">{{ node.votes.dislikes.count }}</label>

                {% if user.is_authenticated %}
                  {% if node.level > 0 %}
                    <button class="btn btn-outline-secondary comm-reply-btn" style="padding-left: 0px;"
                      onclick="myFunction('{{ node.id }}', '{{ node.author }}', '{{ node.level }}')">{% trans 'Ответить' %}</button>
                  {% else %}
                    <button class="btn btn-outline-secondary comm-reply-btn" style="padding-left: 0px;"
                      onclick="myFunction('{{ node.id }}', '', '{{ node.level }}')">{% trans 'Ответить' %}</button>
                  {% endif %}
                {% endif %}
                <a _ngcontent-xpp-c94="" class="info">
                  <button class="btn btn-outline-secondary comm-reply-btn" style="padding-left: 0px; padding-right: 0px;"
                    onclick="copy_text.copy(document.location.origin + document.location.pathname + '#{{ node.id }}');">{% trans 'Поделиться' %}</button>
                  <span _ngcontent-xpp-c94="" class="info-text"
                    style="color: #fff; margin-top: -22px; margin-left: -250px;">{% trans 'Скопировать ссылку на комментарий' %}</span>
                </a>

                <div id="form-anchor-{{ node.id }}"></div>

                {% if not node.is_leaf_node %}
                  {{ children }}
                {% endif %}

              {% endif %}

            </div>
          </div>
          {% endrecursetree %}
        </div>

        <script>
          function show_hide_element(element_id) {

            if (document.getElementById(element_id).style.display == 'block') {
              document.getElementById(element_id).style.display = 'none';

              if (element_id.slice(0, 6) == 'answer') {
                document.querySelector(`#show-hide-${element_id} span`).innerHTML = 'expand_more';
              };
            } else {
              document.getElementById(element_id).style.display = 'block';

              if (element_id.slice(0, 6) == 'answer') {
                document.querySelector(`#show-hide-${element_id} span`).innerHTML = 'expand_less';
              };
            };
          };
        </script>

        <script>
          function color_handler(element, vote_type) {
            if (vote_type) {
              var shift_pixels = "0px";
              var another_vote_ele = element.next().next();

              // отрабатывает при снятии оценки
              if (element.find('span')[0].classList.contains('vote-lime')) {
                element.find('span')[0].classList.remove('vote-lime');
                element.find('span')[0].classList.add('vote-white');
                element.find('span').css("color", "white");
                return shift_pixels;
              };

              // отрабатывает при добавлении/смене оценки
              if (element.find('span')[0].classList.contains('vote-white')) {
                element.find('span')[0].classList.remove('vote-white');
              } else if (element.find('span')[0].classList.contains('vote-red')) {
                element.find('span')[0].classList.remove('vote-red');
              };
              element.find('span')[0].classList.add('vote-lime');
              element.find('span').css("color", "lime");

            } else {
              var shift_pixels = "15px";
              var another_vote_ele = element.prev().prev();

              if (element.find('span')[0].classList.contains('vote-red')) {
                element.find('span')[0].classList.remove('vote-red');
                element.find('span')[0].classList.add('vote-white');
                element.find('span').css("color", "white");
                return shift_pixels;
              };

              if (element.find('span')[0].classList.contains('vote-white')) {
                element.find('span')[0].classList.remove('vote-white');
              } else if (element.find('span')[0].classList.contains('vote-lime')) {
                element.find('span')[0].classList.remove('vote-lime');
              };
              element.find('span')[0].classList.add('vote-red');
              element.find('span').css("color", "red");
            };

            // отрабатывает при добавлении/смене оценки
            if (another_vote_ele.find('span')[0].classList.contains('vote-red')) {
              another_vote_ele.find('span')[0].classList.remove('vote-red');
            } else if (another_vote_ele.find('span')[0].classList.contains('vote-lime')) {
              another_vote_ele.find('span')[0].classList.remove('vote-lime');
            };
            another_vote_ele.find('span')[0].classList.add('vote-white');
            another_vote_ele.find('span').css("color", "white");

            return shift_pixels;
          }

          function animateIcon(element, vote_type) {
            shift_pixels = color_handler(element, vote_type)

            element.animate(
              { top: shift_pixels },
              { duration: 100, queue: false,
                complete: function() {
                  element.animate(
                    { top: "7.5px" },
                    { duration: 100, queue: false },
                  );
                },
              },
            );
          };

          const lang_prefix = "{{ LANGUAGE_CODE }}" === "ru" ? "" : "/en";
          var csrftoken = Cookies.get('csrftoken');
          function like()
          {
              var like = $(this);
              var type = like.data('type');
              var pk = like.data('id');
              var action = like.data('action');

              animateIcon(like, true)

              $.ajax({
                  url : lang_prefix + "/api/" + type + "/" + pk + "/" + action + "/",
                  type : 'POST',
                  data : { 'obj' : pk },
                  headers: {'X-CSRFToken': csrftoken},

                  success : function (json) {
                      like.next().text(json.like_count);
                      like.next().next().next().text(json.dislike_count);
                  }
              });

              return false;
          }

          function dislike()
          {
              var dislike = $(this);
              var type = dislike.data('type');
              var pk = dislike.data('id');
              var action = dislike.data('action');

              animateIcon(dislike, false)
          
              $.ajax({
                  url : lang_prefix + "/api/" + type + "/" + pk + "/" + action + "/",
                  type : 'POST',
                  data : { 'obj' : pk },
                  headers: {'X-CSRFToken': csrftoken},
          
                  success : function (json) {
                      dislike.next().text(json.dislike_count);
                      dislike.prev().text(json.like_count);
                  }
              });
          
              return false;
          }
          
          "{% if user.is_authenticated %}"
            $(function() {
              $('[data-action="like"]').click(like);
              $('[data-action="dislike"]').click(dislike);
            });
          "{% endif %}"
        </script>

        <div class="py-4" style="display: inline-flex; margin-left: 34%;">
          <nav aria-label="Page navigation example">
            {% if comments.has_other_pages %}
              <ul class="pagination">
                {% if comments.has_previous %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ comments.previous_page_number }}"><</a>
                  </li>
                {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" href="#"><</a>
                  </li>
                {% endif %}
                {% for num in comments.paginator.page_range %}
                  {% if comments.number == l %}
                    <li class="page-item active">
                      <span class="page-link">{{ num }}
                        <span class="sr-only">(current)</span>
                      </span>
                    </li>
                  {% else %}
                    <li>
                      <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
                {% if comments.has_next %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ comments.next_page_number }}">></a>
                  </li>
                {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" href="#">></a>
                  </li>
                {% endif %}
              </ul>
            {% endif %}
          </nav>
        </div>

      </div>
    </div>
  </div>
</div>

<script>
  let go_to_top_btn = document.getElementById("go-to-top-btn");
  let go_to_comments_btn = document.getElementById("go-to-comments-btn");

  function scroll_position() {
    // if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    //   go_to_top_btn.style.display = "block";
    // } else {
    //   go_to_top_btn.style.display = "none";
    // };
    var guide_content_coord = document.querySelector('#guide-content-div').getBoundingClientRect();
    if (guide_content_coord.y < 0 || guide_content_coord.y > 1) {
      go_to_top_btn.style.display = "block";
    } else {
      go_to_top_btn.style.display = "none";
    };

    var comments_counter_coord = document.querySelector('#comments-counter').getBoundingClientRect();
    if (comments_counter_coord.y < 0 || comments_counter_coord.y > 1) {
      go_to_comments_btn.style.display = "block";
    } else {
      go_to_comments_btn.style.display = "none";
    };
  };

  window.onscroll = function() {scroll_position()};

  function go_to_top() {
    // document.body.scrollTop = 0;
    // document.documentElement.scrollTop = 0;
    document.querySelector('#guide-content-div').scrollIntoView();
  };

  function go_to_comments() {
    document.querySelector('#comments-counter').scrollIntoView();
  };
</script>

<script>
  function fixTextareaSize(textarea) {
    textarea.style.height = 'auto'
    textarea.style.height = textarea.scrollHeight + 2 + "px"
  }
  ~function() {
    var textarea = document.querySelector('.first-textarea');
    if (textarea) {
      textarea.addEventListener('input', function(event) {
        fixTextareaSize(event.target);
      });
      fixTextareaSize(textarea);
    };
  }();

  $('.first-textarea').on('focus', function(e) {
    let hr = $('#myForm').find('hr')
    hr.css('background-color', 'white')
    hr.css('height', '1.5px')
    hr.css('margin-bottom', '5px')
  })
  $('.first-textarea').on('blur', function(e) {
    let hr = $('#myForm').find('hr')
    hr.css('background-color', 'grey')
    hr.css('height', '0px')
    hr.css('margin-bottom', '6.5px')
  })
  $('#myForm').find('hr').css('transition', 'all 0.2s ease')

  function formExit() {
    document.getElementById("newForm").remove();
  }

  function myFunction(id, author, level) {

    if (document.contains(document.getElementById("newForm"))) {
      document.getElementById("newForm").remove();
    }

    var d1 = document.getElementById(`form-anchor-${id}`);

    // https://learn.javascript.ru/multi-insert
    d1.insertAdjacentHTML('afterEnd',
      `<form id="newForm" class="form-insert py-2" style="margin-bottom: -10px;" method="POST">
        {% csrf_token %}
        <select name="parent" class="d-none" id="id_parentt">
          <option value="${id}" selected="${id}"></option>
        </select>
        <div class="d-flex">
          <img _ngcontent-xpp-c84="" class="img-avatar" src="{{ user.get_avatar }}"
            style="width: 50px; height: 50px; position: relative; bottom: 10px; margin-right: 5px; border-radius: 50%; border-color: grey;">
          <textarea name="content" cols="40" rows="1" class="reply-textarea" placeholder="{% trans 'Введите ответ' %}" required id="id_content"></textarea>
        </div>
        <hr>
        <div style="display: flex; justify-content: right;">
          <button type="button" style="margin-right: 5px;" class="btn btn-outline-secondary" onclick="formExit()"">{% trans 'Отмена' %}</button>
          <button type="submit" class="btn btn-outline-secondary" id="reply_comment">{% trans 'Отправить' %}</button>
        </div>
      </form>`
    );

    if (level != 0) {
      form_insert = document.querySelector('.form-insert')
      form_insert.classList.add('pl-md-5');
    }

    if (author) {
      document.querySelector('.reply-textarea').value = '@' + author + ' ';
    } else {
      document.querySelector('.reply-textarea').value = '';
    }

    document.querySelector('.reply-textarea').addEventListener('input', function (e) {
      e.target.style.height = 'auto'
      e.target.style.height = e.target.scrollHeight + 2 + "px"
    })

    $('.reply-textarea').on('focus', function(e) {
      let hr = $('#newForm').find('hr')
      hr.css('background-color', 'white')
      hr.css('height', '1.5px')
      hr.css('margin-bottom', '5px')
      hr.css('transition', 'all 0.2s ease')
    })
    $('.reply-textarea').on('blur', function(e) {
      let hr = $('#newForm').find('hr')
      hr.css('background-color', 'grey')
      hr.css('height', '0px')
      hr.css('margin-bottom', '6.5px')
    })
    document.querySelector('.reply-textarea').focus()

  }

  $('#myForm').trigger("reset");
</script>

<script>
  const copy_text = new CopyText();

  const window_coords = ['scrollX', 'scrollY'];
  // Перед перезагрузкой страницы записываем в sessionStorage window.scrollX и window.scrollY как scrollX и scrollY
  window.addEventListener('unload', event => window_coords.forEach(coord => sessionStorage[coord] = window[coord]));


  function recurse_find_parent_element_by_prefix(prefix, element, max_tries=Infinity, tries_count=0) {
    tries_count += 1;
    if (tries_count === max_tries) return;
    if (element.parentElement === null) return;
    if (element.parentElement.hasAttribute('id')
    && element.parentElement.id.split('-')[0] === prefix) return element.parentElement;
    return recurse_find_parent_element_by_prefix(prefix, element.parentElement, max_tries, tries_count);
  };


  let highlight_interval_id;

  function highlight_animation(element, vertical_shift) {
    // Прокручиваем страницу к месту расположения комментария + vertical_shift вверх
    // $('html, body')[0].scrollTop = element.offset().top - vertical_shift;
    // window.scrollTo(0, element.offset().top - vertical_shift);
    window.scroll(0, element.offset().top - vertical_shift);
    $('.loader').css('display', 'none');

    let opacity = 1;
    if (highlight_interval_id) clearInterval(highlight_interval_id);
    highlight_interval_id = setInterval(function() {
      opacity -= 0.01;
      element.css({'box-shadow': `0 0 10px 10px rgba(31, 184, 255, ${opacity})`});
      if (opacity <= 0) clearInterval(highlight_interval_id);
    }, 20);
  };


  function highlight_hash_link() {

    const hash = document.location.hash.split('#')[1];

    // Если это загрузка страницы без указания hash в url
    if (typeof hash === "undefined") {
      // Прокручиваем страницу к scrollX и scrollY из данных sessionStorage (либо 0, 0 если там еще ничего нет)
      window.scroll(...window_coords.map(coord => sessionStorage[coord]));
      $('.loader').css('display', 'none');
      return false;
    };

    // Принудительно очищаю хэш после перехода по ссылке для того чтобы
    // при последующей перезагруке страницы не телепортировало к якорю этого хэша
    document.location.hash = "";
    // window.location.hash = "";
    // parent.location.hash = "";

    // если hash содержит символы отличные от цифр,
    // значит это не ссылка на комментарий, а переход по ссылке в гайде
    if (isNaN(hash)) {
      highlight_animation($(`#${hash}`), 15);
      return false;
    };

    const comment = $(`#notifying-border-${hash}`);

    if (!comment[0]) return false;

    const answers = recurse_find_parent_element_by_prefix('answers', comment[0]);
    if (answers) {
      answers.style.display = 'block';
      answers.previousElementSibling.children[0].textContent = 'expand_less';
    };

    highlight_animation(comment, 370);
  };

  const tooltipsLoadedCallbackTimeoutId = setTimeout(function() {
    window.WH.Tooltips.tooltipsLoadedCallback();
  }, 500);

  window.WH.Tooltips.tooltipsLoadedCallback = debounce(function() {
    clearTimeout(tooltipsLoadedCallbackTimeoutId);
    highlight_hash_link();
  }, 50);

  window.addEventListener('hashchange', function(event) {
    if (document.location.hash === "") return false;
    highlight_hash_link();
  });
</script>
{% endblock %}
