{% extends 'main_app/guides_list.html' %}

{% load static %}
{% load i18n %}
{% load mptt_tags %}
{% load main_app_tags %}

{% block head %}

<!-- https://fonts.google.com/icons -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
<style>
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 48;
  }
</style>

<link rel="stylesheet" href="{% static 'main_app/css/main_apps/guide.css' %}">

{% if user.is_authenticated %}
  <style>
    .img-delete-btn1 span, .img-delete-btn2 span {
      cursor: pointer;
      transition: all 0.3s ease;
    }
    .img-delete-btn1 span:hover {
      color: lime !important;
    }
    .img-delete-btn2 span:hover {
      color: red !important;
    }
  </style>
{% endif %}

{% endblock %}


{% block body %}
<div class="loader">
  <div class="loader-inner">
    <div class="loader-line-wrap">
      <div class="loader-line"></div>
    </div>
    <div class="loader-line-wrap">
      <div class="loader-line"></div>
    </div>
    <div class="loader-line-wrap">
      <div class="loader-line"></div>
    </div>
    <div class="loader-line-wrap">
      <div class="loader-line"></div>
    </div>
    <div class="loader-line-wrap">
      <div class="loader-line"></div>
    </div>
  </div>
</div>

<button onclick="go_to_top();" id="go-to-top-btn" title="Go to top">
  <span class="material-symbols-outlined go-to-top-icon">pan_tool_alt</span>
</button>
<button onclick="go_to_comments();" id="go-to-comments-btn" title="Go to comments">
  <span class="material-symbols-outlined go-to-comments-icon">chat</span>
</button>

<div _ngcontent-gox-c51="" class="bg-check page-size py-3 pdng-l-r">

  <div style="margin: 0px 15px 0px 15px;">

    {% if user.is_superuser or user.is_staff %}
      <div class="fa {% if guide.is_published %}fa-check-square{% else %}fa-window-close{% endif %}"
        style="font-size: 22px; {% if guide.is_published %}color: lime;{% else %}color: red;{% endif %}">
        <span style="font-size: 16px; position: relative; bottom: 1.5px; color: white;">
          {% get_verbose_name guide 'is_published' %}
        </span>
      </div>
    {% endif %}

    <br>
    <div class="guide-title-div">
      <h2 class="guide-title-h2">{{ guide.title }}</h2>

      <div class="guide-title-time-div">
        {{ guide.time_create }}
        <br>
        {% if guide.time_update %}
          ({% trans 'Изменено' %}: {{ guide.time_update|translate_datetime:LANGUAGE_CODE }})
        {% endif %}
      </div>
    </div>

    <br>

    {% if guide.main_image %}
      <p style="text-align: center;">
        <img src="{{ guide.main_image.url }}" style="max-width: 100%">
      </p>
    {% endif %}

    <div id="guide-content-div" style="text-align: left;">

      <div class="guide-content">
        {{ guide.content|safe }}
      </div>

      <br><br><br>

      <div style="text-align: right; margin-right: 5%;">
        <label data-id="{{ guide.id }}" data-type="guide" data-action="like"
          class="img-delete-btn1">
            {% if guide.votes.likes.all|user_in:user %}
              <span class="fa fa-thumbs-up vote-lime evaluation-icons" style="color: lime;"></span>
            {% else %}
              <span class="fa fa-thumbs-up vote-white evaluation-icons" style="color: white;"></span>
            {% endif %}
        </label>
        <label data-count="like"
          style="left: 0px; margin-left: 3px;">{{ guide.votes.likes.count }}</label>

        <label data-id="{{ guide.id }}" data-type="guide" data-action="dislike"
          class="img-delete-btn2" style="margin-left: 10px;">
            {% if guide.votes.dislikes.all|user_in:user %}
              <span class="fa fa-thumbs-down vote-red evaluation-icons" style="color: red;"></span>
            {% else %}
              <span class="fa fa-thumbs-down vote-white evaluation-icons" style="color: white;"></span>
            {% endif %}
        </label>
        <label data-count="dislike"
          style="left: 0px; margin-left: 3px;">{{ guide.votes.dislikes.count }}</label>
      </div>

    </div>
  </div>

  <br><br>
  <hr>

  <div class="container">
    <div class="row justify-content-md-center pt-5">
      <div class="col-md-7">

        <h2 id="comments-counter">
          {{ comments_set.count }} {% trans 'комментариев' %}
        </h2>
        <br>

        {% if user.is_authenticated %}
          <div id="myDIV" style="display:block;">
            <form id="myForm" method="POST">
              {% csrf_token %}

              <div class="d-flex">
                <img _ngcontent-xpp-c84="" class="img-avatar" src="{{ user.get_avatar }}"
                  style="width: 50px; height: 50px; position: relative; bottom: 11px; margin-right: 5px; border-radius: 50%; border-color: grey;">
                {{ form.content }}
              </div>
              <hr>

              <div style="display: flex; justify-content: right;">
                <div class="d-flex justify-content-between">
                  <button type="submit" class="btn btn-outline-secondary"
                    id="leave_comment">{% trans 'Оставить комментарий' %}</button>
                </div>
              </div>

            </form>
          </div>
        {% else %}
          <p style="text-align: center; color: grey;">
            {% trans 'Для получения возможности оставлять комментарии, отвечать на них и давать им оценки, пожалуйста, войдите в свою учётную запись.' %}
          </p>
        {% endif %}

        <div class="comments-tree-div">
          {% recursetree comments %}
          <div class="notifying-border" id="notifying-border-{{ node.id }}">
            <div id="{{ node.id }}">

              <script>
                var node_id = "{{ node.id }}";
                window["battlenet_copy_text_" + node_id] = new CopyText();
                window["discord_copy_text_" + node_id] = new CopyText();
              </script>

              {% if node.level == 0 %}
                <div class="d-flex" style="height: 38px;">
                  <img _ngcontent-xpp-c84="" class="img-avatar avatar-light-border" src="{{ node.author.get_avatar }}"
                    style="width: 50px; height: 50px; position: relative; bottom: 13px; border-radius: 50%; cursor: pointer;"
                    onclick="show_hide_element('da-btn-bar-{{ node.id }}');">

                  <div style="margin-left: 7px; position: relative;">

                    <label onclick="show_hide_element('da-btn-bar-{{ node.id }}');"
                      style="margin: auto; cursor: pointer;" class="comm-node-author">{{ node.author }}</label>

                      <div _ngcontent-gox-c60="" id="da-btn-bar-{{ node.id }}" class="p-1 account-settings-box-0">
                        <span _ngcontent-gox-c60="" id="cn-notice-text">

                          <table _ngcontent-gox-c51="" class="account-settings-table">
                            <tr _ngcontent-gox-c51="">
                              <td _ngcontent-gox-c51="">{% trans 'Адрес электронной почты' %}:</td>
                              <td _ngcontent-gox-c51="">
                                {{ node.author.email }}
                              </td>
                            </tr>
                            <tr _ngcontent-gox-c51="">
                              <td _ngcontent-gox-c51="">{% trans 'Дата создания учётной записи' %}:</td>
                              <td _ngcontent-gox-c51="">
                                {{ node.author.date_joined }}
                              </td>
                            </tr>
                            <tr _ngcontent-gox-c51="">
                              <td _ngcontent-gox-c51="">{% trans 'Имя' %}:</td>
                              <td _ngcontent-gox-c51="">
                                {{ node.author.first_name }}
                              </td>
                            </tr>
                            <tr _ngcontent-gox-c51="">
                              <td _ngcontent-gox-c51="">{% trans 'Фамилия' %}:</td>
                              <td _ngcontent-gox-c51="">
                                {{ node.author.last_name }}
                              </td>
                            </tr>
                            <tr _ngcontent-gox-c51="">
                              <td _ngcontent-gox-c51="">{% trans 'Дата рождения' %}:</td>
                              <td _ngcontent-gox-c51="">
                                {% if node.author.birth_date != None %}
                                  {{ node.author.birth_date }}
                                {% endif %}
                              </td>
                            </tr>
                            <tr _ngcontent-gox-c51="">
                              <td _ngcontent-gox-c51="">{% trans 'Пол' %}:</td>
                              <td _ngcontent-gox-c51="">
                                {% if node.author.gender == 'male' %}
                                  {% trans 'Мужчина' %}
                                {% elif node.author.gender == 'female' %}
                                  {% trans 'Женщина' %}
                                {% endif %}
                              </td>
                            </tr>
                          </table>

                        </span>
                        <div _ngcontent-gox-c60="" class="d-block d-md-block mt-1"
                          style="display: flex !important;">

                          {% if user.is_superuser %}
                            <form method="POST">
                              {% csrf_token %}
                              <button type="submit" class="fa fa-trash unpublication-btn"
                                name="unpublication" value="{{ node.id }}"></button>
                            </form>
                          {% endif %}

                          <button _ngcontent-gox-c60="" class="btn-custom btn-accept-cookie3"
                            style="margin-left: auto; margin-right: auto;"
                            onclick="show_hide_element('da-btn-bar-{{ node.id }}');">
                            {% trans 'Закрыть' %}
                          </button>
                        </div>
                      </div>
                  </div>

                  <div style="margin-left: 5px; color: grey;">{{ node.time_create|translate_datetime:LANGUAGE_CODE }}</div>

                  <div class="all-profile-icons">

                    {% for game_class in node.author.game_class %}
                      <a _ngcontent-xpp-c94="" class="info">
                        {% for class_id, class_name_and_color in node.author.get_user_game_classes_data.items %}
                          {% if class_id == game_class %}
                            <img _ngcontent-xpp-c94="" class="img-class-exp"
                              src="/static/main_app/images/class_icons/class_{{ game_class }}.png"
                              style="border: 2px solid rgb({{ class_name_and_color.class_colors }}); border-radius: 50%;" width="21">

                            <span _ngcontent-xpp-c94="" class="info-text"
                              style="color: rgb({{ class_name_and_color.class_colors }}); margin-top: 30px; margin-left: -{{ class_name_and_color.verbose_name|length|add:76 }}px;">
                              {{ class_name_and_color.verbose_name }}
                            </span>
                          {% endif %}
                        {% endfor %}
                      </a>
                    {% endfor %}

                    {% if node.author.twitch_link %}
                      <a _ngcontent-xpp-c94="" class="info" href="{{ node.author.twitch_link }}" target="_BLANK">
                        <img src="/static/main_app/images/twitch.png" style="border-radius: 50%;" width="22">
                        <span _ngcontent-xpp-c94="" class="info-text" style="color: rgb(164, 128, 230); margin-top: 30px; margin-left: -{{ node.author.twitch_link|slice:'22:'|length|add:76 }}px;">{{ node.author.twitch_link|slice:'22:' }}</span>
                      </a>
                    {% endif %}

                    {% if node.author.discord_username %}
                      <a _ngcontent-xpp-c94="" class="info" onclick="discord_copy_text_{{ node.id }}.copy('{{ node.author.discord_username }}');" id="discord_icon-{{ node.id }}">
                        <img src="/static/main_app/images/discord.png" style="border-radius: 50%; cursor: pointer;" width="22">
                        <span _ngcontent-xpp-c94="" class="info-text" style="color: #7289DA; margin-top: 30px; margin-left: -{{ node.author.discord_username|length|add:76 }}px;">{{ node.author.discord_username }}</span>
                      </a>
                    {% endif %}

                    {% if node.author.battlenet_username %}
                      <a _ngcontent-xpp-c94="" class="info" onclick="battlenet_copy_text_{{ node.id }}.copy('{{ node.author.battlenet_username }}');" id="battlenet_icon-{{ node.id }}">
                        <img src="/static/main_app/images/battlenet.png" style="border-radius: 50%; cursor: pointer;" width="22">
                        <span _ngcontent-xpp-c94="" class="info-text" style="color: rgb(0, 154, 209); margin-top: 30px; margin-left: -{{ node.author.battlenet_username|length|add:76 }}px;">{{ node.author.battlenet_username }}</span>
                      </a>
                    {% endif %}

                    {% if node.author.dress_room_link %}
                      <a _ngcontent-xpp-c94="" class="info" href="{{ node.author.dress_room_link }}" target="_BLANK">
                        <img src="{{ node.author.dress_room_link|get_race_img_by_dress_room_url }}" style="border-radius: 50%;" width="22">
                        <span _ngcontent-xpp-c94="" class="info-text" style="color: rgb(255, 255, 255); margin-top: 30px; margin-left: -225px;">{% get_verbose_name node.author 'dress_room_link' %}</span>
                      </a>
                    {% endif %}

                  </div>
                </div>

                <div class="node-content-div">{{ node.content }}</div>

                <label data-id="{{ node.id }}" data-type="comment" data-action="like"
                  class="img-delete-btn1">
                  {% if node.votes.likes.all|user_in:user %}
                    <span class="material-symbols-outlined vote-lime" style="color: lime;">thumb_up</span>
                  {% else %}
                    <span class="material-symbols-outlined vote-white" style="color: white;">thumb_up</span>
                  {% endif %}
                </label>
                <label data-count="like"
                  style="left: 0px;">{{ node.votes.likes.count }}</label>

                <label data-id="{{ node.id }}" data-type="comment" data-action="dislike"
                  class="img-delete-btn2" style="margin-left: 10px;">
                  {% if node.votes.dislikes.all|user_in:user %}
                    <span class="material-symbols-outlined vote-red" style="color: red;">thumb_down</span>
                  {% else %}
                    <span class="material-symbols-outlined vote-white" style="color: white;">thumb_down</span>
                  {% endif %}
                </label>
                <label data-count="dislike"
                  style="left: 0px; padding-right: 12px;">{{ node.votes.dislikes.count }}</label>

                {% if user.is_authenticated %}
                  {% if node.level > 0 %}
                    <button class="btn btn-outline-secondary comm-reply-btn" style="padding-left: 0px;"
                      onclick="myFunction('{{ node.id }}', '{{ node.author }}', '{{ node.level }}')">{% trans 'Ответить' %}</button>
                  {% else %}
                    <button class="btn btn-outline-secondary comm-reply-btn" style="padding-left: 0px;"
                      onclick="myFunction('{{ node.id }}', '', '{{ node.level }}')">{% trans 'Ответить' %}</button>
                  {% endif %}
                {% endif %}
                <a _ngcontent-xpp-c94="" class="info">
                  <button class="btn btn-outline-secondary comm-reply-btn" style="padding-left: 0px; padding-right: 0px;"
                    onclick="copy_text.copy(document.location.origin + document.location.pathname + '#{{ node.id }}');">{% trans 'Поделиться' %}</button>
                  <span _ngcontent-xpp-c94="" class="info-text"
                    style="color: #fff; margin-top: -22px; margin-left: -250px;">{% trans 'Скопировать ссылку на комментарий' %}</span>
                </a>

                <div id="form-anchor-{{ node.id }}"></div>

                {% if node|child_count > 0 %}
                  <div id="show-hide-answers-{{ node.id }}" onclick="show_hide_element('answers-{{ node.id }}')" style="color: #3ea6ff; user-select: none; display: inline-block;">
                    <span class="material-symbols-outlined" style="position: relative; top: 6px; cursor: pointer; font-variation-settings: 'wght' 700">
                      expand_more
                    </span>
                    <label style="margin: auto; font-weight: 600; cursor: pointer;">{{ node|child_count }} {% trans 'ответов' %}</label>
                  </div>
                {% endif %}

                <div id="answers-{{ node.id }}" style="display: none;">
                  {% if not node.is_leaf_node %}
                    <div class="children pl-md-5">
                      {{ children }}
                    </div>
                  {% endif %}
                </div>

              {% else %}
                <div class="d-flex" style="height: 34px;">
                  <img _ngcontent-xpp-c84="" class="img-avatar avatar-light-border" src="{{ node.author.get_avatar }}"
                    style="width: 40px; height: 40px; position: relative; bottom: 8px; border-radius: 50%; cursor: pointer;"
                    onclick="show_hide_element('da-btn-bar-{{ node.id }}');">

                  <div style="margin-left: 7px; position: relative;">

                    <label onclick="show_hide_element('da-btn-bar-{{ node.id }}');"
                      style="margin: auto; cursor: pointer;" class="comm-node-author">{{ node.author }}</label>

                      <div _ngcontent-gox-c60="" id="da-btn-bar-{{ node.id }}" class="p-1 account-settings-box-1">
                        <span _ngcontent-gox-c60="" id="cn-notice-text">

                          <table _ngcontent-gox-c51="" class="account-settings-table">
                            <tr _ngcontent-gox-c51="">
                              <td _ngcontent-gox-c51="">{% trans 'Адрес электронной почты' %}:</td>
                              <td _ngcontent-gox-c51="">
                                {{ node.author.email }}
                              </td>
                            </tr>
                            <tr _ngcontent-gox-c51="">
                              <td _ngcontent-gox-c51="">{% trans 'Дата создания учётной записи' %}:</td>
                              <td _ngcontent-gox-c51="">
                                {{ node.author.date_joined }}
                              </td>
                            </tr>
                            <tr _ngcontent-gox-c51="">
                              <td _ngcontent-gox-c51="">{% trans 'Имя' %}:</td>
                              <td _ngcontent-gox-c51="">
                                {{ node.author.first_name }}
                              </td>
                            </tr>
                            <tr _ngcontent-gox-c51="">
                              <td _ngcontent-gox-c51="">{% trans 'Фамилия' %}:</td>
                              <td _ngcontent-gox-c51="">
                                {{ node.author.last_name }}
                              </td>
                            </tr>
                            <tr _ngcontent-gox-c51="">
                              <td _ngcontent-gox-c51="">{% trans 'Дата рождения' %}:</td>
                              <td _ngcontent-gox-c51="">
                                {% if node.author.birth_date != None %}
                                  {{ node.author.birth_date }}
                                {% endif %}
                              </td>
                            </tr>
                            <tr _ngcontent-gox-c51="">
                              <td _ngcontent-gox-c51="">{% trans 'Пол' %}:</td>
                              <td _ngcontent-gox-c51="">
                                {% if node.author.gender == 'male' %}
                                  {% trans 'Мужчина' %}
                                {% elif node.author.gender == 'female' %}
                                  {% trans 'Женщина' %}
                                {% endif %}
                              </td>
                            </tr>
                          </table>

                        </span>
                        <div _ngcontent-gox-c60="" class="d-block d-md-block mt-1"
                          style="display: flex !important;">

                          {% if user.is_superuser %}
                            <form method="POST">
                              {% csrf_token %}
                              <button type="submit" class="fa fa-trash unpublication-btn unpublication-btn-crutch"
                                name="unpublication" value="{{ node.id }}"></button>
                            </form>
                          {% endif %}

                          <button _ngcontent-gox-c60="" class="btn-custom btn-accept-cookie3"
                            style="margin-left: auto; margin-right: auto;"
                            onclick="show_hide_element('da-btn-bar-{{ node.id }}');">
                            {% trans 'Закрыть' %}
                          </button>
                        </div>
                      </div>
                  </div>

                  <div style="margin-left: 5px; color: grey;">{{ node.time_create|translate_datetime:LANGUAGE_CODE }}</div>

                  <div class="all-profile-icons">

                    {% for game_class in node.author.game_class %}
                      <a _ngcontent-xpp-c94="" class="info">
                        {% for class_id, class_name_and_color in node.author.get_user_game_classes_data.items %}
                          {% if class_id == game_class %}
                            <img _ngcontent-xpp-c94="" class="img-class-exp"
                              src="/static/main_app/images/class_icons/class_{{ game_class }}.png"
                              style="border: 2px solid rgb({{ class_name_and_color.class_colors }}); border-radius: 50%;" width="16.8">

                            <span _ngcontent-xpp-c94="" class="info-text"
                              style="color: rgb({{ class_name_and_color.class_colors }}); margin-top: 28px; margin-left: -{{ class_name_and_color.verbose_name|length|add:76 }}px;">
                              {{ class_name_and_color.verbose_name }}
                            </span>
                          {% endif %}
                        {% endfor %}
                      </a>
                    {% endfor %}

                    {% if node.author.twitch_link %}
                      <a _ngcontent-xpp-c94="" class="info" href="{{ node.author.twitch_link }}" target="_BLANK">
                        <img src="/static/main_app/images/twitch.png" style="border-radius: 50%;" width="17.6">
                        <span _ngcontent-xpp-c94="" class="info-text" style="color: rgb(164, 128, 230); margin-top: 28px; margin-left: -{{ node.author.twitch_link|slice:'22:'|length|add:76 }}px;">{{ node.author.twitch_link|slice:'22:' }}</span>
                      </a>
                    {% endif %}

                    {% if node.author.discord_username %}
                      <a _ngcontent-xpp-c94="" class="info" onclick="discord_copy_text_{{ node.id }}.copy('{{ node.author.discord_username }}');" id="discord_icon-{{ node.id }}">
                        <img src="/static/main_app/images/discord.png" style="border-radius: 50%; cursor: pointer;" width="17.6">
                        <span _ngcontent-xpp-c94="" class="info-text" style="color: #7289DA; margin-top: 28px; margin-left: -{{ node.author.discord_username|length|add:76 }}px;">{{ node.author.discord_username }}</span>
                      </a>
                    {% endif %}

                    {% if node.author.battlenet_username %}
                      <a _ngcontent-xpp-c94="" class="info" onclick="battlenet_copy_text_{{ node.id }}.copy('{{ node.author.battlenet_username }}');" id="battlenet_icon-{{ node.id }}">
                        <img src="/static/main_app/images/battlenet.png" style="border-radius: 50%; cursor: pointer;" width="17.6">
                        <span _ngcontent-xpp-c94="" class="info-text" style="color: rgb(0, 154, 209); margin-top: 28px; margin-left: -{{ node.author.battlenet_username|length|add:76 }}px;">{{ node.author.battlenet_username }}</span>
                      </a>
                    {% endif %}

                    {% if node.author.dress_room_link %}
                      <a _ngcontent-xpp-c94="" class="info" href="{{ node.author.dress_room_link }}" target="_BLANK">
                        <img src="{{ node.author.dress_room_link|get_race_img_by_dress_room_url }}" style="border-radius: 50%;" width="17.6">
                        <span _ngcontent-xpp-c94="" class="info-text" style="color: rgb(255, 255, 255); margin-top: 28px; margin-left: -225px;">{% get_verbose_name node.author 'dress_room_link' %}</span>
                      </a>
                    {% endif %}

                  </div>

                </div>

                <div class="node-content-div">{{ node.content }}</div>

                <label data-id="{{ node.id }}" data-type="comment" data-action="like"
                  class="img-delete-btn1">
                  {% if node.votes.likes.all|user_in:user %}
                    <span class="material-symbols-outlined vote-lime" style="color: lime;">thumb_up</span>
                  {% else %}
                    <span class="material-symbols-outlined vote-white" style="color: white;">thumb_up</span>
                  {% endif %}
                </label>
                <label data-count="like"
                  style="left: 0px;">{{ node.votes.likes.count }}</label>
  
                <label data-id="{{ node.id }}" data-type="comment" data-action="dislike"
                  class="img-delete-btn2" style="margin-left: 10px;">
                  {% if node.votes.dislikes.all|user_in:user %}
                    <span class="material-symbols-outlined vote-red" style="color: red;">thumb_down</span>
                  {% else %}
                    <span class="material-symbols-outlined vote-white" style="color: white;">thumb_down</span>
                  {% endif %}
                </label>
                <label data-count="dislike"
                  style="left: 0px; padding-right: 12px;">{{ node.votes.dislikes.count }}</label>

                {% if user.is_authenticated %}
                  {% if node.level > 0 %}
                    <button class="btn btn-outline-secondary comm-reply-btn" style="padding-left: 0px;"
                      onclick="myFunction('{{ node.id }}', '{{ node.author }}', '{{ node.level }}')">{% trans 'Ответить' %}</button>
                  {% else %}
                    <button class="btn btn-outline-secondary comm-reply-btn" style="padding-left: 0px;"
                      onclick="myFunction('{{ node.id }}', '', '{{ node.level }}')">{% trans 'Ответить' %}</button>
                  {% endif %}
                {% endif %}
                <a _ngcontent-xpp-c94="" class="info">
                  <button class="btn btn-outline-secondary comm-reply-btn" style="padding-left: 0px; padding-right: 0px;"
                    onclick="copy_text.copy(document.location.origin + document.location.pathname + '#{{ node.id }}');">{% trans 'Поделиться' %}</button>
                  <span _ngcontent-xpp-c94="" class="info-text"
                    style="color: #fff; margin-top: -22px; margin-left: -250px;">{% trans 'Скопировать ссылку на комментарий' %}</span>
                </a>

                <div id="form-anchor-{{ node.id }}"></div>

                {% if not node.is_leaf_node %}
                  {{ children }}
                {% endif %}

              {% endif %}

            </div>
          </div>
          {% endrecursetree %}
        </div>

        <div class="py-4" style="display: inline-flex; margin-left: 34%;">
          <nav aria-label="Page navigation example">
            {% if comments.has_other_pages %}
              <ul class="pagination">
                {% if comments.has_previous %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ comments.previous_page_number }}"><</a>
                  </li>
                {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" href="#"><</a>
                  </li>
                {% endif %}
                {% for num in comments.paginator.page_range %}
                  {% if comments.number == l %}
                    <li class="page-item active">
                      <span class="page-link">{{ num }}
                        <span class="sr-only">(current)</span>
                      </span>
                    </li>
                  {% else %}
                    <li>
                      <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
                {% if comments.has_next %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ comments.next_page_number }}">></a>
                  </li>
                {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" href="#">></a>
                  </li>
                {% endif %}
              </ul>
            {% endif %}
          </nav>
        </div>

      </div>
    </div>
  </div>
</div>

<script>
  const user_avatar = "{{ user.get_avatar }}";
  const user_is_authenticated = "{{ user.is_authenticated }}";
  const trans_enter_answer = "{% trans 'Введите ответ' %}";
  const trans_cancel = "{% trans 'Отмена' %}";
  const trans_send = "{% trans 'Отправить' %}";
</script>
<script src="{% static 'main_app/javascript/main_apps/guide.js' %}"></script>

{% endblock %}
