{% extends 'main_app/base.html' %}

{% load static %}
{% load i18n %}

{% block head %}
{% endblock %}

{% block menu %}
<ul _ngcontent-gox-c59="" class="navbar-nav">
  {% if user.is_superuser %}
    <li _ngcontent-gox-c59="" class="nav-item">
      <a _ngcontent-gox-c59="" class="nav-link" target="_BLANK" href="/admin/">admin</a>
    </li>
  {% endif %}
  <li _ngcontent-gox-c59="" class="nav-item">
    <a _ngcontent-gox-c59="" class="nav-link active" href="{% url 'home' %}">{% trans 'Главная' %}</a>
  </li>
  <li _ngcontent-gox-c59="" class="nav-item">
    <a _ngcontent-gox-c59="" class="nav-link" href="{% url 'guides' %}">{% trans 'Гайды' %}</a>
  </li>
  <li _ngcontent-gox-c59="" class="nav-item">
    <a _ngcontent-gox-c59="" class="nav-link" href="{% url 'game_chat' %}">{% trans 'Игровой чат' %}</a>
  </li>
  <li _ngcontent-gox-c59="" class="nav-item">
    <a _ngcontent-gox-c59="" class="nav-link" href="{% url 'streams' %}">{% trans 'Стримы' %}
      <span class="badge badge-dark ng-star-inserted">{{ twitch_stream_count }}</span>
    </a>
  </li>
  <li _ngcontent-gox-c59="" class="nav-item">
    <a _ngcontent-gox-c59="" class="nav-link" href="{% url 'ap_calculator' %}">{% trans 'Калькулятор апа' %}</a>
  </li>
  {% if user.is_authenticated %}
    <li _ngcontent-gox-c59="" class="nav-item">
      <a _ngcontent-gox-c59="" class="nav-link" href="{% url 'account' %}">
        {{ user }}
        <img _ngcontent-xpp-c84="" class="img-avatar" src="{{ user.get_avatar }}">
      </a>
    </li>
    <li _ngcontent-gox-c59="" class="nav-item">
      <a _ngcontent-gox-c59="" class="nav-link" href="{% url 'logout' %}">{% trans 'Выйти' %}</a>
    </li>
  {% else %}
    <li _ngcontent-gox-c59="" class="nav-item">
      <a _ngcontent-gox-c59="" class="nav-link" href="{% url 'register' %}">{% trans 'Регистрация' %}</a>
    </li>
    <li _ngcontent-gox-c59="" class="nav-item">
      <a _ngcontent-gox-c59="" class="nav-link" href="{% url 'login' %}">{% trans 'Войти' %}</a>
    </li>
  {% endif %}
  <li _ngcontent-gox-c59="" class="nav-item dev-chat">
    <a _ngcontent-gox-c59="" class="nav-link" target="_BLANK" href="{% url 'dev_chat' %}">
      <img _ngcontent-gox-c59="" src="{% static 'main_app/images/dev_chat_btn.png' %}">
    </a>
  </li>
</ul>
{% endblock %}

{% block body %}
<app-homepage _nghost-gox-c37="" style="font-size: 14.5px;">
  <div _ngcontent-gox-c37="" class="page-size bg-check p-1 p-md-5 mb-5">
    <h2 _ngcontent-gox-c37="" style="margin-top: 10px;">{% trans 'Добро пожаловать на FRISHUB' %}</h2>
  </div>

  {% if home_news %}
    <div _ngcontent-gox-c37="" class="page-size bg-check p-2 p-md-4 mb-5">
      <div _ngcontent-gox-c37="" class="w-75 m-auto text-center pt-2 pb-2">
        <div _ngcontent-gox-c37="" class="mb-2">

          <h2 _ngcontent-gox-c37="" class="mt-4 mb-3">{% trans 'Новости' %}</h2>

          {% for news in home_news %}
            <div _ngcontent-gox-c37="" class="mb-4">
              <div _ngcontent-gox-c37="" class="date">{{ news.date }}</div>
              {{ news.news }}
            </div>
          {% endfor %}

        </div>
      </div>
    </div>
  {% endif %}

  <div _ngcontent-gox-c37="" class="page-size bg-check p-2 p-md-5 mb-5">
    <div _ngcontent-gox-c37="" class="w-75 m-auto text-center pt-5 pb-5">
      <div _ngcontent-gox-c37="" class="mb-2">

        <h2 _ngcontent-gox-c37="">{% trans 'Что такое FRISHUB?' %}</h2>
        {% trans 'FRISHUB это сайт который был создан мною для повышения навыков программирования но так же может быть полезен для игроков из игры World of Warcraft WotLK.' %}

        <h3 _ngcontent-gox-c37="" class="mt-4 mb-2">{% trans 'Гайды' %}</h3>
        {% trans 'На странице Гайды вы сможете найти пвп гайды по разным классам и спекам от лучших представителей своего класса.' %}

        <h3 _ngcontent-gox-c37="" class="mt-4 mb-2">{% trans 'Игровой чат' %}</h3>
        {% trans 'На странице Игровой чат вы сможете следить за онлайн чатом с сервера WowCircle на любом из реалмов и применять к чату различные сортировки и фильтры.' %}

        <h3 _ngcontent-gox-c37="" class="mt-4 mb-2">{% trans 'Стримы' %}</h3>
        {% trans 'На странице Стримы вы сможете найти множество твитч стримеров по дополнению WotLK с возможностью сортировки по классам.' %}

        <h3 _ngcontent-gox-c37="" class="mt-4 mb-2">{% trans 'Калькулятор апа' %}</h3>
        {% trans 'На странице Калькулятор апа вы сможете найти калькулятор который позволяет рассчитать какое количество очков арены' %}
        <img src="{% static 'main_app/images/arenapoints.jpg' %}" style="width: 17px;">
        {% trans 'вы сможете получить в конце недели с указанным рейтингом в брекетах 2на2, 3на3, 5на5.' %}

        <h2 _ngcontent-gox-c37="" class="mt-4">{% trans 'Обо мне' %}</h2>
        {% trans 'Меня зовут Арсений, я Python веб разработчик с второй половины 2022 года. Данный сайт был создан мною с целью развития навыков программирования. Вы можете посетить мою страницу на' %}
        <a _ngcontent-gox-c37="" href="https://github.com/Friskes" target="_BLANK" style="color: #36f;">GitHub</a>
        {% trans 'где я выкладываю свои проекты, либо страницу на' %}
        <a _ngcontent-gox-c37="" href="https://www.twitch.tv/friskesx" target="_BLANK" style="color: #a335ee;">Twitch</a>
        {% trans 'где я переодически транслирую игру World of Warcraft в дополнении WotLK.' %}
      </div>
    </div>
  </div>

</app-homepage>
{% endblock %}
