{% extends 'main_app/base.html' %}

{% load static %}
{% load i18n %}

{% block head %}
{% endblock %}

{% block body %}
<app-homepage _nghost-gox-c37="" style="font-size: 14.5px;">
  <div _ngcontent-gox-c37="" class="page-size bg-check p-1 p-md-5 mb-5">
    <h2 _ngcontent-gox-c37="" style="margin-top: 10px;">{% trans 'Добро пожаловать на FRISHUB' %}</h2>
  </div>

  {% if home_news %}
    <div _ngcontent-gox-c37="" class="page-size bg-check p-2 p-md-4 mb-5">
      <div _ngcontent-gox-c37="" class="w-75 m-auto text-center pt-2 pb-2">
        <div _ngcontent-gox-c37="" class="mb-2">

          <h2 _ngcontent-gox-c37="" class="mt-4 mb-3">{% trans 'Новости' %}</h2>

          {% for news in home_news %}
            <div _ngcontent-gox-c37="" class="mb-4">
              <div _ngcontent-gox-c37="" class="date">{{ news.date }}</div>
              {{ news.news }}
            </div>
          {% endfor %}

        </div>
      </div>
    </div>
  {% endif %}

  <div _ngcontent-gox-c37="" class="page-size bg-check p-2 p-md-5 mb-5">
    <div _ngcontent-gox-c37="" class="w-75 m-auto text-center pt-5 pb-5">
      <div _ngcontent-gox-c37="" class="mb-2">

        <h2 _ngcontent-gox-c37="">{% trans 'Что такое FRISHUB?' %}</h2>
        {% trans 'FRISHUB это сайт который был создан мною для повышения навыков программирования но так же может быть полезен для игроков из игры World of Warcraft WotLK.' %}

        <h3 _ngcontent-gox-c37="" class="mt-4 mb-2">{% trans 'Гайды' %}</h3>
        {% trans 'На странице Гайды вы сможете найти пвп гайды по разным классам и спекам от лучших представителей своего класса.' %}

        <h3 _ngcontent-gox-c37="" class="mt-4 mb-2">{% trans 'Игровой чат' %}</h3>
        {% trans 'На странице Игровой чат вы сможете следить за онлайн чатом с сервера WowCircle на любом из реалмов и применять к чату различные сортировки и фильтры.' %}

        <h3 _ngcontent-gox-c37="" class="mt-4 mb-2">{% trans 'Стримы' %}</h3>
        {% trans 'На странице Стримы вы сможете найти множество твитч стримеров по дополнению WotLK с возможностью сортировки по классам.' %}

        <h3 _ngcontent-gox-c37="" class="mt-4 mb-2">{% trans 'Примерочная' %}</h3>
        {% blocktrans %}На странице Примерочная вы сможете создавать своих персонажей из разных игровых патчей (wrath, live),
        применять к ним огромное количество кастомизации, например изменение расы, пола, внешности, экипировки, маунтов, анимаций и т.д.
        <br>Так же доступен режим «Только итем» в котором можно просматривать итемы без персонажа.
        <br>Помимо этого доступен функционал создания скриншотов, и генерации случайной внешности.
        <br>Так же для того чтобы вы могли просматривать персонажей и делится ими с вашими друзьями,
        доступны кнопки «Разрешить редактирование другим пользователям», «Комнаты» и «Скопировать ссылку на комнату».{% endblocktrans %}

        <h3 _ngcontent-gox-c37="" class="mt-4 mb-2">{% trans 'Калькулятор апа' %}</h3>
        {% trans 'На странице Калькулятор апа вы сможете найти калькулятор который позволяет рассчитать какое количество очков арены' %}
        <img src="{% static 'main_app/images/arenapoints.jpg' %}" style="width: 17px;">
        {% trans 'вы сможете получить в конце недели с указанным рейтингом в брекетах 2на2, 3на3, 5на5.' %}

        <h3 _ngcontent-gox-c37="" class="mt-4 mb-2">Dev Chat</h3>
        {% blocktrans %}На странице Dev Chat вы можете создать уникальную комнату в которой возможно писать код с подсветкой синтаксиса.
        <br>Данной комнатой можно поделиться с вашим другом и писать код совместно, при этом действия собеседника будут отображаться в режиме
        реального времени.<br>После написания кода существует возможность заблокировать комнату и воспользоваться плеером с помощью которого
        можно просмотреть любой участок времени написания кода.{% endblocktrans %}

        <h2 _ngcontent-gox-c37="" class="mt-4">{% trans 'Обо мне' %}</h2>
        {% trans 'Меня зовут Арсений, я Python веб разработчик с второй половины 2022 года. Данный сайт был создан мною с целью развития навыков программирования. Вы можете посетить мою страницу на' %}
        <a _ngcontent-gox-c37="" href="https://github.com/Friskes" target="_BLANK" style="color: #36f;">GitHub</a>
        {% trans 'где я выкладываю свои проекты, либо страницу на' %}
        <a _ngcontent-gox-c37="" href="https://www.twitch.tv/friskesx" target="_BLANK" style="color: #a335ee;">Twitch</a>
        {% trans 'где я переодически транслирую игру World of Warcraft в дополнении WotLK.' %}
      </div>
    </div>
  </div>

</app-homepage>
{% endblock %}
