{% extends 'main_app/base.html' %}

{% load static %}
{% load i18n %}

{% block head %}

<link rel="stylesheet" href="{% static 'main_app/css/main_apps/streams.css' %}">

{% endblock %}

{% block body %}
<app-twitch _nghost-xpp-c94="" class="ng-star-inserted">
  <div _ngcontent-xpp-c94="" class="container mt-md-3">
    <div _ngcontent-xpp-c94="" class="row">
      <div _ngcontent-xpp-c94="" class="col-12 p-0 fill">
        <div _ngcontent-xpp-c94="" class="card ml-0 mr-0 fill">
          <h5 _ngcontent-xpp-c94="" class="pt-1">
            <img _ngcontent-xpp-c94="" src="{% static 'main_app/images/twitch-banner.png' %}"
              style="width: 230px; max-width: 100%;">
          </h5>

          <div _ngcontent-xpp-c94="" class="filter-card text-center no-border my-3">
            <h2 _ngcontent-xpp-c94="">{% trans 'Классы' %}</h2>

            <span _ngcontent-xpp-c94="" id="warrior" class="ng-star-inserted ranking-filter-class">
              <img _ngcontent-xpp-c94="" src="{% static 'main_app/images/class_icons/warrior.png' %}">
            </span>
            <span _ngcontent-xpp-c94="" id="paladin" class="ng-star-inserted ranking-filter-class">
              <img _ngcontent-xpp-c94="" src="{% static 'main_app/images/class_icons/paladin.png' %}">
            </span>
            <span _ngcontent-xpp-c94="" id="hunter" class="ng-star-inserted ranking-filter-class">
              <img _ngcontent-xpp-c94="" src="{% static 'main_app/images/class_icons/hunter.png' %}">
            </span>
            <span _ngcontent-xpp-c94="" id="rogue" class="ng-star-inserted ranking-filter-class">
              <img _ngcontent-xpp-c94="" src="{% static 'main_app/images/class_icons/rogue.png' %}">
            </span>
            <span _ngcontent-xpp-c94="" id="priest" class="ng-star-inserted ranking-filter-class">
              <img _ngcontent-xpp-c94="" src="{% static 'main_app/images/class_icons/priest.png' %}">
            </span>
            <span _ngcontent-xpp-c94="" id="death_knight" class="ng-star-inserted ranking-filter-class">
              <img _ngcontent-xpp-c94="" src="{% static 'main_app/images/class_icons/death_knight.png' %}">
            </span>
            <span _ngcontent-xpp-c94="" id="shaman" class="ng-star-inserted ranking-filter-class">
              <img _ngcontent-xpp-c94="" src="{% static 'main_app/images/class_icons/shaman.png' %}">
            </span>
            <span _ngcontent-xpp-c94="" id="mage" class="ng-star-inserted ranking-filter-class">
              <img _ngcontent-xpp-c94="" src="{% static 'main_app/images/class_icons/mage.png' %}">
            </span>
            <span _ngcontent-xpp-c94="" id="warlock" class="ng-star-inserted ranking-filter-class">
              <img _ngcontent-xpp-c94="" src="{% static 'main_app/images/class_icons/warlock.png' %}">
            </span>
            <span _ngcontent-xpp-c94="" id="druid" class="ng-star-inserted ranking-filter-class">
              <img _ngcontent-xpp-c94="" src="{% static 'main_app/images/class_icons/druid.png' %}">
            </span>
          </div>

          <script>
            const url_streams = "{% url 'streams' %}";
          </script>
          <script src="{% static 'main_app/javascript/main_apps/streams.js' %}"></script>

          <div _ngcontent-xpp-c94="" class="card-body">
            <div _ngcontent-xpp-c94="" class="row streams-container">
              <div _ngcontent-xpp-c94="" class="col-12"></div>

              <!-- https://docs.djangoproject.com/en/4.1/ref/templates/builtins/#add -->
              {% include 'main_app/streams_container.html' %}

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</app-twitch>
{% endblock %}
