{% extends 'main_app/base.html' %}

{% load static %}
{% load i18n %}

{% block head %}
<style>
  .border-twitch[_ngcontent-xpp-c94] {
    border: 5px solid #6441a4;
    border-radius: 3px;
    /* высота контейнера равная высоте изображения за вычетом бордера */
    min-height: 211px;
  }
  /* Если мы на мобильном */
  @media screen and (max-width: 800px) {
    .border-twitch[_ngcontent-xpp-c94] {
      min-height: 146px;
    }
  }
  .chan-name[_ngcontent-xpp-c94] {
    text-transform: uppercase;
    font-weight: 700;
    color: #936ed8;
    letter-spacing: 1px;
    margin-bottom: 10px
  }
  .chan-info[_ngcontent-xpp-c94] {
    color: #fff
  }
  .chan-desc[_ngcontent-xpp-c94] {
    font-size: 13px;
    color: #8a64d0;
    font-weight: 700;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 5px
  }
  .material-icons[_ngcontent-xpp-c94] {
    color: #936ed8;
    vertical-align: sub;
    font-size: 20px;
    padding-right: 10px
  }
  .chan-container[_ngcontent-xpp-c94] {
    padding-bottom: 20px;
  }
  .chan-container[_ngcontent-xpp-c94] img[_ngcontent-xpp-c94] {
    outline: none
  }
  .chan-container[_ngcontent-xpp-c94] img.w-100[_ngcontent-xpp-c94]:hover {
    transition-duration: .5s
  }
  .play-container[_ngcontent-xpp-c94] {
    font-size: 12px;
    text-transform: uppercase;
    color: #aaa;
    font-weight: 700;
    background-color: rgba(0, 0, 0, .501961);
    position: absolute;
    width: 100%;
    height: 25px;
    padding-top: 4px;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    pointer-events: none;
    opacity: 0;
    z-index: 100
  }
  .twitch-link[_ngcontent-xpp-c94] .play-container[_ngcontent-xpp-c94] {
    opacity: 0;
    transition: all .5s ease;
  }
  .twitch-link[_ngcontent-xpp-c94]:hover .play-container[_ngcontent-xpp-c94] {
    opacity: 1;
  }
  .twitch-link[_ngcontent-xpp-c94]:hover .chan-desc[_ngcontent-xpp-c94],
  .twitch-link[_ngcontent-xpp-c94]:hover .container-counter[_ngcontent-xpp-c94],
  .twitch-link[_ngcontent-xpp-c94]:hover .container-flag[_ngcontent-xpp-c94] {
    transition-duration: .5s;
    transition-delay: .6s;
    opacity: 0
  }
  .twitch-link[_ngcontent-xpp-c94] .chan-desc[_ngcontent-xpp-c94],
  .twitch-link[_ngcontent-xpp-c94] .container-counter[_ngcontent-xpp-c94],
  .twitch-link[_ngcontent-xpp-c94] .container-flag[_ngcontent-xpp-c94] {
    transition-duration: .5s;
    opacity: 1
  }
  .img-class-exp[_ngcontent-xpp-c94] {
    border-radius: 26px;
    width: 26px;
    margin-top: -20px
  }
  .highcote-exp[_ngcontent-xpp-c94] {
    color: #fff;
    font-weight: 100;
    margin-top: -2.5px;
    opacity: .8;
    text-shadow: 1px 1px 1px #000
  }
  .cadre-class-exp[_ngcontent-xpp-c94] {
    border-radius: 3px;
    height: 33px;
    margin-top: 16px !important;
    font-size: 11px
  }
  .experience-title[_ngcontent-xpp-c94] {
    font-size: 12px;
    color: goldenrod;
    padding-top: 0px;
  }
  .container-viewer-flag[_ngcontent-xpp-c94] {
    margin-top: -37px;
    margin-left: 13px !important;
    margin-right: 13px !important
  }
  .container-counter[_ngcontent-xpp-c94],
  .container-flag[_ngcontent-xpp-c94] {
    background-color: rgba(0, 0, 0, .7);
    padding: 0 5px !important;
  }
  .ranking-filter-class[_ngcontent-xpp-c94] {
    border: 1px solid #3c3d4f;
    background: #272733;
    cursor: pointer;
    width: 38px;
    transition: all .4s ease;
  }
  .ranking-filter-class-active[_ngcontent-xpp-c94] {
    border: 1px solid #5f63e1;
    background-color: rgba(103, 106, 247, .27);
    cursor: pointer;
    transition: all .4s ease;
  }
  .ranking-filter-class[_ngcontent-xpp-c94],
  .ranking-filter-class-active[_ngcontent-xpp-c94] {
    border-radius: 3px;
    display: inline-block;
    padding: 5px;
    margin: 2px
  }
  .ranking-filter-class-active[_ngcontent-xpp-c94] img[_ngcontent-xpp-c94],
  .ranking-filter-class[_ngcontent-xpp-c94] img[_ngcontent-xpp-c94] {
    border-radius: 6px;
    height: 26px
  }
  h2[_ngcontent-xpp-c94] {
    font-size: 16px;
    color: #c3c3c3
  }
  .container {
    max-width: 1200px;
  }
  .lang-img[_ngcontent-xpp-c94] {
    position: relative;
    top: 1.5px;
    width: 20px;
  }
</style>
{% endblock %}

{% block body %}
<app-twitch _nghost-xpp-c94="" class="ng-star-inserted">
  <div _ngcontent-xpp-c94="" class="container mt-md-3">
    <div _ngcontent-xpp-c94="" class="row">
      <div _ngcontent-xpp-c94="" class="col-12 p-0 fill">
        <div _ngcontent-xpp-c94="" class="card ml-0 mr-0 fill">
          <h5 _ngcontent-xpp-c94="" class="pt-1">
            <img _ngcontent-xpp-c94="" src="{% static 'main_app/images/twitch-banner.png' %}"
              style="width: 230px; max-width: 100%;">
          </h5>

          <div _ngcontent-xpp-c94="" class="filter-card text-center no-border my-3">
            <h2 _ngcontent-xpp-c94="">{% trans 'Классы' %}</h2>

            <span _ngcontent-xpp-c94="" id="warrior" class="ng-star-inserted ranking-filter-class">
              <img _ngcontent-xpp-c94="" src="{% static 'main_app/images/class_icons/warrior.png' %}">
            </span>
            <span _ngcontent-xpp-c94="" id="paladin" class="ng-star-inserted ranking-filter-class">
              <img _ngcontent-xpp-c94="" src="{% static 'main_app/images/class_icons/paladin.png' %}">
            </span>
            <span _ngcontent-xpp-c94="" id="hunter" class="ng-star-inserted ranking-filter-class">
              <img _ngcontent-xpp-c94="" src="{% static 'main_app/images/class_icons/hunter.png' %}">
            </span>
            <span _ngcontent-xpp-c94="" id="rogue" class="ng-star-inserted ranking-filter-class">
              <img _ngcontent-xpp-c94="" src="{% static 'main_app/images/class_icons/rogue.png' %}">
            </span>
            <span _ngcontent-xpp-c94="" id="priest" class="ng-star-inserted ranking-filter-class">
              <img _ngcontent-xpp-c94="" src="{% static 'main_app/images/class_icons/priest.png' %}">
            </span>
            <span _ngcontent-xpp-c94="" id="death_knight" class="ng-star-inserted ranking-filter-class">
              <img _ngcontent-xpp-c94="" src="{% static 'main_app/images/class_icons/death_knight.png' %}">
            </span>
            <span _ngcontent-xpp-c94="" id="shaman" class="ng-star-inserted ranking-filter-class">
              <img _ngcontent-xpp-c94="" src="{% static 'main_app/images/class_icons/shaman.png' %}">
            </span>
            <span _ngcontent-xpp-c94="" id="mage" class="ng-star-inserted ranking-filter-class">
              <img _ngcontent-xpp-c94="" src="{% static 'main_app/images/class_icons/mage.png' %}">
            </span>
            <span _ngcontent-xpp-c94="" id="warlock" class="ng-star-inserted ranking-filter-class">
              <img _ngcontent-xpp-c94="" src="{% static 'main_app/images/class_icons/warlock.png' %}">
            </span>
            <span _ngcontent-xpp-c94="" id="druid" class="ng-star-inserted ranking-filter-class">
              <img _ngcontent-xpp-c94="" src="{% static 'main_app/images/class_icons/druid.png' %}">
            </span>
          </div>

          <script>
            var game_classes_selected_data = Cookies.getJSON('streams_selected_classes');

            if (!game_classes_selected_data) {
              game_classes_selected_data = {};
            };

            $('.filter-card span').each(function(index, element) {
              if (element.id in game_classes_selected_data) {
                element.classList.remove('ranking-filter-class');
                element.classList.add('ranking-filter-class-active');
              };
            });

            var changeTimer = false;
            $('.filter-card span').on('click', function(event) {

              var element = event.currentTarget;
              if (element.classList[1] == 'ranking-filter-class-active') {
                element.classList.remove('ranking-filter-class-active');
                element.classList.add('ranking-filter-class');
              } else {
                element.classList.remove('ranking-filter-class');
                element.classList.add('ranking-filter-class-active');
              };

              $(this).each(function(index, element) {
                if (element.classList[1] == 'ranking-filter-class-active') {
                  game_classes_selected_data[element.id] = '';
                } else {
                  delete game_classes_selected_data[element.id];
                };
              });

              if (changeTimer !== false) {
                clearTimeout(changeTimer);
              };
              changeTimer = setTimeout(function() {

                $('.streams-container').animate(
                  { opacity: 0 },
                  { duration: 50, queue: false,
                    complete: function() { send_ajax_request(); }
                  },
                );

                changeTimer = false;
              }, 300);
            });

            var csrftoken = Cookies.get('csrftoken');

            function send_ajax_request() {

              // Устанавливаю одинаковый файл Cookies сразу на 2 локализации
              // для того чтобы при переключении языка оставались прежние настройки.
              const another_lang_path = "{{ LANGUAGE_CODE }}" === 'en'
              ? "{% url 'streams' %}".replace('/en', '', 1)
              : '/en' + "{% url 'streams' %}";

              Cookies.set('streams_selected_classes', game_classes_selected_data, {
                expires: 365,
                domain: "{{ PARENT_DOMAIN }}",
                path: "{% url 'streams' %}"
              });
              Cookies.set('streams_selected_classes', game_classes_selected_data, {
                expires: 365,
                domain: "{{ PARENT_DOMAIN }}",
                path: another_lang_path
              });

              // https://api.jquery.com/jquery.ajax/
              $.ajax({
                type: 'POST',
                dataType: 'html',
                url: "{% url 'streams' %}",
                data: game_classes_selected_data,
                headers: {'X-CSRFToken': csrftoken},

                success: function(data, textStatus, jqXHR) {
                  // console.log('data:', data);
                  // console.log('jqXHR.responseText:', jqXHR.responseText);

                  $('.streams-container').html(data);

                  $('.streams-container').animate(
                    { opacity: 1 },
                    { duration: 150, queue: false },
                  );

                },
              });
            };
          </script>

          <div _ngcontent-xpp-c94="" class="card-body">
            <div _ngcontent-xpp-c94="" class="row streams-container">
              <div _ngcontent-xpp-c94="" class="col-12"></div>

              <!-- https://docs.djangoproject.com/en/4.1/ref/templates/builtins/#add -->
              {% include 'main_app/streams_container.html' %}

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</app-twitch>
{% endblock %}
