input[_ngcontent-otd-c88],
input[_ngcontent-otd-c88]:focus,
textarea[_ngcontent-otd-c88],
textarea[_ngcontent-otd-c88]:focus {
    background-color: #181618;
    border: 1px solid #454545;
    font-family: Poppins;
    color: #dadada;
    box-shadow: none;
    text-align: center;
    width: 100%;
    max-width: 300px;
    padding: 10px;
    outline: none
}

input[_ngcontent-otd-c88]::-moz-placeholder {
    color: #4b4b4b
}

input[_ngcontent-otd-c88]::placeholder {
    color: #4b4b4b
}

textarea[_ngcontent-otd-c88] {
    resize: none
}

.container[_ngcontent-otd-c88] {
    max-width: 600px;
    margin: auto
}

fieldset[_ngcontent-otd-c88] {
    border: none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%
}

fieldset.text-danger[_ngcontent-otd-c88] {
    margin-top: 20px;
    padding-bottom: 30px
}
