input[_ngcontent-bgn-c87],
input[_ngcontent-bgn-c87]:focus,
textarea[_ngcontent-bgn-c87],
textarea[_ngcontent-bgn-c87]:focus {
    background-color: #181618;
    border: 1px solid #454545;
    font-family: Poppins;
    color: #dadada;
    box-shadow: none;
    text-align: center;
    width: 100%;
    max-width: 300px;
    padding: 10px;
    outline: none
}

input[_ngcontent-bgn-c87]::-moz-placeholder {
    color: #4b4b4b
}

input[_ngcontent-bgn-c87]::placeholder {
    color: #4b4b4b
}

textarea[_ngcontent-bgn-c87] {
    resize: none
}

.container[_ngcontent-bgn-c87] {
    max-width: 600px;
    margin: auto
}

fieldset[_ngcontent-bgn-c87] {
    border: none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%
}

fieldset.text-danger[_ngcontent-bgn-c87],
fieldset.text-success[_ngcontent-bgn-c87],
fieldset.text-warning[_ngcontent-bgn-c87] {
    font-size: 13px
}

input[type=password][_ngcontent-bgn-c83],
input[type=password][_ngcontent-bgn-c83]:focus,
input[type=text][_ngcontent-bgn-c83],
input[type=text][_ngcontent-bgn-c83]:focus,
textarea[_ngcontent-bgn-c83],
textarea[_ngcontent-bgn-c83]:focus {
    background-color: #181618;
    border: 1px solid #454545;
    font-family: Poppins;
    color: #dadada;
    box-shadow: none;
    text-align: center;
    width: 100%;
    max-width: 300px;
    padding: 10px;
    outline: none
}

input[_ngcontent-bgn-c83]::-moz-placeholder {
    color: #4b4b4b
}

input[_ngcontent-bgn-c83]::placeholder {
    color: #4b4b4b
}

textarea[_ngcontent-bgn-c83] {
    resize: none
}

.container[_ngcontent-bgn-c83] {
    max-width: 600px;
    margin: auto
}

fieldset[_ngcontent-bgn-c83] {
    border: none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%
}

fieldset.text-danger[_ngcontent-bgn-c83] {
    margin-top: 20px;
    padding-bottom: 30px
}

.checkbox[_ngcontent-bgn-c83] {
    width: 20px;
    height: 20px;
    margin-right: 10px
}

.disabled[_ngcontent-bgn-c83] {
    opacity: .4;
    cursor: not-allowed
}

.disabled[_ngcontent-bgn-c83]:hover {
    background-color: #676af7
}

.forgotten-msg2-color-text {
    border: none;
    background-color: transparent;
    font-size: 14px;
    color: #676af7;
}

.not-hover {
    border: none;
    background-color: transparent;
    font-size: 14px;
    color: #676af7;
    transition: all 0.5s ease;
}

.hover {
    border: none;
    background-color: transparent;
    font-size: 14px;
    color: #fd7e14;
    transition: all 0.5s ease;
}
