input[_ngcontent-bgn-c87],
input[_ngcontent-bgn-c87]:focus,
textarea[_ngcontent-bgn-c87],
textarea[_ngcontent-bgn-c87]:focus {
    background-color: #181618;
    border: 1px solid #454545;
    font-family: Poppins;
    color: #dadada;
    box-shadow: none;
    text-align: center;
    width: 100%;
    max-width: 300px;
    padding: 10px;
    outline: none
}

input[_ngcontent-bgn-c87]::-moz-placeholder {
    color: #4b4b4b
}

input[_ngcontent-bgn-c87]::placeholder {
    color: #4b4b4b
}

textarea[_ngcontent-bgn-c87] {
    resize: none
}

.container[_ngcontent-bgn-c87] {
    max-width: 600px;
    margin: auto
}

fieldset[_ngcontent-bgn-c87] {
    border: none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%
}

fieldset.text-danger[_ngcontent-bgn-c87],
fieldset.text-success[_ngcontent-bgn-c87],
fieldset.text-warning[_ngcontent-bgn-c87] {
    font-size: 13px
}
