{% extends 'main_app/base.html' %}

{% load static %}
{% load i18n %}

{% block head %}

<link rel="stylesheet" href="{% static 'main_app/css/accounts/account_delete.css' %}">

{% endblock %}

{% block body %}
<app-account-delete _nghost-xcm-c72="" class="ng-star-inserted">
  <div _ngcontent-xcm-c72="" class="container mt-md-5">
    <div _ngcontent-xcm-c72="" class="row">
      <div _ngcontent-xcm-c72="" class="col-12 p-0 fill">
        <div _ngcontent-xcm-c72="" class="card ml-0 mr-0 fill">
          <h3 _ngcontent-xcm-c72="" style="color: #b73737;">{% trans 'Безвозвратное удаление учётной записи' %}</h3>
          <div _ngcontent-xcm-c72="" class="card-body">

            <div _ngcontent-xcm-c72="" class="conditions">
              <p _ngcontent-xcm-c72="" class="mb-1" style="font-size: 14.5px;">{% trans 'Все ваши личные данные будут удалены.' %}</p>
              <p _ngcontent-xcm-c72="" class="mb-0" style="font-size: 14.5px;">{% trans 'Удаление не может быть отменено.' %}</p>
            </div>

            <p _ngcontent-xcm-c72="">
              <br _ngcontent-xcm-c72="">
              <input _ngcontent-xcm-c72="" type="checkbox" id="confirm" class="checkbox">
              <label _ngcontent-xcm-c72="" for="confirm">{% trans 'Я подтверждаю, что хочу удалить свою учётную запись.' %}</label>
              <br _ngcontent-xcm-c72="">
            </p>

            <script src="{% static 'main_app/javascript/accounts/account_delete.js' %}"></script>

            <form method="POST">
              {% csrf_token %}
              <button _ngcontent-xcm-c72="" type="submit" name="DELETE_ACCOUNT" value="DELETE_ACCOUNT"
                class="btn-remove w-100% button-disabled" disabled>
                {% trans 'Удалить учётную запись' %}
              </button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</app-account-delete>
{% endblock %}
