{% extends 'main_app/base.html' %}

{% load static %}
{% load i18n %}

{% block head %}
<style>
  textarea[_ngcontent-xcm-c64]:focus,
  textarea[_ngcontent-xcm-c64],
  input[_ngcontent-xcm-c64]:focus,
  input[_ngcontent-xcm-c64] {
    background-color: #181618;
    border: 1px solid #454545;
    font-family: Poppins;
    color: #dadada;
    box-shadow: none;
    text-align: center;
    width: 100%;
    max-width: 300px;
    padding: 10px;
    outline: none
  }
  input[_ngcontent-xcm-c64]::-moz-placeholder {
    color: #4b4b4b
  }
  input[_ngcontent-xcm-c64]::placeholder {
    color: #4b4b4b
  }
  textarea[_ngcontent-xcm-c64] {
    resize: none
  }
  .container[_ngcontent-xcm-c64] {
    max-width: 600px;
    margin: auto
  }
  fieldset[_ngcontent-xcm-c64] {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%
  }
</style>
{% endblock %}

{% block body %}
<app-account-edition-password _nghost-xcm-c64="" class="ng-star-inserted">
  <div _ngcontent-xcm-c64="" class="container mt-md-5">
    <div _ngcontent-xcm-c64="" class="row">
      <div _ngcontent-xcm-c64="" class="col-12 p-0 fill">
        <div _ngcontent-xcm-c64="" class="card ml-0 mr-0 fill">
          <h3 _ngcontent-xcm-c64="">{% trans 'Изменить пароль' %}</h3>
          <div _ngcontent-xcm-c64="" class="card-body">

            <form method="POST">
              {% csrf_token %}
              <fieldset _ngcontent-xcm-c64="">
                <div _ngcontent-xcm-c64="" class="form-label ng-star-inserted">&nbsp;</div>
                  {{ form.old_password }}
              </fieldset>

              <fieldset _ngcontent-xcm-c64="">
                <div _ngcontent-xcm-c64="" class="form-label ng-star-inserted">&nbsp;</div>
                  {{ form.new_password1 }}
              </fieldset>

              <fieldset _ngcontent-xcm-c64="">
                <div _ngcontent-xcm-c64="" class="form-label ng-star-inserted">&nbsp;</div>
                  {{ form.new_password2 }}
              </fieldset>

              <fieldset _ngcontent-xcm-c64="">
                <br _ngcontent-xcm-c64="">
                <button _ngcontent-xcm-c64="" class="btn-custom w-100%">{% trans 'Сохранить' %}</button>
              </fieldset>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</app-account-edition-password>
{% endblock %}
