{% extends 'main_app/base.html' %}

{% load static %}
{% load i18n %}

{% block head %}

<link rel="stylesheet" href="{% static 'main_app/css/accounts/account_password.css' %}">

{% endblock %}

{% block body %}
<app-account-edition-password _nghost-xcm-c64="" class="ng-star-inserted">
  <div _ngcontent-xcm-c64="" class="container mt-md-5">
    <div _ngcontent-xcm-c64="" class="row">
      <div _ngcontent-xcm-c64="" class="col-12 p-0 fill">
        <div _ngcontent-xcm-c64="" class="card ml-0 mr-0 fill">
          <h3 _ngcontent-xcm-c64="">{% trans 'Изменить пароль' %}</h3>
          <div _ngcontent-xcm-c64="" class="card-body">

            <form method="POST">
              {% csrf_token %}
              <fieldset _ngcontent-xcm-c64="">
                <div _ngcontent-xcm-c64="" class="form-label ng-star-inserted">&nbsp;</div>
                  {{ form.old_password }}
              </fieldset>

              <fieldset _ngcontent-xcm-c64="">
                <div _ngcontent-xcm-c64="" class="form-label ng-star-inserted">&nbsp;</div>
                  {{ form.new_password1 }}
              </fieldset>

              <fieldset _ngcontent-xcm-c64="">
                <div _ngcontent-xcm-c64="" class="form-label ng-star-inserted">&nbsp;</div>
                  {{ form.new_password2 }}
              </fieldset>

              <fieldset _ngcontent-xcm-c64="">
                <br _ngcontent-xcm-c64="">
                <button _ngcontent-xcm-c64="" class="btn-custom w-100%">{% trans 'Сохранить' %}</button>
              </fieldset>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</app-account-edition-password>
{% endblock %}
