{% extends 'main_app/base.html' %}

{% load static %}
{% load i18n %}

{% block head %}
<style>
  textarea[_ngcontent-xcm-c64]:focus,
  textarea[_ngcontent-xcm-c64],
  input[_ngcontent-xcm-c64]:focus,
  input[_ngcontent-xcm-c64] {
    background-color: #181618;
    border: 1px solid #454545;
    font-family: Poppins;
    color: #dadada;
    box-shadow: none;
    text-align: center;
    width: 100%;
    max-width: 300px;
    padding: 10px;
    outline: none
  }
  input[_ngcontent-xcm-c64]::-moz-placeholder {
    color: #4b4b4b
  }
  input[_ngcontent-xcm-c64]::placeholder {
    color: #4b4b4b
  }
  textarea[_ngcontent-xcm-c64] {
    resize: none
  }
  .container[_ngcontent-xcm-c64] {
    max-width: 600px;
    margin: auto
  }
  fieldset[_ngcontent-xcm-c64] {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%
  }
</style>
{% endblock %}

{% block menu %}
<ul _ngcontent-gox-c59="" class="navbar-nav">
  {% if user.is_superuser %}
    <li _ngcontent-gox-c59="" class="nav-item">
      <a _ngcontent-gox-c59="" class="nav-link" target="_BLANK" href="/admin/">admin</a>
    </li>
  {% endif %}
  <li _ngcontent-gox-c59="" class="nav-item">
    <a _ngcontent-gox-c59="" class="nav-link" href="{% url 'home' %}">{% trans 'Главная' %}</a>
  </li>
  <li _ngcontent-gox-c59="" class="nav-item">
    <a _ngcontent-gox-c59="" class="nav-link" href="{% url 'guides' %}">{% trans 'Гайды' %}</a>
  </li>
  <li _ngcontent-gox-c59="" class="nav-item">
    <a _ngcontent-gox-c59="" class="nav-link" href="{% url 'game_chat' %}">{% trans 'Игровой чат' %}</a>
  </li>
  <li _ngcontent-gox-c59="" class="nav-item">
    <a _ngcontent-gox-c59="" class="nav-link" href="{% url 'streams' %}">{% trans 'Стримы' %}
      <span class="badge badge-dark ng-star-inserted">{{ twitch_stream_count }}</span>
    </a>
  </li>
  <li _ngcontent-gox-c59="" class="nav-item">
    <a _ngcontent-gox-c59="" class="nav-link" href="{% url 'ap_calculator' %}">{% trans 'Калькулятор апа' %}</a>
  </li>
  <li _ngcontent-gox-c59="" class="nav-item">
    <a _ngcontent-gox-c59="" class="nav-link active" href="{% url 'account' %}">
      {{ user }}
      <img _ngcontent-xpp-c84="" class="img-avatar" src="{{ user.get_avatar }}">
    </a>
  </li>
  <li _ngcontent-gox-c59="" class="nav-item">
    <a _ngcontent-gox-c59="" class="nav-link" href="{% url 'logout' %}">{% trans 'Выйти' %}</a>
  </li>
  <li _ngcontent-gox-c59="" class="nav-item dev-chat">
    <a _ngcontent-gox-c59="" class="nav-link" target="_BLANK" href="{% url 'dev_chat' %}">
      <img _ngcontent-gox-c59="" src="{% static 'main_app/images/dev_chat_btn.png' %}">
    </a>
  </li>
</ul>
{% endblock %}

{% block body %}
<app-account-edition-password _nghost-xcm-c64="" class="ng-star-inserted">
  <div _ngcontent-xcm-c64="" class="container mt-md-5">
    <div _ngcontent-xcm-c64="" class="row">
      <div _ngcontent-xcm-c64="" class="col-12 p-0 fill">
        <div _ngcontent-xcm-c64="" class="card ml-0 mr-0 fill">
          <h3 _ngcontent-xcm-c64="">{% trans 'Изменить пароль' %}</h3>
          <div _ngcontent-xcm-c64="" class="card-body">

            <form method="POST">
              {% csrf_token %}
              <fieldset _ngcontent-xcm-c64="">
                <div _ngcontent-xcm-c64="" class="form-label ng-star-inserted">&nbsp;</div>
                  {{ form.old_password }}
              </fieldset>

              <fieldset _ngcontent-xcm-c64="">
                <div _ngcontent-xcm-c64="" class="form-label ng-star-inserted">&nbsp;</div>
                  {{ form.new_password1 }}
              </fieldset>

              <fieldset _ngcontent-xcm-c64="">
                <div _ngcontent-xcm-c64="" class="form-label ng-star-inserted">&nbsp;</div>
                  {{ form.new_password2 }}
              </fieldset>

              <fieldset _ngcontent-xcm-c64="">
                <br _ngcontent-xcm-c64="">
                <button _ngcontent-xcm-c64="" class="btn-custom w-100%">{% trans 'Сохранить' %}</button>
              </fieldset>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</app-account-edition-password>
{% endblock %}
