{% extends 'main_app/base.html' %}

{% load static %}
{% load i18n %}

{% block head %}

<link rel="stylesheet" href="{% static 'main_app/css/accounts/account.css' %}">

{% endblock %}

{% block body %}
<app-account _nghost-xcm-c57="" class="ng-star-inserted">
  <div _ngcontent-xcm-c57="" class="container mt-md-3 account-page">
    <div _ngcontent-xcm-c57="" class="row">
      <div _ngcontent-xcm-c57="" class="col-12 p-0 fill">
        <div _ngcontent-xcm-c57="" class="card ml-0 mr-0 fill">
          <h3 _ngcontent-xcm-c57="">{% trans 'Добро пожаловать' %} {{ user.username }}</h3>
          <div _ngcontent-xcm-c57="" class="card-body mx-auto mt-3">
            <div _ngcontent-xcm-c57="" class="row">

              <div _ngcontent-xcm-c57="" class="col-12 mb-3">
                <a _ngcontent-xcm-c57="" href="{% url 'account_settings' %}">
                  <button _ngcontent-xcm-c57="" class="btn-custom w-100">
                    <i _ngcontent-xcm-c57="" class="material-icons">settings
                    </i>{% trans 'Настройки учётной записи' %}
                  </button>
                </a>
              </div>

              <div _ngcontent-xcm-c57="" class="col-12 mb-3">
                <a _ngcontent-xcm-c57="" href="{% url 'account_password' %}">
                  <button _ngcontent-xcm-c57="" class="btn-custom w-100">
                    <i _ngcontent-xcm-c57="" class="material-icons">lock
                    </i>{% trans 'Изменить пароль' %}
                  </button>
                </a>
              </div>

              <div _ngcontent-xcm-c57="" class="col-12 mb-3">
                <a _ngcontent-xcm-c57="" href="{% url 'account_email' %}">
                  <button _ngcontent-xcm-c57="" class="btn-custom w-100">
                    <i _ngcontent-xcm-c57="" class="material-icons">alternate_email
                    </i>{% trans 'Изменить электронную почту' %}
                  </button>
                </a>
              </div>

              <div _ngcontent-gox-c60="" id="da-btn-bar2" class="p-3">
                <span _ngcontent-gox-c60="" id="cn-notice-text">
                  Email: {{ server_email }}
                  <br>
                  Discord: Friskes#1759
                </span>
                <div _ngcontent-gox-c60="" class="d-block d-md-block mt-2">
                  <a _ngcontent-xpp-c128="" href="{% url 'contact_me' %}"
                    style="font-size: 14px; font-weight: 600;">
                    {% trans 'Связь со мной' %}
                  </a>
                  <button _ngcontent-gox-c60="" class="btn-custom btn-accept-cookie3"
                    onclick="document.getElementById('da-btn-bar2').style.display = 'none';">
                    {% trans 'Закрыть' %}
                  </button>
                </div>
              </div>

              <div _ngcontent-xcm-c57="" class="col-12 mb-3">
                <button _ngcontent-xcm-c57="" class="btn-custom w-100"
                  onclick="document.getElementById('da-btn-bar2').style.display = 'block';">
                  <i _ngcontent-xcm-c57="" class="material-icons">comment
                  </i>{% trans 'Связь со мной' %}
                </button>
              </div>

              <div _ngcontent-xcm-c57="" class="col-12 mb-3 ng-star-inserted">
                <a _ngcontent-xcm-c57="" href="{% url 'account_delete' %}">
                  <button _ngcontent-xcm-c57="" class="btn-remove w-100">
                    <i _ngcontent-xcm-c57="" class="material-icons">delete_forever
                    </i>{% trans 'Удалить учётную запись' %}
                  </button>
                </a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-account>
{% endblock %}
