{% extends 'main_app/base.html' %}

{% load static %}
{% load i18n %}
{% load main_app_tags %}

{% block head %}

<link rel="stylesheet" href="{{ 'main_app/css/accounts/account_email.css' | cachebuster }}">

{% endblock %}

{% block body %}
<app-account-edition-mail _nghost-xcm-c63="" class="ng-star-inserted">
  <div _ngcontent-xcm-c63="" class="container mt-md-5">
    <div _ngcontent-xcm-c63="" class="row">
      <div _ngcontent-xcm-c63="" class="col-12 p-0 fill">
        <div _ngcontent-xcm-c63="" class="card ml-0 mr-0 fill">
          <h3 _ngcontent-xcm-c63="">{% trans 'Изменить адрес электронной почты' %}</h3>
          <div _ngcontent-xcm-c63="" class="card-body">

            <fieldset _ngcontent-xcm-c63="">
              <div _ngcontent-xcm-c63="" class="form-label" style="padding-bottom: 5px;">
                {% trans 'Текущий адрес электронной почты' %}
              </div>
              <input _ngcontent-xcm-c63="" type="text" value="{{ user.email }}" readonly=""
                style="font-family: sans-serif; font-size: 16px; opacity: 0.6;">
            </fieldset>

            <form method="POST">
              {% csrf_token %}
              <fieldset _ngcontent-xcm-c63="">
                <div _ngcontent-xcm-c63="" class="form-label ng-star-inserted">&nbsp;</div>
                  {{ form.new_email }}
              </fieldset>

              <fieldset _ngcontent-xcm-c63="">
                <br _ngcontent-xcm-c63="">
                <button _ngcontent-xcm-c63="" class="btn-custom w-100%">{% trans 'Сохранить' %}</button>
              </fieldset>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</app-account-edition-mail>
{% endblock %}
