{% extends 'main_app/base.html' %}

{% load static %}
{% load i18n %}

{% block head %}

<!-- <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet"/> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" integrity="sha512-yVvxUQV0QESBt1SyZbNJMAwyKvFTLMyXSyBHDO4BG5t7k/Lw34tyqlSDlKIrIENIzCl+RVUNjmCPG+V/GMesRw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<style>
  /* переопределённый цвет вводимого текста в поисковике */
  .chosen-container-active .chosen-choices li.search-field input[type=text] {
    color: rgb(185, 185, 185) !important;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 16px;
  }
</style>

<link rel="stylesheet" href="{% static 'main_app/css/accounts/account_settings.css' %}">

<style>
  /* переопределённая иконка красный крестик */
  a.search-choice-close {
    background: url("{% static 'main_app/images/close.png' %}") 100% no-repeat !important;
    background-size: 12px !important;
  }
</style>

{% if user.get_avatar == '/static/main_app/images/default_avatar.png' %}
<style>
  .img-delete-btn {
    /* скрываем кнопку удалить при дефолтном аватаре */
    visibility: hidden;
  }
</style>
{% endif %}

{% endblock %}

{% block body %}
<app-account-edition-settings _nghost-xcm-c71="" class="ng-star-inserted">
  <div _ngcontent-xcm-c71="" class="container mt-md-5">
    <div _ngcontent-xcm-c71="" class="row">
      <div _ngcontent-xcm-c71="" class="col-12 p-0 fill">
        <div _ngcontent-xcm-c71="" class="card ml-0 mr-0 fill">
          <h3 _ngcontent-xcm-c71="">{% trans 'Настройки учётной записи' %}</h3>
          <div _ngcontent-xcm-c71="" class="card-body">

            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}

              <!-- Кнопка скрола содержимого дива влево вправо если ширина выходит за рамки допустимого -->
              <!-- <div _ngcontent-xcm-c71="" class="table-responsive"> -->

                <table _ngcontent-gox-c51="" class="account-settings-table">
                  <!-- <tr _ngcontent-gox-c51="">
                    <th _ngcontent-gox-c51="">Название области слева</th>
                    <th _ngcontent-gox-c51="">Название области справа</th>
                  </tr> -->

                  <tr _ngcontent-gox-c51="">
                    <td _ngcontent-gox-c51="">{% trans 'Имя пользователя' %}:</td>
                    <td _ngcontent-gox-c51="">
                      {{ user.username }}
                    </td>
                  </tr>
                  <tr _ngcontent-gox-c51="">
                    <td _ngcontent-gox-c51="">{% trans 'Адрес электронной почты' %}:</td>
                    <td _ngcontent-gox-c51="">
                      {{ user.email }}
                    </td>
                  </tr>
                  <tr _ngcontent-gox-c51="">
                    <td _ngcontent-gox-c51="">{% trans 'Дата создания учётной записи' %}:</td>
                    <td _ngcontent-gox-c51="">
                      {{ user.date_joined }}
                    </td>
                  </tr>
                </table>

                <br><br>

                <table _ngcontent-gox-c51="" class="account-settings-table">

                  <!-- <tr _ngcontent-gox-c51="">
                    <th _ngcontent-gox-c51="">Название области слева</th>
                    <th _ngcontent-gox-c51="">Название области справа</th>
                  </tr> -->

                  <!-- С помощью максимальной ширины можно менять макс заполняемость области -->
                  <!-- <tr _ngcontent-gox-c51="">
                    <td _ngcontent-gox-c51="" style="max-width: 200px;">Название области слева</td>
                    <td _ngcontent-gox-c51="" class="text-right">Название области справа</td>
                  </tr> -->

                  <div id="avatar-text"></div>
                  <div id="cropper-image-box"></div>
                  <div id="avatar-name"></div>

                  <tr _ngcontent-gox-c51="">
                    <td _ngcontent-gox-c51="">{{ form.avatar.label }}:</td>

                    <td _ngcontent-gox-c51="">

                      <div class="image-upload">
                        <label _ngcontent-hfk-c11="" for="{{ form.avatar.auto_id }}">
                          <img _ngcontent-xcm-c57="" class="file-input-image" src="{{ user.get_avatar }}">
                        </label>

                        <label class="img-upload-icon">
                          <i _ngcontent-xcm-c57="" class="material-icons"
                            style="font-size: 18px; margin: auto;">upload</i>
                        </label>

                        <input type="{{ form.avatar.field.widget.input_type }}" name="{{ form.avatar.name }}"
                          accept="image/*" id="{{ form.avatar.auto_id }}">

                        <label class="img-delete-btn" for="id_delete_avatar_btn">
                          <i _ngcontent-xcm-c57="" class="material-icons"
                            style="font-size: 18px; margin: auto;">delete_forever</i>
                        </label>

                        <button _ngcontent-hfk-c11="" name="DELETE_AVATAR"
                          value="" id="id_delete_avatar_btn">
                        </button>
                      </div>

                    </td>
                  </tr>

                  <tr _ngcontent-gox-c51="">
                    <td _ngcontent-gox-c51="">{{ form.first_name.label }}:</td>
                    <td _ngcontent-gox-c51="">
                      {{ form.first_name }}
                    </td>
                  </tr>

                  <tr _ngcontent-gox-c51="">
                    <td _ngcontent-gox-c51="">{{ form.last_name.label }}:</td>
                    <td _ngcontent-gox-c51="">
                      {{ form.last_name }}
                    </td>
                  </tr>

                  <tr _ngcontent-gox-c51="">
                    <td _ngcontent-gox-c51="">{{ form.birth_date.label }}:</td>
                    <td _ngcontent-gox-c51="">
                      {{ form.birth_date }}
                    </td>
                  </tr>

                  <tr _ngcontent-gox-c51="">
                    <td _ngcontent-gox-c51="">{{ form.gender.label }}:</td>
                    <td _ngcontent-gox-c51="">
                      {{ form.gender }}
                    </td>
                  </tr>

                  <tr _ngcontent-gox-c51="">
                    <td _ngcontent-gox-c51="">{{ form.game_class.label }}:</td>
                    <td _ngcontent-gox-c51="">
                      {{ form.game_class }}
                    </td>
                  </tr>

                  <tr _ngcontent-gox-c51="">
                    <td _ngcontent-gox-c51="">{{ form.discord_username.label }}:</td>
                    <td _ngcontent-gox-c51="">
                      {{ form.discord_username }}
                    </td>
                  </tr>

                  <tr _ngcontent-gox-c51="">
                    <td _ngcontent-gox-c51="">{{ form.battlenet_username.label }}:</td>
                    <td _ngcontent-gox-c51="">
                      {{ form.battlenet_username }}
                    </td>
                  </tr>

                  <tr _ngcontent-gox-c51="">
                    <td _ngcontent-gox-c51="">{{ form.twitch_link.label }}:</td>
                    <td _ngcontent-gox-c51="">
                      {{ form.twitch_link }}
                    </td>
                  </tr>

                  <tr _ngcontent-gox-c51="">
                    <td _ngcontent-gox-c51="">{{ form.dress_room_link.label }}:</td>
                    <td _ngcontent-gox-c51="">
                      {{ form.dress_room_link }}
                    </td>
                  </tr>

                  <tr _ngcontent-gox-c51="">
                    <td _ngcontent-gox-c51="">{{ form.subscribe_newsletter.label }}:</td>
                    <td _ngcontent-gox-c51="">
                      {{ form.subscribe_newsletter }}
                    </td>
                  </tr>

                  <tr _ngcontent-gox-c51="">
                    <td _ngcontent-gox-c51="">{{ form.subscribe_notify.label }}:</td>
                    <td _ngcontent-gox-c51="">
                      {{ form.subscribe_notify }}
                    </td>
                  </tr>

                </table>

              <!-- </div> -->

              <fieldset _ngcontent-xcm-c71="">
                <br _ngcontent-xcm-c71="">
                <br _ngcontent-xcm-c71="">
                <button _ngcontent-xcm-c71="" type="submit" class="btn-custom w-100% button-disabled" disabled>{% trans 'Сохранить' %}</button>
              </fieldset>
            </form>

            <script>
              const form_avatar_auto_id = '{{ form.avatar.auto_id }}';
              const form_game_class_auto_id = "{{ form.game_class.auto_id }}";
              const trans_maximum_three_game_classes = "{% trans 'Вы можете выбрать максимум 3 игровых класса.' %}";
            </script>
            <script src="{% static 'main_app/javascript/accounts/account_settings_top.js' %}"></script>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js" 
            integrity="sha512-rMGGF4wg1R73ehtnxXBt5mbUfN9JUJwbk21KMlnLZDJh7BkPmeovBuddZCENJddHYYMkCh9hPFnPmS9sspki8g==" 
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

            <script>
              const trans_not_found = "{% trans 'Не найдено:' %}";
            </script>
            <script src="{% static 'main_app/javascript/accounts/account_settings_bottom.js' %}"></script>

          </div>
        </div>
      </div>
    </div>
  </div>
</app-account-edition-settings>
{% endblock %}
