{% extends 'main_app/base.html' %}

{% load static %}
{% load i18n %}

{% block head %}

<link rel="stylesheet" href="{% static 'main_app/css/auths/contact_me.css' %}">

{% endblock %}

{% block body %}
<app-contact _nghost-xpp-c83="" class="ng-star-inserted">
  <div _ngcontent-xpp-c83="" class="container mt-md-5">
    <div _ngcontent-xpp-c83="" class="row">
      <div _ngcontent-xpp-c83="" class="col-12 p-0 fill">
        <div _ngcontent-xpp-c83="" class="card ml-0 mr-0 fill">
          <h3 _ngcontent-xpp-c83="">{% trans 'Обратная связь' %}</h3>
          <div _ngcontent-xpp-c83="" class="card-body">

            <form method="POST">
              {% csrf_token %}

              {% if user.is_authenticated %}
                <fieldset _ngcontent-xpp-c83="">
                  <div _ngcontent-xpp-c83="" class="form-label" style="padding-bottom: 5px;">
                    {% trans 'Текущий адрес электронной почты' %}
                  </div>
                  <input _ngcontent-xpp-c83="" type="email" name="email" value="{{ user.email }}" id="id_email"
                    readonly="" style="font-family: sans-serif; font-size: 16px; opacity: 0.6;">
                </fieldset>
              {% else %}
                <fieldset _ngcontent-xpp-c83="">
                  <div _ngcontent-xpp-c83="" class="form-label ng-star-inserted">&nbsp;</div>
                  {{ form.email }}
                </fieldset>
              {% endif %}

              <fieldset _ngcontent-xpp-c83="">
                <div _ngcontent-xpp-c83="" class="form-label ng-star-inserted">&nbsp;</div>
                {{ form.message }}
              </fieldset>

              <fieldset _ngcontent-xpp-c83="">
                <div _ngcontent-xpp-c83="" id="recaptcha" class="d-inline-block mt-3">
                  {{ form.captcha }}
                </div>
              </fieldset>

              <fieldset _ngcontent-xpp-c83="">
                <br _ngcontent-xpp-c83="">
                <button _ngcontent-xpp-c83="" type="submit" class="mat-tooltip-trigger btn-custom w-100% disabled" disabled
                  aria-describedby="cdk-describedby-message-106" cdk-describedby-host="">{% trans 'Отправить' %}
                </button>
              </fieldset>
            </form>

            <script src="{% static 'main_app/javascript/auths/contact_me.js' %}"></script>

          </div>
        </div>
      </div>
    </div>
  </div>
</app-contact>
{% endblock %}
