{% extends 'main_app/base.html' %}

{% load static %}
{% load i18n %}
{% load main_app_tags %}

{% block head %}

<link rel="stylesheet" href="{{ 'main_app/css/auths/login.css' | cachebuster }}">

<style>
  .checkBox[_ngcontent-xpp-c82]:after {
    content: "{% trans 'НЕТ' %}";
  }
  .checkBox[_ngcontent-xpp-c82]:before {
    content: "{% trans 'ДА' %}";
  }
</style>

{% endblock %}

{% block body %}
<app-login _nghost-xpp-c82="" class="ng-star-inserted">

  <div _ngcontent-xpp-c82="" class="container mt-md-5">
    <div _ngcontent-xpp-c82="" class="row">
      <div _ngcontent-xpp-c82="" class="col-12 p-0 fill">
        <div _ngcontent-xpp-c82="" class="card ml-0 mr-0 fill">
          <h3 _ngcontent-xpp-c82="">{% trans 'Вход в аккаунт' %}</h3>
          <div _ngcontent-xpp-c82="" class="card-body">

            <form action="{% url 'login' %}" method="POST">
              {% csrf_token %}

              <fieldset _ngcontent-xpp-c82="">
                <div _ngcontent-xpp-c82="" class="form-label ng-star-inserted">&nbsp;</div>
                {{ form.username }}
              </fieldset>

              <fieldset _ngcontent-xpp-c82="">
                <div _ngcontent-xpp-c82="" class="form-label ng-star-inserted">&nbsp;</div>
                {{ form.password }}
                <p _ngcontent-xpp-c82="">
                  <a _ngcontent-xpp-c82="" class="stay-connected2" href="{% url 'password_reset1' %}">{% trans 'Забыли пароль?' %}</a>
                </p>
              </fieldset>

              <div _ngcontent-xpp-c82="" class="maxWidth300 text-left">
                <span _ngcontent-xpp-c82="" class="stay-connected">{% trans 'Запомнить меня' %}</span>
                <div _ngcontent-xpp-c82="" class="checkBox">
                  {{ form.remember_me }}
                  <label _ngcontent-xpp-c82="" for="stay-connected"></label>
                </div>
              </div>

              <br _ngcontent-xpp-c82="">

              <fieldset _ngcontent-xpp-c82="">
                <button _ngcontent-xpp-c82="" type="submit" class="maxWidth123 w-100 btn-custom">{% trans 'Войти' %}</button>
              </fieldset>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>

  <app-avantages-account _ngcontent-xpp-c82="" _nghost-xpp-c81="">
    <div _ngcontent-xpp-c81="" class="mt-5 py-4 text-connect">
      <br _ngcontent-xpp-c81="">
      <h4 _ngcontent-xpp-c81="">{% trans 'Преимущества авторизованных пользователей' %}</h4>
      <br _ngcontent-xpp-c81="">
      <ul _ngcontent-xpp-c81="" style="position: relative; right: 10px; margin-bottom: 25px; margin-top: 10px;">
        <li _ngcontent-xpp-c81="">{% trans 'Возможность оставлять положительные или отрицательные оценки, а так же комментарии на странице «Гайды».' %}</li>
        <li _ngcontent-xpp-c81="">{% trans 'Возможность получать уведомления или письма по почте от администрации и от других пользователей которые отвечают на ваш комментарий или ставят ему оценку.' %}</li>
        <li _ngcontent-xpp-c81="">{% trans 'Возможность гибкой настройки профиля, например: Аватара, Имени, Игровых классов, ссылок на ваши discord, battlenet, twitch профили и т.д.<br>Так же доступна смена пароля, почты, и полного удаления аккаунта.' %}</li>
        <li _ngcontent-xpp-c81="">{% trans 'Возможность получения доступа для редактирования созданной вами модели на странице «Примерочная» со всех устройств где вы войдёте в аккаунт, а не только на устройстве на котором была создана модель.' %}</li>
      </ul>
    </div>
  </app-avantages-account>

</app-login>
{% endblock %}
