{% extends 'main_app/base.html' %}

{% load static %}
{% load i18n %}
{% load main_app_tags %}

{% block head %}

<link rel="stylesheet" href="{{ 'main_app/css/auths/password_reset2.css' | cachebuster }}">

{% endblock %}

{% block body %}
<app-forgotten-password _nghost-bgn-c87="" class="ng-star-inserted">
  <div _ngcontent-bgn-c87="" class="container mt-md-5">
    <div _ngcontent-bgn-c87="" class="row">
      <div _ngcontent-bgn-c87="" class="col-12 p-0 fill">
        <div _ngcontent-bgn-c87="" class="card ml-0 mr-0 fill">
          <h3 _ngcontent-bgn-c87="">{% trans 'Восстановление пароля' %}</h3>
          <div _ngcontent-bgn-c87="" class="card-body">
            <span _ngcontent-bgn-c87="">

              <fieldset _ngcontent-bgn-c87="" class="text-success ng-star-inserted" style="margin-bottom: -8px;">
                {% trans 'Письмо успешно отправлено, не забудьте проверить вкладку спам у себя на почте.' %}
                <p _ngcontent-bgn-c87="" id="hider2" class="mt-3 text-success ng-star-inserted">
                  {% trans 'Если вы не получили электронное письмо, нажмите на текст ниже для повторной отправки.' %}
                  <br _ngcontent-bgn-c87="">
                  <br _ngcontent-bgn-c87="">

                  <script>
                    function color_btn_text(arg) {
                      if ("INPUT" == event.srcElement.tagName) {
                        event.srcElement.className=arg;
                      };
                    };
                  </script>

                  <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="email" value="{{ email_value }}">
                    <input class="forgotten-msg2-color-text" type="submit" value="{% trans 'Отправить письмо еще раз' %}"
                      onmouseover="color_btn_text('hover')" onmouseout="color_btn_text('not-hover')">
                  </form>

                </p>
              </fieldset>

            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-forgotten-password>
{% endblock %}
