{% extends 'main_app/base.html' %}

{% load static %}
{% load i18n %}

{% block head %}

<link rel="stylesheet" href="{% static 'main_app/css/auths/password_reset_done.css' %}">

{% endblock %}

{% block body %}
<app-forgotten-password _nghost-bgn-c87="" class="ng-star-inserted">
  <div _ngcontent-bgn-c87="" class="container mt-md-5">
    <div _ngcontent-bgn-c87="" class="row">
      <div _ngcontent-bgn-c87="" class="col-12 p-0 fill">
        <div _ngcontent-bgn-c87="" class="card ml-0 mr-0 fill">
          <h3 _ngcontent-bgn-c87="">{% trans 'Восстановление пароля' %}</h3>
          <div _ngcontent-bgn-c87="" class="card-body">
            <span _ngcontent-bgn-c87="">
              <fieldset _ngcontent-bgn-c87="" class="text-success ng-star-inserted">
                {% trans 'Письмо успешно отправлено, не забудьте проверить вкладку спам у себя на почте.' %}
              </fieldset>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-forgotten-password>
{% endblock %}
