{% extends 'main_app/base.html' %}

{% load static %}
{% load i18n %}
{% load main_app_tags %}

{% block head %}

<link rel="stylesheet" href="{{ 'main_app/css/auths/password_reset_confirm.css' | cachebuster }}">

{% endblock %}

{% block body %}
<app-reset-password _nghost-otd-c88="">
  <div _ngcontent-otd-c88="" class="container mt-md-5">
    <div _ngcontent-otd-c88="" class="row">
      <div _ngcontent-otd-c88="" class="col-12 p-0 fill">
        <div _ngcontent-otd-c88="" class="card ml-0 mr-0 fill">
          <h3 _ngcontent-otd-c88="">{% trans 'Новый пароль' %}</h3>
          <div _ngcontent-otd-c88="" class="card-body">

            {% if validlink %}
              <form method="POST">
                {% csrf_token %}
                <fieldset _ngcontent-otd-c88="">
                  <div _ngcontent-otd-c88="" class="form-label">&nbsp;</div>
                  {{ form.new_password1 }}
                </fieldset>

                <fieldset _ngcontent-otd-c88="">
                  <div _ngcontent-otd-c88="" class="form-label">&nbsp;</div>
                  {{ form.new_password2 }}
                </fieldset>

                <fieldset _ngcontent-otd-c88="">
                  <br _ngcontent-otd-c88="">
                  <button _ngcontent-otd-c88="" type="submit" class="btn-custom w-100%">{% trans 'Сохранить' %}</button>
                </fieldset>
              </form>
            {% else %}
              <p>{% trans 'Ссылка для сброса пароля была недействительной, возможно, потому, что она уже использовалась.  Пожалуйста, запросите сброс нового пароля.' %}</p>
            {% endif %}

          </div>
        </div>
      </div>
    </div>
  </div>
</app-reset-password>
{% endblock %}
