{% extends 'main_app/base.html' %}

{% load static %}
{% load i18n %}
{% load main_app_tags %}

{% block head %}

<link rel="stylesheet" href="{{ 'main_app/css/auths/password_reset_complete.css' | cachebuster }}">

{% endblock %}

{% block body %}
<app-forgotten-password _nghost-bgn-c87="" class="ng-star-inserted">
  <div _ngcontent-bgn-c87="" class="container mt-md-5">
    <div _ngcontent-bgn-c87="" class="row">
      <div _ngcontent-bgn-c87="" class="col-12 p-0 fill">
        <div _ngcontent-bgn-c87="" class="card ml-0 mr-0 fill">
          <h3 _ngcontent-bgn-c87="">{% trans 'Восстановление пароля успешно завершено' %}</h3>
          <div _ngcontent-bgn-c87="" class="card-body">
            <span _ngcontent-bgn-c87="">

              <fieldset _ngcontent-bgn-c87="" class="text-success ng-star-inserted">
                {% trans 'Для авторизации в своём аккаунте нажмите на кнопку «Войти»' %}

                <p _ngcontent-bgn-c87="" id="hider2" class="mt-5 text-success ng-star-inserted">
                  <ul _ngcontent-gox-c59="" class="navbar-nav" style="width: 85px; margin-bottom: -10px;">
                    <li _ngcontent-gox-c59="" class="nav-item">
                      <a _ngcontent-gox-c59="" class="nav-link" href="{% url 'login' %}">{% trans 'Войти' %}</a>
                    </li>
                  </ul>
                </p>

              </fieldset>

            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-forgotten-password>
{% endblock %}
