{% extends 'main_app/base.html' %}

{% load static %}
{% load i18n %}

{% block head %}
<style>
  input[_ngcontent-bgn-c87],
  input[_ngcontent-bgn-c87]:focus,
  textarea[_ngcontent-bgn-c87],
  textarea[_ngcontent-bgn-c87]:focus {
    background-color: #181618;
    border: 1px solid #454545;
    font-family: Poppins;
    color: #dadada;
    box-shadow: none;
    text-align: center;
    width: 100%;
    max-width: 300px;
    padding: 10px;
    outline: none
  }
  input[_ngcontent-bgn-c87]::-moz-placeholder {
    color: #4b4b4b
  }
  input[_ngcontent-bgn-c87]::placeholder {
    color: #4b4b4b
  }
  textarea[_ngcontent-bgn-c87] {
    resize: none
  }
  .container[_ngcontent-bgn-c87] {
    max-width: 600px;
    margin: auto
  }
  fieldset[_ngcontent-bgn-c87] {
    border: none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%
  }
  fieldset.text-danger[_ngcontent-bgn-c87],
  fieldset.text-success[_ngcontent-bgn-c87],
  fieldset.text-warning[_ngcontent-bgn-c87] {
    font-size: 13px
  }
</style>
{% endblock %}

{% block menu %}
<ul _ngcontent-gox-c59="" class="navbar-nav">
  {% if user.is_superuser %}
    <li _ngcontent-gox-c59="" class="nav-item">
      <a _ngcontent-gox-c59="" class="nav-link" target="_BLANK" href="/admin/">admin</a>
    </li>
  {% endif %}
  <li _ngcontent-gox-c59="" class="nav-item">
    <a _ngcontent-gox-c59="" class="nav-link" href="{% url 'home' %}">{% trans 'Главная' %}</a>
  </li>
  <li _ngcontent-gox-c59="" class="nav-item">
    <a _ngcontent-gox-c59="" class="nav-link" href="{% url 'guides' %}">{% trans 'Гайды' %}</a>
  </li>
  <li _ngcontent-gox-c59="" class="nav-item">
    <a _ngcontent-gox-c59="" class="nav-link" href="{% url 'game_chat' %}">{% trans 'Игровой чат' %}</a>
  </li>
  <li _ngcontent-gox-c59="" class="nav-item">
    <a _ngcontent-gox-c59="" class="nav-link" href="{% url 'streams' %}">{% trans 'Стримы' %}
      <span class="badge badge-dark ng-star-inserted">{{ twitch_stream_count }}</span>
    </a>
  </li>
  <li _ngcontent-gox-c59="" class="nav-item">
    <a _ngcontent-gox-c59="" class="nav-link" href="{% url 'ap_calculator' %}">{% trans 'Калькулятор апа' %}</a>
  </li>
  <li _ngcontent-gox-c59="" class="nav-item">
    <a _ngcontent-gox-c59="" class="nav-link" href="{% url 'register' %}">{% trans 'Регистрация' %}</a>
  </li>
  <li _ngcontent-gox-c59="" class="nav-item">
    <a _ngcontent-gox-c59="" class="nav-link" href="{% url 'login' %}">{% trans 'Войти' %}</a>
  </li>
  <li _ngcontent-gox-c59="" class="nav-item dev-chat">
    <a _ngcontent-gox-c59="" class="nav-link" target="_BLANK" href="{% url 'dev_chat' %}">
      <img _ngcontent-gox-c59="" src="{% static 'main_app/images/dev_chat_btn.png' %}">
    </a>
  </li>
</ul>
{% endblock %}

{% block body %}
<app-forgotten-password _nghost-bgn-c87="" class="ng-star-inserted">
  <div _ngcontent-bgn-c87="" class="container mt-md-5">
    <div _ngcontent-bgn-c87="" class="row">
      <div _ngcontent-bgn-c87="" class="col-12 p-0 fill">
        <div _ngcontent-bgn-c87="" class="card ml-0 mr-0 fill">
          <h3 _ngcontent-bgn-c87="">{% trans 'Восстановление пароля' %}</h3>
          <div _ngcontent-bgn-c87="" class="card-body">
            <span _ngcontent-bgn-c87=""></span>
            <span _ngcontent-bgn-c87="" class="ng-star-inserted">

              <fieldset _ngcontent-bgn-c87="">
                <div _ngcontent-bgn-c87="" class="form-label">
                  {% trans 'Введите адрес электронной почты, связанный с вашей учётной записью, затем нажмите кнопку «Сбросить пароль». Вы получите электронное письмо на указанную почту со ссылкой для выбора нового пароля.' %}
                </div>
                <br _ngcontent-bgn-c87="">
              </fieldset>

              <form action="{% url 'password_reset1' %}" method="POST">
                {% csrf_token %}

                <fieldset _ngcontent-bgn-c87="">
                  {{ form.email }}
                </fieldset>

                <fieldset _ngcontent-bgn-c87="">
                  <br _ngcontent-bgn-c87="">
                  <button _ngcontent-bgn-c87="" class="btn-custom w-100%" type="submit">{% trans 'Сбросить пароль' %}</button>
                </fieldset>
              </form>

            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-forgotten-password>
{% endblock %}
