{% extends 'main_app/base.html' %}

{% load static %}
{% load i18n %}

{% block head %}

<link rel="stylesheet" href="{% static 'main_app/css/auths/password_reset1.css' %}">

{% endblock %}

{% block body %}
<app-forgotten-password _nghost-bgn-c87="" class="ng-star-inserted">
  <div _ngcontent-bgn-c87="" class="container mt-md-5">
    <div _ngcontent-bgn-c87="" class="row">
      <div _ngcontent-bgn-c87="" class="col-12 p-0 fill">
        <div _ngcontent-bgn-c87="" class="card ml-0 mr-0 fill">
          <h3 _ngcontent-bgn-c87="">{% trans 'Восстановление пароля' %}</h3>
          <div _ngcontent-bgn-c87="" class="card-body">
            <span _ngcontent-bgn-c87=""></span>
            <span _ngcontent-bgn-c87="" class="ng-star-inserted">

              <fieldset _ngcontent-bgn-c87="">
                <div _ngcontent-bgn-c87="" class="form-label">
                  {% trans 'Введите адрес электронной почты, связанный с вашей учётной записью, затем нажмите кнопку «Сбросить пароль». Вы получите электронное письмо на указанную почту со ссылкой для выбора нового пароля.' %}
                </div>
                <br _ngcontent-bgn-c87="">
              </fieldset>

              <form action="{% url 'password_reset1' %}" method="POST">
                {% csrf_token %}

                <fieldset _ngcontent-bgn-c87="">
                  {{ form.email }}
                </fieldset>

                <fieldset _ngcontent-bgn-c87="">
                  <br _ngcontent-bgn-c87="">
                  <button _ngcontent-bgn-c87="" class="btn-custom w-100%" type="submit">{% trans 'Сбросить пароль' %}</button>
                </fieldset>
              </form>

            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-forgotten-password>
{% endblock %}
