{% extends 'main_app/base.html' %}

{% load static %}
{% load i18n %}

{% block head %}

<link rel="stylesheet" href="{% static 'main_app/css/auths/register.css' %}">

{% endblock %}

{% block body %}
<app-register _nghost-xpp-c83="" class="ng-star-inserted">
  <div _ngcontent-xpp-c83="" class="container mt-md-5">
    <div _ngcontent-xpp-c83="" class="row">
      <div _ngcontent-xpp-c83="" class="col-12 p-0 fill">
        <div _ngcontent-xpp-c83="" class="card ml-0 mr-0 fill">
          <h3 _ngcontent-xpp-c83="">{% trans 'Регистрация аккаунта' %}</h3>

          <div _ngcontent-xpp-c83="" class="card-body">
            <form method="POST">
              {% csrf_token %}

              <fieldset _ngcontent-xpp-c83="">
                <div _ngcontent-xpp-c83="" class="form-label ng-star-inserted">&nbsp;</div>
                {{ form.username }}
              </fieldset>

              <fieldset _ngcontent-xpp-c83="">
                <div _ngcontent-xpp-c83="" class="form-label ng-star-inserted">&nbsp;</div>
                {{ form.password1 }}
              </fieldset>

              <fieldset _ngcontent-xpp-c83="">
                <div _ngcontent-xpp-c83="" class="form-label ng-star-inserted">&nbsp;</div>
                {{ form.password2 }}
              </fieldset>

              <fieldset _ngcontent-xpp-c83="">
                <div _ngcontent-xpp-c83="" class="form-label ng-star-inserted">&nbsp;</div>
                {{ form.email }}
              </fieldset>

              <fieldset _ngcontent-xpp-c83="">
                <label _ngcontent-xpp-c83="" for="cgu" class="cgu-container">
                  {{ form.accept_terms }}
                  <span _ngcontent-xpp-c83="">{% trans 'Я соглашаюсь с' %}
                    &nbsp;
                    <a href="{% url 'terms_of_use' %}" target="_BLANK">{% trans 'Политикой конфиденциальности' %}</a>
                  </span>
                </label>
              </fieldset>

              <fieldset _ngcontent-xpp-c83="">
                <div _ngcontent-xpp-c83="" id="recaptcha" class="d-inline-block mt-3">
                  {{ form.captcha }}
                </div>
              </fieldset>

              <fieldset _ngcontent-xpp-c83="">
                <br _ngcontent-xpp-c83="">
                <button _ngcontent-xpp-c83="" type="submit" class="mat-tooltip-trigger btn-custom w-100% disabled" disabled
                  aria-describedby="cdk-describedby-message-106" cdk-describedby-host="">{% trans 'Регистрация' %}
                </button>
              </fieldset>
            </form>
          </div>

          <script src="{% static 'main_app/javascript/auths/register.js' %}"></script>

        </div>
      </div>
    </div>
  </div>
</app-register>
{% endblock %}
