textarea[_ngcontent-xcm-c64]:focus,
textarea[_ngcontent-xcm-c64],
input[_ngcontent-xcm-c64]:focus,
input[_ngcontent-xcm-c64] {
    background-color: #181618;
    border: 1px solid #454545;
    font-family: Poppins;
    color: #dadada;
    box-shadow: none;
    text-align: center;
    width: 100%;
    max-width: 300px;
    padding: 10px;
    outline: none
}

input[_ngcontent-xcm-c64]::-moz-placeholder {
    color: #4b4b4b
}

input[_ngcontent-xcm-c64]::placeholder {
    color: #4b4b4b
}

textarea[_ngcontent-xcm-c64] {
    resize: none
}

.container[_ngcontent-xcm-c64] {
    max-width: 600px;
    margin: auto
}

fieldset[_ngcontent-xcm-c64] {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%
}
