.pdng-l-r {
    padding-right: 2rem !important;
    padding-left: 2rem !important;
}

.guide-title-div {
    word-wrap: break-word;
}

.guide-title-h2 {
    text-align: left;
    vertical-align: top;
    display: inline-block;
    width: 70%;
    margin-right: 100%;
    margin-top: 5px;
    text-decoration: none !important;
}

.guide-title-time-div {
    text-align: right;
    display: inline-block;
    width: 30%;
    margin-left: -100%;
}

.guide-div {
    display: inline-flex;
}

.guide-main_image-p {
    width: 200px;
    margin-right: 15px;
    margin-bottom: 0px;
}

.guide-content-p {
    /* min-width: 64%; */
    max-width: 64%;
}

.guide-is-published-icon:before {
    position: relative;
    bottom: 5px;
}

.guide-is-published-text {
    font-size: 16px;
    position: relative;
    bottom: 7px;
    color: white;
}

.guide-all-icons-container {
    display: flex;
    position: relative;
    height: 24px;
    margin-left: auto;
    margin-top: auto;
}

.guide-all-icons-div {
    display: inline-flex;
    height: 24px;
    margin-top: auto;
    margin-left: auto;
}

/* Если мы на мобильном */
@media screen and (max-width: 800px) {
    .pdng-l-r {
        padding-right: 0rem !important;
        padding-left: 0rem !important;
    }

    .guide-title-h2 {
        width: 100%;
        margin-right: 0%;
    }

    .guide-title-time-div {
        width: 100%;
        margin-left: 0%;
        margin-top: 10px;
    }

    .guide-div {
        display: block;
    }

    .guide-main_image-p {
        width: 100%;
        margin-right: 0px;
        margin-top: 20px;
        margin-bottom: 7px;
    }

    .guide-content-p {
        max-width: 100%;
        text-align: center;
    }
}


.img-delete-btn1 {
    margin: auto;
    width: 24px;
    height: 24px;
    position: relative;
    right: 0px;
    bottom: -7.5px;
    user-select: none;
    /* отключение выделения при дабл клике по элементу */
}


.img-delete-btn1 label {
    position: relative;
    left: 6.5px;
    bottom: 6.5px;
}
